[2017-01-31 15:14] ket4yii opened #1 "Ldap authentication"
It would be great if you can make this feature. This was the reason why we've made our own fork of PHPCI.

[2017-01-31 15:17] ketchoop opened #2 "TravisCI-like syntax of shell plugin"
Current version of this plugin is so inconvenient. Travis-like syntax would be better.

[2017-01-31 15:26] corpsee commented on #1
It has done already with your help (https://github.com/corpsee/php-censor/compare/0.5.0...0.6.0) =)
I used your commits with some modifications.

See https://github.com/corpsee/php-censor/releases/tag/0.6.0. Thanks for your fork!

[2017-01-31 15:35] corpsee commented on #2
I'll think about it. It would be great if you gave an example of the shell plugin configuration which will better.

[2017-01-31 15:38] #1 closed

[2017-02-01 15:46] ket4yii commented on #2
Specifying branches for commands in this plugin is so ugly. Now, you've got to use bash's if expressions(or [  ]) to do something special for branch.

More likely:

[code]

[2017-02-01 16:05] corpsee commented on #2
There are global brunch filter. Something like that:
[code]
It's not what you want?

[2017-02-01 16:30] ket4yii commented on #2
Wow, I didn't know about that. Could you give a link to the doc page where it's described?

[2017-02-01 16:42] corpsee commented on #2
fortunately this feature isn't described in the docs=( I'll try to fill this gap in the near future. Now I can say only that `run-option` may have value **`replace|before|after`**

[2017-02-01 16:46] corpsee commented on #2
I will not close the issue unless the docs will appear.

[2017-02-01 20:49] ket4yii commented on #2
Is it PHPCI feature or you implemented this? Anyway, it is very useful feature, but, unfortunately, haven't been described yet in docs as well as a lot of things in PHPCI(e.g. how to write plugins).

[2017-02-02 00:41] corpsee commented on #2
It is PHPCI feature.

[2017-02-03 09:26] ket4yii opened #3 "Localization troubles"
When you run php-censor:install the first question is: %%MISSING STRING: enter_db_type%%.

P.S. Please, don't close this issue after you work it out. If I find some troubles with a l8n I will post them here.

[2017-02-03 22:25] ket4yii opened #4 "Not necessary message about nonexistent update command"
If config.yml exists and you run install command  it shows you message about update command, but this command has been deleted. I think [this line](https://github.com/corpsee/php-censor/blob/master/src/PHPCensor/Command/InstallCommand.php#L470) is redundant

[2017-02-04 01:48] corpsee commented on #4
Yes, you are right. Thanks.
I'm just doing a little commands refactoring in the separate branch, where it will be fixed.

[2017-02-04 19:17] ketchoop opened #5 "[Question] How can I initialize phpcensor?"
If I've got config.yml I can't use **install** command, but I have to initialize database and beanstalk queue. And there is no update command in **console**.

[2017-02-04 19:23] ket4yii commented on #5
Oh, I found migration command. A problem with db initialization have been solved. Let me check how beanstalk queue and and if there are no problems with it I'm going to close this issue.

[2017-02-04 19:44] ket4yii commented on #5
It's OK. It was too impatient to open this issue, sorry.

[2017-02-05 02:25] corpsee commented on #5
That's all right) By the way, cron-worker doesn't need queue (It is may be skipped), but worker need.

[2017-02-05 02:38] ket4yii commented on #5
I think cron worker really strange and bad thing. I'm gonna make worker containers with worker command as entrypoint. You can't move cron-workers to separate servers and it's really strange think to use cron for making infinite loop just to check build queue(I'm not really familiar with PHP core, but there are no ways to make loop, aren't there?). Also, in docs there are many strange things like u

[2017-02-05 02:42] ket4yii opened #6 "[Bug] Postgresql default port."
If somebody use postgresql as backend database for phpcensor he have to explicitly pass database port even this port is standard for postgresql. I think phpcensor pass to phinx default mysql port.

[2017-02-05 03:04] corpsee commented on #5
Cron is normal solving for one worker and every minute restart ensures that worker runs.
You may run worker without supervisord with nohub, but if worker crashed, it won't up.

P.S.: I think that you may use SystemD instead of SupervisorD for demonization theoreticaly)

[2017-02-05 03:08] corpsee commented on #6
I fixed that in separate branch. I will merge branch when have made all changes.

[2017-02-05 03:11] ket4yii opened #7 "Worker doesn't stop when you delete a build."
It's very annoying and old problem. When you delete build worker still make it. Is it possible to fix it and just stop making a build. Sometimes problems with build hangs you worker and the only way to solve the problem that is to restart workers.

[2017-02-05 03:15] corpsee commented on #7
I'll think about how to solve this problem

[2017-02-05 03:21] ket4yii commented on #5
Yes, I know. But it was about big size of supervisord and doing more steps to just run script in daemon mode:smile:. But it's not important. Anyway, I think it would be great to write about it in the docs.

[2017-02-05 03:22] ket4yii commented on #6
Thanks.

[2017-02-05 03:32] corpsee commented on #6
I will close the isssue when I will merge branch

[2017-02-05 07:37] vinpel opened #8 "create admin args"
Hello,
Could you add the "$input->getOption" to be able to create an admin from command line with response e in /src/PHPCensor/Command/CreateAdminCommand.php like it's done in install ?

Thanks you

[2017-02-05 07:38] vinpel opened #9 "[BUG] Defautl language set in bootstrap"
last line in /boostrap.php define language "ru" and ignore the "language" valuein the config.yml

[2017-02-05 08:24] corpsee commented on #9
Thanks!

[2017-02-05 08:27] corpsee commented on #8
I thought about this too. May I ask: for what purpose you use this command?

[2017-02-05 08:36] corpsee commented on #9
Fixed: https://github.com/corpsee/php-censor/commit/9d5fcf68343f835b93b46eaaef0261c10f6e6408

[2017-02-05 08:36] #9 closed

[2017-02-05 09:08] vinpel commented on #8
the goal is to start a container, if no php-censor install create one.
actualy i do :
  * Call install with all command line arguments an admin is created, (fixed the host=>port type in 0.7)
  * Replace the config.yml generated with a fully configured (worker ...) from container arguments

[2017-02-05 09:40] corpsee commented on #8
* Now config.yml have all options after installation (See https://github.com/corpsee/php-censor/blob/master/src/PHPCensor/Command/InstallCommand.php#L250)

* Now you can install PHP Censor non-interactive with prepared config.yml:

[code]
Today I have merged this changes into master. They will be included in version 0.8.0.

After that, the command CreateAdminCommand must become useless, right?

[2017-02-05 09:41] corpsee commented on #6
Fix in master. @ket4yii, Can you check it?

[2017-02-05 09:42] corpsee commented on #4
Fix in master. @ket4yii, Can you check it?

[2017-02-05 09:44] corpsee commented on #3
I removed localization from console commands (Because it doesn't work). @ket4yii, Can you check your issue in the master branch?

[2017-02-05 09:52] vinpel commented on #8
If i start a container with a config.yml, i may not have the same admin password so  i want to be sure, setting it again, so create admin on an existing configured php-censor instance.

[2017-02-05 09:57] corpsee commented on #8
Oк, I understood. Thanks.

[2017-02-05 11:04] corpsee commented on #8
Done.

[2017-02-05 11:04] #8 closed

[2017-02-05 11:46] ket4yii commented on #3
@corpsee it's ok.

[2017-02-05 11:47] ket4yii commented on #4
@corpsee It's ok. You can close it.

[2017-02-05 11:49] #3 closed

[2017-02-05 11:50] ket4yii commented on #6
It's ok. But in console message default port is shown empty.
Log:

[code]

[2017-02-05 11:50] #4 closed

[2017-02-05 11:52] corpsee commented on #5
@ket4yii Now you can use install command with config.yml instead options (excluding admin options):
[code]

[2017-02-05 11:54] corpsee commented on #6
It is ok, [empty] means that will be used connection without explicit port.

[2017-02-05 11:57] corpsee opened #10 "Implement roles and permissions"
Implement roles and permissions

[2017-02-05 12:00] #6 closed

[2017-02-05 12:00] ket4yii commented on #5
It's so good feature. I'm gonna change docker image according to this feature

[2017-02-05 13:12] vinpel commented on #8
thanks love it

[2017-02-05 13:22] ket4yii opened #11 "Can't change locale in phpcensor."
Now it throws an error when I try to do it:
``` SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: "" ```

[2017-02-05 13:24] ket4yii commented on #11
N.B. it happens only in web. If I change it by config it works fine.

[2017-02-05 13:42] corpsee commented on #11
Are you change locale for user?

[2017-02-05 13:47] corpsee commented on #11
Do you change locale for user? What DB type?

I could not reproduce :(

[2017-02-05 14:03] corpsee commented on #8
You are welcome!

[2017-02-05 14:07] ket4yii commented on #11
PGSQL, tried to change for admin user.

[2017-02-05 14:14] ket4yii commented on #11
Tried to do it with my docker-compose file.

[2017-02-05 14:15] corpsee commented on #11
Ok, I will try to reproduce

[2017-02-06 07:55] vinpel opened #12 "[Doc]"
You need a documentation for adding a github repostory.
For me i needed to do :
  * set github key in app/config.yml (when adding projet, it will list project in php-censor)
  * install the deploy key into the github project
  * create a new github projet
  * select github type
  * wait & select from the list the right project

if key error => deploy key not installed

the error message during the

[2017-02-06 07:58] vinpel opened #13 "[Feature] add gogs support"
Gogs : https://gogs.io/

In controller/WebhookController.php add this 2 methods to the class :
(not by me from a commit not accepted in phpci repo)

maybe create a gogs project type, actualy i need to set type : "remote url" and set authentification in the url)

[code]

[2017-02-06 11:36] corpsee commented on #13
@vinpel Are you using Gogs? Can you check the hooks after implementing?

[2017-02-06 13:27] ketchoop opened #14 "[Feature] Add secret storage in project"
It's just a killer feature that PHPCI hasn't (but a lot of CIs has).

## How it works:

* You add secrets in project settings
* They had been injected in system environment variables before project builds
* You can take them from env

## Use cases:

Add keys, passwords to deploy or something like these.

## Why it's better than inject them by env plugin:

Because of security. It's not good idea to

[2017-02-06 13:41] corpsee commented on #14
It is very useful feature! It would be great if you have implemented it.

P.S.: Now for this behavior you may use project config from project settings. It will replace project config from repository.

[2017-02-06 16:09] vinpel opened #15 "[Feature] Cache badge succes / failure"
viewing status badge is slow to me, i prefer to "cache" the badge image

my hacky implementation :

file : **/src/PHPCensor/Controller/BuildStatusController.php**
# Warning :  i' have used a fixed path in the code
[code]

[2017-02-07 07:36] vinpel commented on #13
I got an error 500 : {"status":"failed","error":"Wrong project type: remote"}

using branch "feature-gogs".

the code in the branch are :
[code]

but the gogs type doesn't exist.

The query done by gogs :

[code]

the payload :

[code]

[2017-02-07 12:53] corpsee commented on #13
@vinpel Thanks! Can you check one more time?

[2017-02-07 15:13] corpsee commented on #15
Done. Thanks for the enhancement!

[2017-02-07 15:13] #15 closed

[2017-02-07 16:07] vinpel commented on #13
With remote type => webhook OK
With gogs type => webhook Ok

with basic auth, not ssh key.

Thanks you

[2017-02-07 16:09] corpsee commented on #13
Thanks you for testing

[2017-02-07 16:09] #13 closed

[2017-02-09 14:18] vinpel opened #17 "[BUG] worker doesn't reload config between build"
Two case :

- Adding a projet will FAIL to build with error :
[code]
 - Every edit in php structure is not taken into account BEFORE i send a HUP signal to my worker

[2017-02-09 14:37] corpsee commented on #17
1. Ок, I will try to fix it soon

2. See #7

[2017-02-09 14:37] corpsee commented on #7
#17

[2017-02-12 17:18] corpsee commented on #17
@vinpel Can you check your first case in branch `bugfix-worker-config`?

[2017-02-12 20:42] vinpel opened #19 "[BUG] missing runtime//status_cache/ on creation"
when you do a fresh install from master, the directory is not created

[2017-02-12 22:17] vinpel commented on #17
seem fine now

[2017-02-12 22:21] vinpel opened #20 "[Bug] test github repo"
without Github token i créate a project :

"https://github.com/vinpel/php-Crypto"
empty private key
validate

when i try to test it i get :

[code]

maybe in case of clone error can you show the full command ?
here my path is duplicated multiple time

with "vinpel/php-Crypto" it work fine

[2017-02-13 01:32] corpsee commented on #17
Thanks

[2017-02-13 01:32] #17 closed

[2017-02-13 01:39] corpsee commented on #19
Thanks! Fixed

[2017-02-13 01:39] #19 closed

[2017-02-13 11:47] corpsee commented on #20
I will plan to rework 'create project' page soon. I agree that it is strange behavior.

[2017-02-13 18:02] vinpel commented on #20
I will list all the things for the create project

[2017-02-13 20:41] vinpel commented on #20
- Creating a projet is not set to  github field "Choose a GitHub repository:" still visible
- All error message must be more visible (red maybe)
- SSH key generated disappear if  get a validation error message
- Maybe test if possible if the repositories/directory is accessible :
    - host respond to ping / DNS
    - repository exist
    - no authorization problem
- add for Gogs and maybe other a

[2017-02-13 20:52] vinpel opened #21 "[Little bug] PHP Notice in edit.phtml"
i get undefine value  in log
[code]

[2017-02-13 20:53] vinpel opened #22 "[improvment] Option when launching a build"
apparently the debug option exist, maybe make it accessible via a drop down button
 - Build
 - Builld with debug

[2017-02-14 01:04] corpsee commented on #20
Thank you for cases, @vinpel!

[2017-02-14 01:07] corpsee commented on #22
It is good idea. I think it should be available only for admin.

[2017-02-14 09:30] vinpel opened #23 "[enhancement] build-status/view page"
minor modification if possible :
  * if logged, add link build detail : /build/view/ID
  * expose the commit message (they are visible on the build/view)

[2017-02-15 03:44] corpsee commented on #23
Great idea! Thanks.

[2017-02-15 13:21] corpsee commented on #21
Thanks. Fixed

[2017-02-15 13:21] #21 closed

[2017-02-15 13:24] corpsee commented on #20
Bug with repository reference from first message fixed. @vinpel Can you check it?

[2017-02-16 09:09] vinpel commented on #20
Bug is still present
i have HUP the worker, no change

My configuration (you can create the same project) :
(rest is empty)
![config](https://cloud.githubusercontent.com/assets/1699839/23014603/ef3e1290-f42f-11e6-8285-0a76448e13bd.png)

[2017-02-16 13:17] corpsee commented on #20
Are you sure that use latest master branch? I can not reproduce your case.
When I insert something like `https://github.com/<user>/<repository>` the input change it to `<user>/<repository>` and git clone work normally:
[code]

[2017-02-16 16:48] vinpel commented on #20
oh i got it ...

i have the last commit, BUT during my test i have forget to made the "composer install"

... and codemirror asset was not installed => javascript not working fine on the page

so yes it work in the last commit, so it work fine !

[2017-02-17 00:08] corpsee commented on #20
Great, thank you)

[2017-02-18 18:27] corpsee commented on #22
Done.

[2017-02-18 18:27] #22 closed

[2017-02-23 08:35] vinpel opened #26 "build.log field is "too small""
in table build, field log is a "text" witch is max 64k.

For somes build with  debug, it's too small, you loose informations

We don't have the end result but the build finish fine.

[2017-02-23 10:58] corpsee commented on #26
Thanks!

[2017-02-23 12:16] corpsee commented on #26
Fixed.

[2017-02-23 12:16] #26 closed

[2017-02-23 14:36] vinpel commented on #26
A 254ko log work like a charm, thanks !

[2017-02-24 05:45] corpsee commented on #11
Fixed. @ket4yii Can you check it, please?

[2017-02-24 09:14] corpsee opened #27 "Implement Security Checker plugin (from SensioLabs)"
Implement Security Checker plugin (from SensioLabs)
https://github.com/sensiolabs/security-checker

[2017-02-24 09:16] corpsee opened #28 "Add custom links in left menu"
Add custom links in left menu (Like project groups and archive links).

[2017-02-24 13:20] ket4yii commented on #11
Cool. I'm gonna check it ASAP.

[2017-02-24 13:27] ketchoop opened #29 "Logo for PHP Censor."
What about logo?) Because, sometimes I publishing containers and docker-compose files in some community repos and want to publish PHPCensor. With logo it'll be better:smile:.

[2017-02-24 13:39] corpsee commented on #29
I will try to make something, but I am not a good designer :smile:

[2017-03-02 16:47] vinpel opened #30 "error in shell plugin not really visible"
Hello,

The plugin wait for a exit code of 0 for each line.
When i start my build a shell script  ".sh" , the last command didn"t finish with this code.
So the shell plugin fail without red message.

Additionnaly, the shell plugin don't stop with the line who cause the error.

in my sample :
the line in error is :  "#Deploiement de l'application"
the "    - "%BUILD_PATH%vendor/bin/codecept build"

[2017-03-03 01:15] corpsee commented on #30
Thanks! I will try to fix it soon.

[2017-03-04 06:01] corpsee commented on #30
@vinpel Can you check fix (branch `bugfix-shell-plugin`)?

[2017-03-04 06:01] #11 closed

[2017-03-07 12:33] vinpel commented on #30
It work like a charm !

before :
[code]
After :
[code]

[2017-03-07 13:00] corpsee commented on #30
Excellent!

[2017-03-07 13:03] #30 closed

[2017-03-15 15:24] JoolsMcFly opened #32 "branch name in HomeController"
Hi,

at work we build multiple branches and it would be nice, in HomeController, to display the branch name a build was run on.

I modified our own copy of PHPCI to do that, including a dedicated check box in project edit form.
I am willing to port these changes over to php-censor. Would it be OK if I did that? If so, I'll make a PR for it later.

Waiting for your feeback.

Thanks!

[2017-03-15 15:43] corpsee commented on #32
Hi. I already implement it (I saw your PHPCI pull request) :smiling_imp:
![branch](https://cloud.githubusercontent.com/assets/1416706/23956874/6a21e972-09d0-11e7-91f7-ff373ab12705.png).

Can you check it is ok for you? Thanks)

[2017-03-15 20:54] JoolsMcFly commented on #32
I see! Very good, it does the trick.

Now I added something else next to the build time: build duration.
![image](https://cloud.githubusercontent.com/assets/4972399/23970363/c8987ec8-09c9-11e7-8fe9-4ab9b3c1c20a.png)

What do you think? Worth a PR and new issue?

[2017-03-16 00:43] corpsee commented on #32
Yes, create new PR with it and close this issue.

[2017-03-16 09:17] JoolsMcFly commented on #32
Sounds good, I'll do that soon.

[2017-03-16 09:17] #32 closed

[2017-03-16 21:14] ket4yii opened #38 "Something wrong with Plugin"
Maybe backward compatibility was broken:

RUNNING PLUGIN: \Ket4yii\PHPCI\Deployer\Plugin\Deployer (Stage: Success)
ErrorException: 1: Interface 'PHPCI\Plugin' not found in /var/www/html/vendor/ket4yii/phpci-deployer-plugin/Plugin/Deployer.php line 19 (uncaught exception) at /var/www/html/vendor/ket4yii/phpci-deployer-plugin/Plugin/Deployer.php line 19

[2017-03-16 21:17] ket4yii commented on #38
And after that I can't up a worker. Because of this:

worker_1  | [2017-03-16 21:15:18] WorkerCommand.INFO: Received build #5 from Beanstalkd [] []
worker_1  | [2017-03-16 21:15:18] WorkerCommand.WARNING: Build #5 does not exist in the database. [] []
worker_1  |
worker_1  |
worker_1  |   [ErrorException]
worker_1  |   Notice: Undefined variable: build in /var/www/html/src/PHPCensor/Worker/BuildWo

[2017-03-17 00:54] corpsee commented on #38
Yes, I changed PHPCI\Plugin interface to base Plugin class (I refactored plugins at the beginning of PHP Censor). I see two ways now:
1. Create separate PHP Censor plugin (php-censor-deployer-plugin in separate repository). (Like [PHP-Censor-Telegram-Plugin](https://github.com/LEXASOFT/PHP-Censor-Telegram-Plugin))
2. Add you plugin to main PHP Censor repository

[2017-03-17 00:57] corpsee commented on #38
@ket4yii If you will create separate repository, I may help to fix plugin for PHP Censor.

[2017-03-17 10:42] ket4yii commented on #38
It's done:)

[2017-03-17 10:42] #38 closed

[2017-03-25 18:58] ket4yii commented on #14
According to #41 it can be closed.

[2017-03-25 19:10] corpsee commented on #14
Hmm... Is #41 the same?? I was going to finish the secret storage by myself (and use your branch and code).

[2017-03-25 20:00] ket4yii commented on #14
Hmmm... Maybe #41 it will be not the same, if you use some encryption for example(like hashicorp vault). But that issue inject variables and allows you to use it in project, that looks the same as my idea. Anyway, maybe I'm not right.

[2017-03-25 20:07] ket4yii commented on #14
Or just use annotation(or yaml tags) for #41. Like
[code]

and after that it'll be:

[code]

[2017-03-25 22:55] ket4yii commented on #14
Sorry, it's my misunderstanding of #41. It's not about secrets. But my last comment will be good point about secrets(I like UI such as it;s in Travis, but with PHPCI framework doing it is torture)

[2017-03-26 02:42] corpsee commented on #14
:smile:

[2017-03-26 08:52] bochkovprivate commented on #14
+ 1 like.
It would be great if I could reference a secret from main yaml and that reference would be substituted by the value corresponding to the current project / environment.

[2017-03-29 18:53] SMstevesf opened #43 "Adding support for Wordpress Coding Standards"
Is there a way to add support for https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards in this current implementation. I tried installing and adding a custom route to the XML file, but CodeSniffer fails. `"WordPress-Core" coding standard is not installed. The installed coding standards are MySource, PEAR, PHPCS, PSR1, PSR2, Squiz and Zend` is the error I get.

[2017-03-30 01:32] corpsee commented on #43
Hi! I'll try to check it tonight. Thank you for feedback!

[2017-03-30 10:14] ValerioOnGithub commented on #43
Hello

Could you please try the following?
1. Add phpcs and wpcs to your composer.json
[code]

2. Modify the phpcs section in your .php-censor.yml:
[code]

It should work. The path to ruleset will be automaticaly set by composer after install/update (see [composer.json](https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/blob/develop/composer.json)).

[2017-03-30 10:29] ValerioOnGithub commented on #43
Update:

It doesn't work if you use wpcs as dependency so:
3. Update composer.json with the following:
`"scripts": {
    "post-install-cmd": "\"vendor/bin/phpcs\" --config-set installed_paths ../../../vendor/wp-coding-standards/wpcs",
    "post-update-cmd" : "\"vendor/bin/phpcs\" --config-set installed_paths ../../../vendor/wp-coding-standards/wpcs"
}`

[2017-03-30 10:35] corpsee commented on #43
@ValerioOnGithub Thx!

[2017-03-30 12:51] bochkovprivate opened #44 "Exception when run plugin without options"
I have a project like this:
[code]
When I run the build it fails with messages like this:
[code]

This happens for all plugins I ran without params. That is not the desired behaviour because all params for these plugins are optional.

The same time in PHPCI this configurations works.

If I add params than it works like a charm in php-censor.

Looks like the reason is the difference between php-cen

[2017-03-30 13:24] corpsee commented on #44
Thx @bochkovprivate! Fixed in master branch. Can you check it?

[2017-03-30 17:16] SMstevesf commented on #43
@ValerioOnGithub @corpsee Thanks for the quick replies. I'll give this a tweak and see if it works.

[2017-03-30 18:55] SMstevesf commented on #43
This works great! Thanks for the help

[2017-03-30 18:55] #43 closed

[2017-03-31 08:30] bochkovprivate commented on #44
Not working yet.
The options now occasionally pass from one plugin to anther. Here is what it looks like in the console:
[code]

[2017-03-31 09:21] vinpel opened #46 "proposal : test 1 commit against different php version, modules ..."
I want to be able to test my commit against 2 differents PHP configuration.

For me you need to :
  * inform php-censor about available php configuration
  * define php configuration to be tested agains in .php-censor.yml config
  * setup cron/worker to response to the correct PHP configuration

i propose a new variable "php_tags", it can be different version, différent plugin version ...

## Chan

[2017-03-31 12:05] corpsee commented on #44
I will try to fix it...

[2017-03-31 12:25] corpsee commented on #46
The idea is good and right, I also thought about this. But I see the implementation like this:

1. This should be in the environment settings
2. You don't need to make a special syntax for the PHP versions, it is better to implement the ability to send a specific environment to a specific worker (different queues, routs in the environment configuration etc.)
3. Runing different workers for the dif

[2017-03-31 12:38] vinpel commented on #46
yes fine, it will be important to have a full exemple with config to be clear about this feature

[2017-03-31 12:46] corpsee commented on #46
I will think about it seriously soon and try to add examples. I don't insist on my vision, I just propose to consider all variants before implementing such huge feature. Thanks for the idea and description!

Is it just a proposal or are you planning to implement it by yourself?

[2017-03-31 13:17] ss-gxp commented on #46
I thought about it, but:
- Until the project is cloned, it is impossible to know what environments are
- After cloning, we must merge the specified branches, but default branch may not contain fresh config
- When the committee in the branch, we need to know in what environments it is located

In accordance with this, it will not be possible to place information about the environments and their lin

[2017-03-31 13:22] ss-gxp commented on #46
I probably did not quite understand, you're talking about the configuration dependent on the environment?

[code]

[2017-03-31 13:32] corpsee commented on #46
@ss-gxp I understand you about build config (.php-censor.yml).
About "configuration dependent on the environment", - No) I want to add different env vars to the different environment (I don't write about it in this topic) and rout to specific group of workers.

[code]

[2017-04-01 04:52] corpsee commented on #44
@bochkovprivate I fixed this problem in branch `bugfix-44`. Can you check it, please?

[2017-04-01 13:50] ss-gxp opened #49 "Not optimal implementation of error recording"
Inserting errors into the database table occurs one at a time, which is not optimal. The real situation is the testing of legacy project, which generated more than 70 thousand errors. Testing went for more than an hour, and a significant part in my opinion is a record in the database. Using the bulk insert, can significantly increase the speed. In the current architecture, this is not possible, I

[2017-04-01 14:05] corpsee commented on #49
It sounds good. About `ErrorWriter` It is ok, but I not quite understend what for  `ErrorReader`.
Anyway I can tell something when I saw Pull Request and code if you going to make this enchancement. Thanks.

[2017-04-02 02:14] corpsee commented on #49
Fixed in #50

[2017-04-02 02:14] #49 closed

[2017-04-02 11:26] corpsee commented on #29
The first horrible try 😈
![3](https://cloud.githubusercontent.com/assets/1416706/24586739/d9b15534-17d1-11e7-831f-003340d2dfa1.png)

[2017-04-02 14:26] bochkovprivate commented on #44
Yes, now it works!
Thanks for great work man.

[2017-04-02 15:30] corpsee commented on #44
No problem :smile:

[2017-04-02 15:34] #44 closed

[2017-04-02 16:50] JoolsMcFly commented on #29
Ha ha nice try. I'll try to come up with something this week, see if I can do worse. :D

[2017-04-02 16:58] corpsee commented on #29
Ok :D

[2017-04-02 18:01] ket4yii commented on #29
@corpsee Not bad as it would be :smiley:

[2017-04-04 14:22] corpsee commented on #27
Done.

[2017-04-04 14:22] #27 closed

[2017-04-05 22:19] SMstevesf opened #53 "Missing Slack Lib"
Great work on this. Running the Slack integration and I get an error
`[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Maknz\Slack\Client' not found`
When looking at your composer.json, I don't see this as being pulled in.

[2017-04-06 01:34] corpsee commented on #53
Add into your composer.json `require` section:
[code]
I don't see the point of adding it into distr `require` section, but I will add it into `suggest` section.
Thanks @SMstevesf!

[2017-04-06 13:58] JoolsMcFly commented on #29
OK, how about these two versions for starters:

![image](https://cloud.githubusercontent.com/assets/4972399/24758138/a96d0b30-1ae1-11e7-9b05-360e13cbd9d6.png)

or

![image](https://cloud.githubusercontent.com/assets/4972399/24758151/b6efa31c-1ae1-11e7-9213-bedb867bf44b.png)

[2017-04-06 14:03] JoolsMcFly commented on #29
And a third one which I prefer:
![image](https://cloud.githubusercontent.com/assets/4972399/24758389/82276146-1ae2-11e7-92ce-f82c906d92c4.png)

[2017-04-06 15:41] corpsee commented on #29
I would consider more variants :smile:

[2017-04-06 15:51] SMstevesf commented on #53
Thanks for the update and the quick reply. I'll give this a shot.

[2017-04-06 16:01] corpsee commented on #53
Don't close the issue please. Thanks.

[2017-04-06 16:02] JoolsMcFly commented on #29
Dayum! You no likey the third one then?

Look at it, it's a cute elePHPhant!

[2017-04-06 16:02] SMstevesf commented on #53
No worries, I'll leave it open for you 😄

[2017-04-06 16:07] corpsee commented on #29
I want more variants) Let the issue remain open for now.

[2017-04-08 10:36] #53 closed

[2017-04-10 15:51] ket4yii opened #58 "Custom database port doesn't work"
Title is obvious, I think. I tried to solve this problem through the config file and manually. But, it hasn't still worked :(

[2017-04-10 15:54] ket4yii opened #59 "Where can I find phpcensor logs."
It's not obvious. For example, I've got error about database and I can see it, when I try to create new admin, but, you know, it shouldn't be this way :). I know, it's silly question but, It's harmful to get into source code and try to find out where logger is configured.

[2017-04-10 15:56] corpsee commented on #58
I will try to debug it tomorrow. Thanks for report.

[2017-04-10 16:03] corpsee commented on #59
You need to create `loggerconfig.php` file in `app` directory with content like:
[code]

It should helps you.

[2017-04-10 16:10] corpsee commented on #59
I will plan to remove this ugly config and move logging settings to main application config.

[2017-04-10 16:15] corpsee commented on #58
@ket4yii Can you show your "servers" application config section?

[2017-04-10 16:24] ket4yii commented on #58
Here it's

[code]

[2017-04-10 16:31] corpsee commented on #58
Thanks

[2017-04-10 17:52] cidious opened #60 "Add Fossil SCM integration"
Please add the support of [Fossil SCM](http://fossil-scm.org/) (the great Swiss Army knife with DVCS, Wiki, Bugtracking, Notes and Web Interface by the author of SQLite)

[2017-04-11 05:07] corpsee commented on #60
Hi, @cidious. It is a good idea, thank you! But now I am not ready to do Fossil integration by myself. I will wait pull request for it.

[2017-04-11 12:27] corpsee commented on #58
For me port doesn't work with 'localhost' host, but works ok with '127.0.0.1' (I don't know how it affect port :smile:).
Quote from [PHP docs](http://php.net/manual/ru/pdo.construct.php):

In your case host is normal, but who knows...

[2017-04-11 12:53] corpsee commented on #58
May be in your case PHP try to connect by socket instead of TCP?

[2017-04-11 16:10] ket4yii commented on #58
Sorry, I sent you wrong config. It's production config and it's ok.

This is another one that I used to connect to:

[code]

I had a problem with non standard port for mysql.

[2017-04-11 16:21] corpsee commented on #58
I think the problem isn't in the application. I try on localhost config:
[code]

And it is work normal if I changed port to 3308 in mysql config...

[2017-04-11 16:22] corpsee commented on #58
May be port doesn't available?

[2017-04-11 17:06] ket4yii commented on #58
No, I tried to connect to a db through mysql client and it worked fine.

[2017-04-12 00:46] corpsee commented on #58
Ok, Can you try to connect with PDO without PHP Censor? Like:
[code]

[2017-04-12 14:34] vinpel opened #61 "fatal: Could not get current working directory: No such file or directory"
When pushing a commit to my gogs repo the webhooked php-censor failed :

[code]
i manualy start with debug, same error.
Another working project : same error

The created build directory are deleted after each succès (and disk where not full)

I restart the rkt container, all seen to work fine.

The error is not very clear for me. Forget to restart the worker before reboot, but file where up to dat

[2017-04-12 14:55] corpsee commented on #61
Thanks for report. First I will try to add more debug info to the log.

[2017-04-12 15:02] vinpel commented on #29
A try :
![logo](https://cloud.githubusercontent.com/assets/1699839/24964506/c282fcaa-1fa1-11e7-8d02-70929a9d46c6.png)

[2017-04-12 15:03] vinpel commented on #61
after reboot 1 st build ok , the following build have the same error.
.php-censor where working fine

[2017-04-12 15:04] corpsee commented on #29
It looks not bad:)

[2017-04-12 16:18] corpsee commented on #61
Did it work normaly on version 0.12.0? Can you test it please?

[2017-04-13 06:49] vinpel commented on #61
I install older version like this :
  * remove php-censor directory (save config.yml)
  * wget .tar.gz release
  * tar xvzf  release
  * put config.yml
  * composer install
  * kill -HUP worker (i use beanstalkd with 1 worker)

I have the same error with :
  * version 0.12
  * version 0.11
  * version 0.10

It's probably not a pure code error, but i don't understand why.

When execute the   git cl

[2017-04-13 07:02] corpsee commented on #61
Ok, I will try to research it...
Else I found [this](https://gitter.im/Block8/PHPCI/archives/2015/03/24). What OS and environment you are you using? May be it is root of the strange behavior?

[2017-04-13 07:32] vinpel commented on #61
os is : Alpine Linux 3.5

i had a strange directory right from "/" to build directory : "drwxr-sr-x"

testing in progress but 1st run seem ok

[2017-04-13 08:48] vinpel commented on #29
![logov2](https://cloud.githubusercontent.com/assets/1699839/24997384/c1dfe002-2036-11e7-9906-433e1bb50f81.png)

[2017-04-13 09:20] vinpel commented on #61
Still have the issue ... :/
The monolog logs :
[code]

[2017-04-13 12:06] corpsee commented on #61
Can you test your case in branch `bugfix-61`? I have a guess...

[2017-04-13 12:08] corpsee commented on #58
@ket4yii Are have any news?

[2017-04-13 14:12] vinpel commented on #61
doesn't fix it.

The command who provoque the error is :

https://github.com/corpsee/php-censor/blob/master/src/PHPCensor/Model/Build/RemoteGitBuild.php#L85
Arguments are :

[code]

[2017-04-13 14:18] vinpel commented on #61
print_r($Builder) result :
[code]

[2017-04-13 14:26] corpsee commented on #61
Hmmm... command would be `git clone --recursive  -b "%s" "%s" "%s`... you have `git clone --recursive`

[2017-04-13 14:38] vinpel commented on #61
misplaced log, i have the complete command executed :
[code]

[2017-04-13 15:13] corpsee commented on #61
@vinpel Can you please test `bugfix-61` branch again?

[2017-04-13 15:45] vinpel commented on #61
testing it and it seem it work now !
(4 succesfull build)

[2017-04-13 15:50] corpsee commented on #61
Excellent! Close the issue when you make sure that it works

[2017-04-13 16:12] corpsee commented on #61
:smile:

[2017-04-13 16:20] ket4yii commented on #58
I'll try it tomorrow. I can't do it now because of sick:)

[2017-04-13 16:22] corpsee commented on #58
oy... ок:)

[2017-04-14 08:59] vinpel commented on #61
fresh install.
Work perfectly

Thanks you

[2017-04-14 08:59] #61 closed

[2017-04-14 12:32] vinpel opened #63 "PHP Coding Standards Fixer : 2 bugs"
When i follow the documentation i set a level, but got an error :
[code]
give :
[code]

__Why need to set a workingdir, can we simply use BUILD_PATH and take into account the ignored path ?__

[code]
give :
[code]

[2017-04-14 13:58] corpsee commented on #63
Thank you for the bug report @vinpel!

[2017-04-14 16:10] corpsee commented on #63
PhpCsFixer have many options and in new versions --level doesn't exist. I refactored plugin and changed options (diff, level etc) to common option `args` for all versions of PhpCsFixer. Examples:

[code]

@vinpel It is ok? Can you test branch `bugfix-63`?

[2017-04-19 12:09] corpsee commented on #63
Add more backward compatibility. Examples:
[code]
Or
[code]

[2017-04-19 12:15] corpsee commented on #63
I tested plugin and close this issue for now, but feel free to reopen.

[2017-04-24 13:53] vinpel commented on #63
Thanks for the work.

I retested the modules with a very simple configuration :

[code]
it's my result in log (with debug)
[code]

if i read correcly the plugin change the source file, but didn't inform me of the change and what it's done (like the  todo / readme plugin for exemple) ?

[2017-04-24 14:29] corpsee commented on #63
Thank you for testing @vinpel! It is strange... My log (`friendsofphp/php-cs-fixer v2.2.2`, PHP Censor `master` branch):
[code]

What PHP Censor version (or branch) are you using? PHP version? PhpCsFixer version?

[2017-04-24 14:36] corpsee commented on #63
Or you are meaning errors in `error` tab? I didn't understand what is readme plugin?

[2017-04-25 08:13] vinpel commented on #63
is use the master branch

PHP_CodeSniffer version 2.8.1 (stable) by Squiz (http://www.squiz.net)
PHP 5.6.30 (cli) (built: Jan 20 2017 01:36:35)

i've retested without options :

![image](https://cloud.githubusercontent.com/assets/1699839/25374759/ee576328-299e-11e7-9829-58525f962900.png)

The comment in the link : the 2 file are normaly ignored in the yaml config file :

my .phpcensor file :
[code

[2017-04-25 12:07] corpsee commented on #63
Ok, I understood:) Plugin works correctly, but you request log enhancement. Thanks :+1: .

[2017-05-09 04:29] #20 closed

[2017-05-09 04:32] corpsee commented on #58
I'll close the issue for now, because I can not reproduce this behavior. Feel free to reopen.

[2017-05-09 04:32] #58 closed

[2017-05-09 14:35] DarkhejMaster opened #64 "Use webhook for bitbucket"
Can I use Bitbucket webhooks for the webhook link instead of POST service?

[2017-05-09 15:15] corpsee commented on #64
Can you explain more in details what you mean (with links to Bitbucket documentation)? You need that PHP Censor instance call Bitbucket?

P.S.: In any case, now is exists only webhook from Bitbucket ([Bitbucket docs](https://confluence.atlassian.com/bitbucket/manage-webhooks-735643732.html) and [PHP Censor docs](https://github.com/corpsee/php-censor/blob/master/docs/en/sources/bitbucket.md)).

[2017-05-09 15:24] corpsee commented on #64
Do you ask about [this](https://github.com/Block8/PHPCI/pull/1038)? If yes then your case should work.

[2017-05-09 16:22] DarkhejMaster commented on #64
I confirm that it's working (at least for me)
![bitbucket webhooks](https://cloud.githubusercontent.com/assets/17334751/25861240/6053fb30-34e4-11e7-9189-37f417f39b7f.png)
![phpci](https://cloud.githubusercontent.com/assets/17334751/25861241/608181b8-34e4-11e7-9710-05e84dedd6a0.png)

[2017-05-09 16:29] corpsee commented on #64
Excellent! Thank you for testing.

[2017-05-09 16:29] #64 closed

[2017-05-17 12:09] BrunoJunior opened #65 "Project conf - SVN - Default branch not used"
In SVN project, if there is default branch name specified, it's not used.
Repo URL : https://user:password@uri/to/svn/project
Default branch name : my-branch
Error :
![image](https://cloud.githubusercontent.com/assets/4368255/26153119/54f065cc-3b0a-11e7-98a6-1245259dc1c7.png)

It's always "master" and not "my-branch"

[2017-05-17 12:16] corpsee commented on #65
Thank you for the report, @BrunoJunior.

[2017-05-17 14:45] BrunoJunior opened #66 "PHP Code Sniffer & PHP Copy/Paste Detector Error - SQLSTATE[HY000]: General error 7"
Error messages :
![image](https://cloud.githubusercontent.com/assets/4368255/26159655/73528be8-3b1f-11e7-89fc-e87bd030a0e9.png)
.php-censor.yml :
[code]

[2017-05-17 14:58] corpsee commented on #65
I tryed to fix branches for SVN. @BrunoJunior Can you test it (PHP Censor from branch `bugfix-svn`)?
Try to create 2 new projects with:

1. **Repository Name / URL (Remote) or Path (Local)**: "https://user:password@uri/to/svn/project" (URL without trunk/branches etc.) and **Default branch name**: ""
2. **Repository Name / URL (Remote) or Path (Local)**: "https://user:password@uri/to/svn/project" (

[2017-05-17 15:00] corpsee commented on #66
Thanks for the report.

[2017-05-18 09:44] BrunoJunior commented on #65
OK
Bug fixed
I'll open an issue to make possible to change the default branch repo. (branches by default)

[2017-05-18 09:44] #65 closed

[2017-05-18 09:48] BrunoJunior opened #67 "SVN - Possibility to change branches repo name"
Add a text area where SVN was chosen.
Default branch repo.
With "branches" by default.
Some SVN projects do not respect the default branches model

[2017-05-18 09:56] BrunoJunior opened #68 "Can`t build - status is not pending - After Build error"
I had some errors in my build.
It's tagged as finished.
But new messages come in build log and I have some running psocesses :
![image](https://cloud.githubusercontent.com/assets/4368255/26196861/9236f26e-3bc0-11e7-831e-b14ed3f00ddb.png)
![image](https://cloud.githubusercontent.com/assets/4368255/26196872/a06bacc6-3bc0-11e7-92f9-a9a20c5830d9.png)
There is my project conf :
![image](https://cloud.g

[2017-05-18 10:44] BrunoJunior opened #69 "Atoum - Tests are not launched"
First of all, I ran same tests on my dev machine.
Command line generated by Netbeans (on Windows) :
"C:\path\to\global\Composer\vendor\bin\atoum.bat" "-d" "C:\path\to\project\test" "-utr" "-bf" "C:\path\to\project\test\.bootstrap.atoum.php"
I had atoum option in test in php-censor.yml :
[code]
Plugin result :
![image](https://cloud.githubusercontent.com/assets/4368255/26198682/4898e4d0-3bc7-11e7-9

[2017-05-18 12:13] BrunoJunior opened #70 "SVN - Username & password option"
I've changed worker user and the new one didn't launch any svn command by ssh, so username and password wasn't saved.
When build ran, I had a connection error to SVN.
I tried to put username and password in global PHP Censor config (app/config.yml) :
[code]
KO
I tried to change SVN URL : [username]:[password]@https://url/to/svn/repo
KO
I found a hack :
SVN URL : --username [username] --password [p

[2017-05-18 12:16] BrunoJunior commented on #69
I changed conf :
[code]
Tests ran and all passed but I had PLUGIN ERROR, why ?
![image](https://cloud.githubusercontent.com/assets/4368255/26201722/9ba88d9e-3bd4-11e7-8c61-f0673b0976b9.png)

[2017-05-18 12:21] corpsee commented on #69
Thanks for the report, @BrunoJunior. I think it is plugin bug (Atoum plugin is too old and doesn't enough tested). I will try to refactor it soon.

[2017-05-18 12:26] corpsee commented on #68
I guess problem in string `atoum` without arguments (I've already seen this behavior of worker). I will try to test and fix worker's config parsing problem. Thanks.

[2017-05-18 12:30] corpsee commented on #70
Can you explain with details this phrase because I don't close understand:

Thanks.

[2017-05-18 12:31] BrunoJunior commented on #69
OK I removed -utr arg and build passed ...
Is there atoum tests results anywhere like code lines or quality charts ?

[2017-05-18 12:32] BrunoJunior commented on #70
I chaged supervisord php-censor.conf to put another user (www-data)

[2017-05-18 12:36] corpsee commented on #67
I think it will be easier refactor the logic of SVN branches, so that it was necessary to set the full name of the branch (unlike git). Like `branches/my-branch` instead of `my-branch`.
What do you think @BrunoJunior? Thanks.

[2017-05-18 12:40] corpsee commented on #70
Ok, thanks. And before user change, config `svn` section was work correct? Was I right understand?

[2017-05-18 12:42] BrunoJunior opened #71 "Build run error"
I ran a build with success.
Maybe 5 minutes later I run another build.
I had this error
![image](https://cloud.githubusercontent.com/assets/4368255/26202520/06505070-3bd8-11e7-8565-ee3b5c38ee1e.png)
I restarted my VM, re run the build, and no more error ...

[2017-05-18 12:45] corpsee commented on #69
As far as I can see (in code), no. It is very simple plugin.

[2017-05-18 12:49] corpsee commented on #71
Thanks @BrunoJunior.

[2017-05-21 05:04] corpsee commented on #68
@BrunoJunior Can you re-run build with debug and post build log?

[2017-05-21 05:18] corpsee commented on #66
@BrunoJunior Now is this bug reproducing on `master` branch of PHP Censor? What database do you use (PostgreSQL/MySQL)?

[2017-05-21 05:25] corpsee commented on #71
@BrunoJunior I am closing this issue for now because this problem appeared once. Feel free for reopen this issue if problem will repeat again.

[2017-05-21 05:25] #71 closed

[2017-05-21 07:30] corpsee commented on #70
@BrunoJunior Can you try URL like: `https://[username]:[password]@url/to/svn/repo` (`[username]:[password]@https://url/to/svn/repo` is wrong auth URL)? It should works.

[2017-05-23 15:51] corpsee commented on #68
I fixed this behavior in branch `bugfix-issue-68`. @BrunoJunior Can you test it?

[2017-05-23 15:55] corpsee opened #72 "Add Atoum plugin results to Information/Errors tabs (Like PHPUnit and Codeception)"
Add Atoum plugin results to Information/Errors tabs (Like PHPUnit and Codeception)

[2017-05-23 15:57] corpsee commented on #69
#72

[2017-05-23 15:57] #69 closed

[2017-05-23 16:21] corpsee commented on #59
Fixed.

[2017-05-23 16:21] #59 closed

[2017-05-29 09:42] BrunoJunior commented on #67
I think it could be great !
I don't know if you know Jenkins (Hudson), but in the SVN plugin, when you set the url up, you have to set the complete url.
It could be enough ?
![image](https://cloud.githubusercontent.com/assets/4368255/26544867/d1652eb4-4463-11e7-84b7-1f1d9365cfa1.png)

[2017-05-29 10:55] BrunoJunior opened #73 "Installation Error - Undefined class constant 'MYSQL_ATTR_INIT_COMMAND'"
I tried to install php-censor on a VM wich runs Debian with postgresql (without MySQL - I didn't activate pdo_mysql, because I want to use Postgresql ...) and I had this error :

PHP Stack trace:
PHP   1. {main}() /vagrant/php-censor.local/bin/console:0
PHP   2. Symfony\Component\Console\Application->run() /vagrant/php-censor.local/bin/console:11
PHP   3. Symfony\Component\Console\Application->doR

[2017-05-29 11:53] corpsee commented on #73
Hello, @BrunoJunior. Thank you for the useful report! I fixed this bug in branch `bugfix-issue-73`. Can you check it?

[2017-05-29 12:25] BrunoJunior commented on #73
I have another error ...
I cloned project in my VM with git clone ...
I switched into remotes/origin/bugfix-issue-73
I ran composer install
I ran ./bin/console php-censor:install

I have this error :

Why APPDIR add an app directory ? Did I do something wrong ?

[2017-05-29 12:41] corpsee commented on #73
Sorry, It is bug in the fresh `master` branch. I fixed it just now. Try again)

[2017-05-29 13:23] BrunoJunior commented on #73
Setup done !

[2017-05-29 13:23] #73 closed

[2017-05-29 13:47] BrunoJunior commented on #70
I tried with this syntax ... It was an input error, I wrote [username]:[password]@https://url/to/svn/repo instead of https://[username]:[password]@url/to/svn/repo
Error with last git sources :

svn: E215004: Unable to connect to a repository at URL 'https://[username]:[password]@url/to/svn/repo/branches/master'
svn: E215004: No more credentials or we tried too many times.
Authentication failed

[2017-05-29 14:18] BrunoJunior commented on #68
I can't test ...
Fatal error: Undefined class constant 'MYSQL_ATTR_INIT_COMMAND' in /vagrant/php-censor/src/B8Framework/Database.php on line 88
Maybe the same problem than issue #73

[2017-05-29 14:27] corpsee commented on #68
Hmm... I rebased `bugfix-issue-68` branch on #73 about 1 hour ago. @BrunoJunior Try to delete local `bugfix-issue-68` branch and checkout it again please.

[2017-05-29 14:36] corpsee opened #74 "Add PhpCsFixer plugin results to Information/Errors tabs (Like PHPUnit and Codeception)"
Add PhpCsFixer plugin results to Information/Errors tabs (Like PHPUnit and Codeception)

[2017-05-29 14:36] corpsee commented on #63
For improve PhpCsFixer plugin output - #74

[2017-05-29 14:36] #63 closed

[2017-05-29 14:55] BrunoJunior commented on #68
Weird ... I didn't make a local branch, only checkout remote one ... It didn't work
I made git checkout --track ... And I don't have the MYSQL error anymore
I'll test to re-run a build

[2017-05-29 15:08] BrunoJunior commented on #68
The leak seems to be fix but I still have a lot of `Can`t build - status is not pending` in Build logs tab.
![image](https://cloud.githubusercontent.com/assets/4368255/26554626/6c42c932-4491-11e7-9114-519a9971e037.png)

[2017-05-29 15:20] BrunoJunior commented on #66
I use PostgreSQL.
I reproduced error on master branch :

[2017-05-29 15:44] corpsee commented on #68
@BrunoJunior Any exceptions or errors in the build log before 'PLUGIN: FAILED'? What plugin is failed? Perhaps Have you any another details? I'm trying to reproduce your situation. Thanks.

[2017-05-29 16:56] corpsee commented on #66
@BrunoJunior Can you check again on `bugfix-issue-66` branch please?

[2017-05-30 09:51] BrunoJunior commented on #66
Hi ! I'm sorry but I'll have less time to test fixes because of my work.
I explain :
I had to test different self hosted CI for our project (wich is quite big : 250K lines of PHP code) and PHP-censor was one of them.
I also test Jenkins and for our project it's faster and more stable.
My boss told me to not test PHP-Censor anymore.
I think you understand that my company don't want to pay me to pas

[2017-05-30 11:52] #66 closed

[2017-05-30 16:28] StudioMaX opened #75 "PHP CS Fixer ignores "excludes" which defined in .php_cs file"
At this time PHP CS Fixer executes via command like this
`[...]/vendor/bin/php-cs-fixer fix . --some_param`
Defining a dot in this command means that this directory (dot in our case) will overwrite the directories defined in .php_cs file (Details here: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2094)

I think we have two solutions to fix this:
1. Just remove path to directory from CLI arg

[2017-05-30 16:41] StudioMaX commented on #68
I also had this error. Please check that:
- Your server has enough free space. git clone, vendors, some cache files from plugins could take a lot of space at the setup stage
- Personally I found that PhpCsFixer was configured incorrectly, which caused the CPU was loaded to 100%, and after a while the php process was killed by the OS.

[2017-05-30 16:58] corpsee commented on #75
@StudioMaX Thank you for the report! I think your first solution is sensible.

[2017-05-31 14:48] corpsee commented on #75
I refactored PhpCsFixer plugin and added option `config`. Now it is working like this (PHP Censor branch `bugfix-issue-75`):
[code]

@StudioMaX Can you check it in your project and say what you think about this solution?

[2017-05-31 18:01] StudioMaX commented on #75
Looking good 👍
I don't think that it makes much sense to use the additional `config` option, because most users will use standard file names. In any case, it will be an additional setting for very rare cases.

[2017-06-01 00:58] #75 closed

[2017-06-01 15:03] corpsee commented on #68
I reproduced this behavior (Multiple "Can\`t build - status is not pending" messages after hard fail). And after my fixes behavior doen't reproduce.
I merge fixes fo `master` branch and close this issue. Feel free to reopen if problem appear again.

[2017-06-01 15:03] #68 closed

[2017-06-03 07:16] corpsee commented on #23
Fixed.

[2017-06-03 07:16] #23 closed

[2017-06-03 10:27] corpsee commented on #67
Fixed. Add optional ability to set branch full name like "branches/branch-1" or "/branch/branch-2".

[2017-06-03 10:27] #67 closed

[2017-06-08 12:13] corpsee opened #77 "Survey: Cron-worker removing"
@vinpel, @ket4yii, @valeriitropin, @JoolsMcFly, @ss-gxp, @bochkovprivate, @StudioMaX, Does anyone use a cron-worker? What do you think about removing it from PHP Censor in the near future?
I think that it is enough to leave only a worker (daemon), so that it would be easier to support the project.

[2017-06-08 12:26] StudioMaX commented on #77
Personally I don't use a cron-worker. Perhaps it is needed by those who don't have root-access to the server and cannot install Supervisor and Beanstalkd.

[2017-06-08 12:29] ket4yii commented on #77
I think that cron worker is useless thing. You can't scale it, it works strange, it's hard to maintain and it's not real daemon. So, I think nobody is going to cry if you remove it(maybe I'm not right) :)

[2017-06-08 12:46] ss-gxp commented on #77
I use (no choice).
I think whatever the build was started (command line, crontab or any queue), this should not be important.
If it is difficult to maintain, may be then need to refactor the launch process in separate classes that can receive callbacks at certain points to do their work (like release job or something other).

[2017-06-08 13:03] bochkovprivate commented on #77
Personally I don't use a cron-worker.

I did not like it because on my setup it often caused numerous instances of worker for slow-running builds. As I was not able to limit the number of workers (unlike to supervisor-based setup) the build-server became stale and builds last for hours.

[2017-06-08 13:10] corpsee commented on #77
@StudioMaX, @ket4yii, @ss-gxp, @bochkovprivate Thank you for the answers!
@ss-gxp Can you explaine why you don't have a choice (Supervisor, Beanstalkd or another reason)?

[2017-06-08 16:25] vinpel commented on #77
i don't use cron worker too

[2017-06-09 14:53] ss-gxp commented on #77
In short: I can not do it - no root rights.

[2017-06-10 02:59] corpsee commented on #77
@ss-gxp OK, Thanks. I will not remove cron-worker yet.

[2017-06-10 10:59] ket4yii commented on #77
@ss-gxp why do you need root rights for daemon?

[2017-06-12 13:36] StudioMaX opened #79 "Range-based requirements in composer.json"
At this time all requirements in composer.json are range-based (i.e. `3.1.*`). Are you know why this scheme is used instead of the Next Significant Release operators (i.e. `^3.1`)?
Probably the most of our dependencies is following SemVer, so there shouldn't be BC for not-significant updates.
I've just launched the `composer outdated` command and it says that we have a lot of outdated libraries:
[

[2017-06-12 13:51] corpsee commented on #79
I use range-based to not break PHP Censor (Because not all libraries follow SemVer strict). I agree that dependencies should be update. I will update it to new minor versions manually in the issue.

[2017-06-13 08:07] ss-gxp commented on #77
Any suggestions?
(install into home, I do not think it's right)

[2017-06-13 10:01] ket4yii commented on #77
@ss-gxp you don't need root rights to daemonise phpcensor. If there are some restriction and you are not allowed to use systemd and supervisord, you can use *nohup*. And beanstalk can run without root rights, too.

[2017-06-13 14:04] corpsee opened #80 "Upgrade SwiftMailer from 5.x to 6.x major version."
Upgrade SwiftMailer from 5.x to 6.x major version.

To upgrade SwiftMailer It Should remote `Swift_MailTransport` and `Swift_Transport_MailTransport` from project because it is deprecated in 6 version.

According to #79.

[2017-06-13 14:05] corpsee commented on #79
Fixed. Thanks @StudioMaX!

[2017-06-13 14:06] #79 closed

[2017-06-13 14:12] StudioMaX commented on #80
Don't forget that SwiftMailer 6 has a requirement on PHP ^7.0.

[2017-06-13 14:23] corpsee commented on #80
Oh... T_T Than 5.x remains. Thank you @StudioMaX.

[2017-06-13 14:23] #80 closed

[2017-06-16 04:43] funivan opened #81 "[Feature] Remember me"
Hello. Thank you for the great project.

Is there any way to make checkbox `remember me` in the login page?

[2017-06-16 12:45] corpsee commented on #81
Hi, @funivan. Thanks! Yes, I already think about it but didn't have time yet.

[2017-06-19 12:07] vinpel opened #82 "Memory exhausted in Technical Debt (Stage: Test)"
got this error :
[code]

[2017-06-19 12:18] corpsee commented on #82
Thanks @vinpel! There is a non-optimal code with `file_get_contents` of the all content of file in TechnicalDebt plugin. And it is a problem for big files.

P.S.: temporary solutions:
* Increase `memory_limit` `php.ini` parameter;
* Ignore directory with very big files;

[2017-06-28 08:15] SimonHeimberg commented on #77
I like the possibility to run `bin/console php-censor:run-builds` manually for doing some debugging. It does not need beanstalk installed nor properly configured.

[2017-06-28 10:16] SimonHeimberg commented on #74
Hint: With this command
`php-cs-fixers fix --diff -vvv --format json --dry-run ...`

you get such output:
[code]

Unfortunately the diff is not very nice (no line numbers, ...).

[2017-06-28 10:32] corpsee commented on #77
Ok, useful case. Thank you for the answer, @SimonHeimberg.

[2017-06-28 10:35] corpsee commented on #74
Thanks. It is useful command.

[2017-06-28 13:59] SimonHeimberg opened #85 "[Feature] build results better navigatable"
I propose
 * links from Summary (in Information tag) to the related (1st) Error (in Error tab).
 * filtering on Error tab for columns `Severity`, `Plugin` and maybe `File`.
 * Maybe pagination for Error tab? At my first try, I had 19550 errors, which blocks the error tab for some time.

[2017-06-28 14:01] SimonHeimberg opened #86 "[feature] allow to show coverage crated by phpunit"
This can probably be done easily with some webserver config, but some hints in the doc would be welcome.
And including the link somewhere in the build would be great.

[2017-06-28 14:02] SimonHeimberg opened #87 "[Feature] overwrite part of config locally"
Sometimes it would be handy to have the project configuration in .php-censor.yml but set some parts local only.
To copy the entire project config to the local config (in db) is not very handy.

Maybe the database name is different locally, maybe I have to include some secrets, ...

In #14, there is requested to set some config parts secretly. (Probably more secret than here.)

[2017-06-28 14:19] corpsee commented on #85
All of this make sense (I already plan filtering and pagination for errors but didn't have time for this). Thank you for your request @SimonHeimberg!

[2017-06-28 14:22] corpsee commented on #87
Ok, I will think about it. Thanks!

[2017-06-28 14:22] corpsee commented on #86
It is useful feature. Thanks!

[2017-06-28 17:12] DarkhejMaster opened #88 "Possibility of excluding certain sniffs on PHPCS"
I think it should be added a option to exclude certain php codesniffer sniffs from to be tested.

[2017-06-28 17:47] corpsee commented on #88
Thanks @DarkhejMaster. I will try to do something.

[2017-06-30 16:35] SimonHeimberg commented on #88
As a workaround, you can create a phpcs.xml[.dist] in the project root.

not yet sure if you have to configure the follwing or if it is picked up automatically:
[code]

[2017-06-30 16:37] SimonHeimberg opened #89 "links from error page should link to hash, not branch"
Errors create links to the lines on github. This is great. But the link is to the branch and not the commit id. This will result in the wrong line when when anything is pushed to this branch later, adding or removing some lines before.

current:
https://github.com/corpsee/php-censor/blob/master/src/PHPCensor/Model/Build/GithubBuild.php#L141

proposed:
https://github.com/corpsee/php-censor/blob/904

[2017-06-30 17:01] corpsee commented on #89
Thanks! I will wait for your request.

[2017-06-30 19:48] SimonHeimberg commented on #89
Note:
`getFileLinkTemplate()` is used on error page and on lint plugin, so adapting this function should be fine...

[2017-07-01 03:21] #89 closed

[2017-07-01 18:13] SimonHeimberg commented on #87
Configuration could probably be similar to configuring a branch (branch-dev in [configuring_project.md](../blob/master/docs/en/configuring_project.md). (To define before/after/overwrite, ... maybe more granular than only for the entire stage, but prepend some plugins, append some, ...)
Setting some parameters would be handy (db_name, ...).

Some use-cases:
 * other name of the database
 * other da

[2017-07-01 18:23] SimonHeimberg commented on #86
current possibility:
[code]
Then the coverage is visible on `http:yourhost.example.com/php-censor/coverage-phpunit/build27`. Be careful, there is no login required. And you must remove old coverage results yourself if desired.

[2017-07-01 19:17] SimonHeimberg opened #91 "[feature] add possibility to run one plugin several times in one stage"
Use case:
 * Run some scripts, run phpunit, run some shell scripts
 * run mess detector with different settings for src/ and tests/
 * run several composer commands (can be done with shell, but must find composer binary manually)
 * run phpunit with different environment settings (maybe better create a separate project for this?)

Suggestion for implementation: allow a space and some id after the

[2017-07-01 19:39] SimonHeimberg commented on #86
To see the total result somewhere would be nice too. In the log, maybe even in the graph?
(Find it in topmost index.html, in <tr> containing `>Total</td>` : `grep -A15 '>Total</td>' coverage/path/index.html | grep --max-count=1 '% covered'`)

[2017-07-02 03:39] corpsee commented on #91
Thank you for the idea @SimonHeimberg! It will be very hard to implement... Most likely it will not be done soon)

[2017-07-08 00:00] SimonHeimberg commented on #86
much simpler than parsing index.html: `--coverage-text`, writes to output or to a file.

[2017-07-11 10:15] SimonHeimberg opened #94 "limit of 65535 characters for meta_value of build_meta with mysql"
In my instance, the value of phpunit-data is silently cut to 65535 characters. This results in invalid json, so no results for phpunit are shown on the information tab.

The value for phpunit-data is stored in `build_meta.meta_value`. This field has type `text`.
The size limit for text is 65535: https://dev.mysql.com/doc/refman/5.7/en/string-type-overview.html#idm140523574444128

How should this b

[2017-07-11 11:22] corpsee commented on #94
I will change column type for MySQL to something large. Thanks @SimonHeimberg for the report.

[2017-07-11 11:40] corpsee commented on #94
Fixed in fresh `master` branch.

[2017-07-11 11:40] #94 closed

[2017-07-12 17:27] SimonHeimberg opened #95 "check yaml input submitted from project/edit page"
Do some yaml validation on the project configuration submitted by the project/edit page.

Suggestions:
 * check valid yaml for project config (is currently silently accepted)
 * check valid yaml for env (currently shows the error page)
 * configure the text areas that tabs are converted to 4 spaces
 * maybe do some more checking (valid attributes?, valid plugins?)

Reason:
When I enter my project

[2017-07-13 00:30] corpsee commented on #95
Good idea! Thanks @SimonHeimberg!

[2017-07-13 00:57] corpsee commented on #2
Fixed. See: [configuring_project.md](https://github.com/corpsee/php-censor/blob/master/docs/en/configuring_project.md)

[2017-07-13 00:57] #2 closed

[2017-07-13 01:01] corpsee commented on #5
**Note**: Discribe SystemD configuration instead of SupervisorD.

[2017-07-13 08:43] ketchoop commented on #2
Couple of ideas: if you support regex on branch and tags, it'll be very good, because it's really common feature in all modern CIs.:wink:

[2017-07-13 12:15] corpsee opened #97 "Added regexp support for branch specific stages"
Added regexp support for branch specific stages.

See: [configuring_project.md](https://github.com/corpsee/php-censor/blob/master/docs/en/configuring_project.md) and #2.

[2017-07-13 12:16] corpsee commented on #2
I created issue for this case. #97.

[2017-07-16 14:42] ketchoop opened #99 "Describe way how to run worker via nohup"
I'm going to do it later. You can assign it to me.

[2017-07-16 14:47] corpsee commented on #99
Ok. Thanks!)

[2017-07-16 14:51] corpsee commented on #5
See #98.

[2017-07-17 21:04] SimonHeimberg commented on #91
Calling one plugin several times in one stage is very simple. In fact, it can already be done now for internal plugins:
[code]
This is good enough for me. I use it to run several composer commands, and to run shell several times, without stopping the next shell command from running, but still return failure. (`plugins/shell.md` does not mention that shell commands stop on first failure, but this i

[2017-07-18 13:38] corpsee commented on #97
*TODO*: Add documentation.

[2017-07-19 03:22] corpsee opened #104 "Add param for all plugins (like a param `allow failures`) for control paths priority when we search plugin binary"
Add param for all plugins (like a param `allow failures`) for control paths priority when we search plugin binary.

Example:
[code]

Now default priority:
* Search in local current build path ('local')
* Search in global PHP Censor 'vendor/bin' path ('global')
* Search in system binaries ('system')

[2017-07-19 03:27] corpsee commented on #104
*TODO*: Add documentation.

[2017-07-20 12:28] corpsee commented on #99
#100

[2017-07-20 12:28] #99 closed

[2017-07-20 14:37] corpsee commented on #97
Something like that:
[code]

[2017-07-24 15:58] #5 closed

[2017-07-31 20:59] SimonHeimberg opened #106 "parameter clone_depth in build_settings does not work"
This is because the config is read after the repo is cloned.

When the config is read from the repo, it is not available before cloning. Therefore the config is read after cloning. This means it is not available when parameter clone_depth is read before doing the clone.

Possibilities to fix this:
* read config from db before cloning (when the config is in db)
    in this case write documentation

[2017-07-31 21:16] SimonHeimberg opened #107 "Result of pdepend plugin is not accessible"
The charts generated by pdepend plugin are not accessible by any url because they are not in public directory nor any controller handles this.
The pdepend plugin prints a link. But when visiting it, a 404 error is shown of course.

[2017-07-31 21:33] SimonHeimberg opened #108 "file runtime/console.log may become very big"
Possibilities to fix this:
* Mention this file in the doc and recommend something like logrotate
* Keep the file at limited size automatically, maybe by using RotatingFileHandler from monolog

[2017-08-01 04:12] corpsee commented on #106
Thank you for the request and for the full description! :+1:

[2017-08-01 04:14] corpsee commented on #107
I Will try to fix it. Thanks!

[2017-08-01 04:16] corpsee commented on #108
I Will think about how to fix it. Thanks!

[2017-08-02 20:49] SimonHeimberg commented on #106
Note: parameter `prefer_symlink` in `build_settings` for LocalRepository works because handleConfig is called before cloning (copying, or whatever).

[2017-08-13 06:42] corpsee commented on #29
![php-censor-3](https://user-images.githubusercontent.com/1416706/29246704-22720034-802d-11e7-8bcb-7ca86beb7b48.png)

[2017-08-13 12:01] #104 closed

[2017-08-13 12:01] #97 closed

[2017-08-14 14:56] corpsee commented on #29
![111](https://user-images.githubusercontent.com/1416706/29277274-5f449f9e-813b-11e7-9a60-ba261f6bd352.png)

[2017-08-14 15:05] corpsee commented on #29
@vinpel, @ketchoop, @valeriitropin, @JoolsMcFly, @ss-gxp, @bochkovprivate, @StudioMaX, @SimonHeimberg, @LEXASOFT What do you think about the latest logo? I propose to take it and close this issue.

[2017-08-14 15:16] corpsee opened #109 "Survey: Project config in project repository removing"
@vinpel, @ketchoop, @valeriitropin, @JoolsMcFly, @ss-gxp, @bochkovprivate, @StudioMaX, @SimonHeimberg, @LEXASOFT Does anyone use a project config in the project repostory (`.phpci` or `.php-censor`)? How is it important for you in self-hosted CI system?

What do you think about removing it from PHP Censor in the near future?

This would combine the configurations (project config + environment conf

[2017-08-14 15:17] ketchoop commented on #29
LGTM

[2017-08-14 15:46] ketchoop commented on #109
@corpsee And it'll look like CIs from 2010. I think this is actual feature nowadays(because of microservices) and it's hard to manage a lot of configuration of many projects in CI, IMO.

[2017-08-14 15:48] valeriitropin commented on #109
@corpsee I use it. It helps me to define specific branch settings so I would leave this feature.

[2017-08-14 17:19] valeriitropin commented on #109
And one more thing: not every developer should have admin access to php censor so config in the repo gives possibility for each developer in the team to configure CI for a project. I think it's important.

[2017-08-14 17:24] corpsee commented on #109
@ketchoop @valeriitropin Thanks. These are serious reasons to leave the config.

[2017-08-14 18:41] bochkovprivate commented on #109
We use it. And it is nice to have config in repository because:
a) we can than have different project config for different branches;
b) we can track config changes using git/mecurial that is very useful.

[2017-08-15 07:56] ss-gxp commented on #109
We do not use.
Of course it would be useful to track configs changes, but it's also convenient to keep them in one place (for example, if you change a large number of configs).

Perhaps should make the configuration flexible as possible, for example, to get config(s) from a separate repository?

[2017-08-15 11:45] corpsee commented on #109
@bochkovprivate @ss-gxp Thanks. I will think about more flexible project configurations.

[2017-08-16 12:01] vinpel commented on #109
We us it, same as bochkovprivate, really usefull to have git history

[2017-08-16 12:02] vinpel commented on #29
industrial look, but lgtm for me

[2017-08-16 12:42] corpsee commented on #29
@ketchoop @vinpel Thanks. Excellent)

[2017-08-16 12:43] corpsee commented on #109
@vinpel Thanks.

[2017-08-16 16:43] SimonHeimberg commented on #109
We do not (yet?) use it.
We run several tests on one project (security daily on master, phpunit with coverage during the night only when branch had changes, general checks on commit, ...). So we could include the main config, but not the others.

To have a history for the config is very useful. I currently have them in a repo, and copy paste into the ui. Simplifying would be nice.

Btw, is `.php-c

[2017-08-16 17:40] corpsee commented on #109
@SimonHeimberg Thanks. Every who have access to the repository, yes. Access rights is the huge separate issue.

[2017-08-20 06:02] corpsee commented on #29
It is done! [Logo images](https://github.com/corpsee/php-censor/tree/master/docs/images).

[2017-08-20 06:02] #29 closed

[2017-08-22 20:48] SimonHeimberg commented on #87
With local parameters (#14, when usable in yaml), above use-cases can be covered.

For the rest, it is probably simpler to call a local shell script which must be in a certain place:
[code]

I am fine with closing this issue.

[2017-08-23 00:55] corpsee commented on #87
Thank you for the detail explanation. Ok, I close this issue.

[2017-08-23 00:55] #87 closed

[2017-08-24 21:11] SimonHeimberg opened #114 "feature: allow to use local copy while cloning"
When there is a local repo copy, we could reduce bandwidth usage with it:
```git clone --reference```
for newer git (somewhen after 2.7.4) the fillowing option only generates a warning when the repo is missing:
```git clone --reference-if-able```

Compared to --depth, this has the advantage of full history.

As other clone options (like --depth), this is a local config.

We could also keep the las

[2017-08-25 01:17] corpsee commented on #114
@SimonHeimberg Thanks!

[2017-08-25 01:38] corpsee commented on #114
https://github.com/Block8/PHPCI/pull/838

[2017-08-26 17:25] corpsee commented on #108
I added option to the main application config (`app/config.yml`) for daily `console.log` rotate. Example:
[code]

By default option `rotate` is `false` and option `max_files` is `0` (unlimite if rotate is turn on).

@SimonHeimberg Can you check log rotation in `feature-log-rotate` branch?

[2017-08-28 14:36] corpsee commented on #81
Done. @funivan Can you test this feature in `feature-remember-me` branch?

[2017-08-30 15:37] SimonHeimberg commented on #108
I have updated to this branch and have added the config. Today logging goes into file `.../runtime/console-2017-08-30.log`, the old `console.log` remains in place.

Looks good to me. Anything else I should check?

[2017-08-30 15:49] corpsee commented on #108
@SimonHeimberg Thanks!

[2017-08-30 15:51] #108 closed

[2017-08-31 15:14] corpsee commented on #81
Now in `master` branch.

[2017-08-31 15:14] #81 closed

[2017-09-01 04:48] funivan commented on #81
@corpsee thanks

[2017-09-02 16:11] corpsee opened #115 "Translate doc "how to set up the project in PHP Censor" from Russian to English."
I wrote detailed documentation "how to set up the project in PHP Censor" (AKA `configuring-project.md`) in Russian. And I need help to translate this documentation into English and replace current english doc to it.

If somebody want to do this, then send the translation as a pull request. [Russian version](https://github.com/php-censor/php-censor/blob/feature-docs/docs/ru/configuring-project.md).

[2017-09-02 18:19] SimonHeimberg opened #116 "byte \x04 stops log output"
When there is \xa4 (byte with hex value A4) is in a log string, the log is stopped there (before saving to database).

Example to reproduce (nothing is printed after _Xa4):
[code]

The full output is visible in `runtime/console.log`. But in the mysql database, the byte \xa4 and everything after is missing.

One of my tests generates some binary output by accident, and it contains this byte. I try

[2017-09-02 18:34] corpsee commented on #116
@SimonHeimberg I guess binary characters should be filtered before writing to the log. Thank you for the issue, I will think about how improve this.

[2017-09-02 21:33] SimonHeimberg commented on #116
ideas:
 * show as html character: `&#xa4;&#x0;`, browsers show some replcement sign oftern
 * style somehow, maybe `<var>0xa4</var><var>0x0</var>` and maybe add a frame around
 * replace with a sign (maybe a `&#x220e`, or some from https://en.wikipedia.org/wiki/Control_Pictures)

Which characters should we filter? Non-printable characters for sure (control characters). And all invalid utf-8?

[2017-09-02 22:14] SimonHeimberg commented on #116
for filtering invalid utf8, we can use
[code]

[2017-09-02 22:42] SimonHeimberg commented on #116
to replace all control characters with one character:
[code]

[2017-09-03 04:20] corpsee commented on #116
@SimonHeimberg Thank you for the your research! I used your second filtering variant:

Can you check `bugfix-binary-output` branch in your build?

P.S.:
1. `ord` doesn't normal work for character "∎", because it is unicode char. I use "?".
2. In my MariaDB 10.1 case from this issue doesn't work :) MariaDB replaces this char to "?" by itself.

[2017-09-03 05:03] corpsee opened #117 "Survey: What version of PHP are you using with PHP Censor?"
What version of PHP are you using with PHP Censor? Somebody use PHP5.6?

@vinpel, @ketchoop, @valeriitropin, @JoolsMcFly, @ss-gxp, @bochkovprivate, @StudioMaX, @SimonHeimberg, @LEXASOFT, @borNfreee, @ptejada What about your environment?

Thanks!

[2017-09-03 05:46] StudioMaX commented on #117
I'm still using 5.6 because there are another PHP projects at the same server which cannot be updated to 7.0.

[2017-09-03 06:27] corpsee commented on #117
Thank you @StudioMaX!

[2017-09-04 07:08] ss-gxp commented on #117
We use 5.6, for the same reason - the update is not yet possible.

[2017-09-04 08:11] vinpel commented on #117
php version 7.1 (php-censor is used in a rkt pod so i have the liberty of php version)

[2017-09-04 11:30] corpsee commented on #117
Thanks @vinpel @ss-gxp!

P.S.: I don't want to drop PHP 5.6 support, but I want to know statistics.

[2017-09-05 10:14] SimonHeimberg commented on #116
Tested, full log is kept! :+1:

AW to

1. several notes, apply only one
    * when using an ascii char, ord is not necessary, a string can be used (`mb_substitute_character('?')`).
    * ? is the default replace character, so no need to set this with `mb_substitute_character('?')`.
    * Instead of `mb_substitute_character(ord('?'))` , we can set the number of the character directly: `mb_substitut

[2017-09-05 11:38] SimonHeimberg commented on #116
Automatic replacing by mysql/mariadb seems to have to do with the setting of `sql_mode`, `SHOW VARIBLES LIKE sql_mode` shows NO_ENGINE_SUBSTITUTE on my machine.
There should/could have been a warning issued by mysql when inserting the invalid string. No idea where this would have been.

[2017-09-05 14:42] corpsee commented on #116
@SimonHeimberg Iwill rework this patch on this week. Thank you for help!

[2017-09-09 09:09] corpsee commented on #116
@SimonHeimberg I changed char from '?' to '�'. Is char '�' ok for you? Can you check branch again?

[2017-09-16 05:32] corpsee commented on #116
Now in `master` branch.

[2017-09-16 05:32] #116 closed

[2017-09-18 09:15] ss-gxp opened #120 "Dashboard is slow on a large number of projects"
I now have slightly more than 50 projects and have to wait long time before the dashboard will open.
The reason is:
* large number of sql requests.
* large number of ajax requests (each of the displayed projects is updated with a separate query!)

My opinion is that with a large number of projects, it is not necessary to display them all. It is enough to display projects in which the last build is

[2017-09-18 11:05] corpsee commented on #120
The problem is clear to me and I like the idea of speed up dashboard. I'll think about it and will look at your branch and write again what I think with more details. Thank you @ ss-gxp.

[2017-09-18 12:53] corpsee commented on #120
[`id` -> {{id}} for postgres](https://github.com/ss-gxp/php-censor/commit/f489a5353cb2f37510afb31d094917d5fad5e9e1#commitcomment-24373393)

[2017-09-19 12:05] corpsee commented on #120
@ss-gxp First, I looked your branch and I like what you did! :beer:

Secondly, I think that we can't simply replace current dashboard widget with all projects to your 'build errors' widget. But I see the flexible solution:
1. Leave the current widget (`all_projects`) and add your widget too (`build_errors`).
2. Add to the PHP Censor common configuration option to customize the display of widgets o

[2017-09-20 07:24] ss-gxp commented on #120
Good idea.
It takes time to separate the widgets, but that's right.
Also I think the build history (the last 10) also needs to be turned into widget.

[2017-09-20 08:09] corpsee commented on #120
@ss-gxp Timeline as a widget is good idea too) Thanks!

[2017-09-21 16:58] SimonHeimberg commented on #117
php 7.0.22

[2017-09-21 17:20] corpsee commented on #117
Thank you @SimonHeimberg!

[2017-09-26 15:01] corpsee opened #121 "Additional project config (like .php-censor.yml but only in DB)"
I want to add additional project config (Like `.php-censor.yml` but only in DB). Which overlay some options from default project config (file) and has several exclusive options (Like: environments, secrets etc.). @SimonHeimberg Thank you for this idea (#87, #106).

It helps to unify special entities like environments (#41) and secrets (#14) and helps to add more features in the future with minimal

[2017-09-27 13:02] ss-gxp commented on #121
In my opinion, great idea.

[2017-09-27 15:39] corpsee opened #122 "Redesign email notifications."
Redesign email notifications.

[2017-09-27 15:47] corpsee opened #123 "Create Pagination helper"
Create Pagination helper instead of [this code](https://github.com/php-censor/php-censor/blob/master/src/PHPCensor/View/Project/view.phtml#L120). Related issue #85.

[2017-09-27 15:53] corpsee commented on #85
#123

[2017-09-30 05:00] corpsee opened #124 "Unify duration format (and localization) for all views (sec, s, ms)"
Unify duration format (and localization) for all views (sec, s, ms).

[2017-09-30 05:03] corpsee opened #125 "Create command for create build periodical"
Create command for create build periodical (if no new builds from webhook).

[2017-10-03 18:36] Vincentv92 commented on #125
Currently I'am looking into this issue, but I have difficulty with understanding what you mean. Because there is already a php command to create a build from the console.

With periodical, can you give an example?

[2017-10-04 00:50] corpsee commented on #125
Hi @Vincentv92. I mean command should check where was last build and if it was too long time ago (for example 30 days ago) than command create new build. it is necessary for check project dependencies, for example, pepiodicaly if no weebhook builds.

[2017-10-04 07:10] Vincentv92 commented on #125
Ah okay, now I understand. That makes sense, I will work on this.

[2017-10-04 07:34] corpsee commented on #125
Great news. Thank you @Vincentv92! :+1:

[2017-10-04 20:43] Vincentv92 commented on #125
Please see #126 for the first try, I would like to hear your feedback!

[2017-10-05 16:03] corpsee commented on #125
Thanks @Vincentv92!

[2017-10-05 16:03] #125 closed

[2017-10-20 19:56] lscortesc opened #127 "Installation Failed"
### Installation Failed
When i was try to install PHP Censor i've got this problem:

![issuephpcensormigrations](https://user-images.githubusercontent.com/6760803/31839161-8f1dc436-b5a5-11e7-91c3-f1a231137d93.png)

[code]

### How to reproduce

1. Clone repo
2. Go to project path
3. Run
[code]

[2017-10-21 02:28] corpsee commented on #127
Thanks @lscortesc!

[2017-10-21 02:34] #127 closed

[2017-10-22 03:09] corpsee opened #129 "Create Ansible playbook/role for PHP Censor"
Create Ansible playbook/role for PHP Censor.

[2017-10-22 14:00] ketchoop commented on #129
@corpsee it's really good point. But it would be easily to do, if PHPCensor have rpm/deb packages.

[2017-10-22 14:06] corpsee commented on #129
@ketchoop Good idea :) I will try to create playbook/role and see what I can do. May be it will system package at the end.

[2017-10-26 13:45] corpsee commented on #123
Done.

[2017-10-26 13:45] #123 closed

[2017-10-29 07:09] corpsee commented on #85
Pagination for build errors done. Branch `feature-pagination-for-errors`.

[2017-10-29 14:27] corpsee commented on #85
Filtration for errors by severity and plugin done. Same branch.

[2017-10-30 14:06] corpsee commented on #85
Links from summary to errors done. Same branch.

[2017-10-30 14:09] corpsee commented on #85
In the `master` branch now.

[2017-10-30 14:09] #85 closed

[2017-10-30 15:02] vinpel opened #130 "Can`t build - status is not pending in complete stage"
Hello,

With a successfull build i get :

[code]

when i look in the log i get :!

[code]
I was thinking of a migration error :
![image](https://user-images.githubusercontent.com/1699839/32177805-77ee99be-bd8b-11e7-8387-cbf6e4497e0d.png)

no success ...

Structure of "build_error" table :

![image](https://user-images.githubusercontent.com/1699839/32177922-bc0e60ac-bd8b-11e7-89eb-9675a1856f71.png)

[2017-10-30 15:20] corpsee commented on #130
Hello @vinpel! Thank you for the issue.
It is my fault and now I fixed it. Can you check fresh `master` branch?

[2017-11-07 15:42] corpsee commented on #120
Done (#131).

[2017-11-07 15:42] #120 closed

[2017-11-19 17:12] DanielRuf opened #135 "Empty website"
The website of php-censor contains nothing. Is this intended?

[2017-11-19 17:21] corpsee commented on #135
Website is in progress... You can read [documentation](https://github.com/php-censor/php-censor/tree/master/docs/en) now instead of website for info.

@DanielRuf Thank you for reminding!

[2017-11-19 17:23] DanielRuf commented on #135
Ok, thanks for the information.

[2017-12-07 09:30] mattgorle commented on #117
Currently, PHP 7.1.11 on our CI server.  I'm investigating PHP 7.2 on my dev machine with a view to rolling it out to the CI server and beyond.

[2017-12-07 11:25] corpsee commented on #117
@mattgorle Thank you! :+1: Create issue if there are problems with PHP 7.2.

[2017-12-07 13:41] corpsee commented on #82
@vinpel I improved Technical Debt parsing. Can you check your problem in `feature-technical-debt-fix` branch?

[2017-12-08 13:23] vinpel commented on #82
i have allowed more memory to php-censor so i don't get any error.
I've switch to you'r branch.

Somes projet doesn't find any FIXME ... but i'm sure i've somes

[code]

FYI the documentation speak of technitial dep**P**t, probably a typo

[2017-12-08 13:40] corpsee commented on #82
@vinpel Thank you for typo and testing! :+1: I fixed typo error in the docs and FIXME too. Can you check again?

P.S.: Old Technical Debt plugin also had bug: we see only first type of debt (TODO, FIXME and etc.) on one file. This bug fixed too.

[2017-12-08 14:26] vinpel commented on #82
Still the same problem.

When i start in debug mode no commande information ? :
[code]

[2017-12-08 14:43] corpsee commented on #82
@vinpel Were you restart worker? I tested locally and `FIXME` (and other) worked...

[2017-12-08 14:51] corpsee commented on #82
@vinpel Finally fixed, I hope... :smile:

[2017-12-08 15:26] vinpel commented on #82
still no info.

I have used  this .php-censor.yml file to simplify the process :
[code]
a search in file in the project :

![image](https://user-images.githubusercontent.com/1699839/33772333-8d45437c-dc34-11e7-9c33-b3a86758a262.png)

[2017-12-08 15:56] corpsee commented on #82
It is very strange... I test [this project](https://github.com/php-censor/php-censor-test/blob/master/src/Application.php) and see:

[code]

Code:
[code]

[2017-12-09 16:27] oln0ry opened #136 "PHP 7.2 unpack user from session"
PHP Censor's dashboard

## Actual behavior

HTTP 500 error and record in error log.

FastCGI sent in stderr: "PHP message: PHP Fatal error:  PHPCensor\Helper\Lang::init(): The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;PHPCensor\Model\User&quot; of the object you are trying to operate on was loaded _before_ unseriali

[2017-12-09 16:32] corpsee commented on #136
I will try to test it soon. Thanks, @oln0ry!

[2017-12-09 16:33] oln0ry commented on #136
@corpsee it can be fixed by
`if ((!is_object($user) || get_class($user) == '__PHP_Incomplete_Class') && gettype($user) == 'object') {
            $user = unserialize(serialize($_SESSION['php-censor-user']));
        }`

[2017-12-09 16:35] corpsee commented on #136
Thank you, very useful comment :+1:

[2017-12-09 16:39] #136 closed

[2017-12-10 03:35] corpsee commented on #82
@vinpel Are you using MySQL for main PHP Censor DB? May be it is problem... I will test MySQL today.

[2017-12-10 03:43] corpsee commented on #82
And what PHP version?

[2017-12-10 14:08] corpsee commented on #82
I checked again on MySQL and PHP 7.1 and 7.2. Everything is correct. :confused: I will not close and merge yet...

[2017-12-11 16:03] vinpel commented on #82
sorry i don't work during the week-end.

I use :
[code]

mariaDb :
[code]

The debug launch didn't display the command, it's  a call of a class directly, how can i test to maybe see a clear error message ?

[2017-12-11 16:08] corpsee commented on #82
Something should be in the log `runtime/console.log`...

[2017-12-12 07:19] vinpel commented on #82
No command seem to be launched :
[code]

the build :
![image](https://user-images.githubusercontent.com/1699839/33871971-1dbc7208-df15-11e7-980c-325fca26af57.png)

[2017-12-12 07:29] vinpel commented on #82
something is strange ... how did php-censor get his exclude liste ? (ignore).

Here is my full .php-censor.yml file :

[code]

Now look at the excluded path :

 * modules/service/tests/_support
 * modules/historique/tests/_support
 * modules/ordonnateur/tests/_support

i have .php-censor.yml file but under vendor/enterprise/modulesXXXXX
how did php-censor find them ?

i checked project didn't have

[2017-12-12 07:32] vinpel commented on #82
something is strange ... how did php-censor get his exclude liste ? (ignore).

Here is my full .php-censor.yml file :

[code]

Now look at the excluded path :

 * modules/service/tests/_support
 * modules/historique/tests/_support
 * modules/ordonnateur/tests/_support

i have .php-censor.yml file but under vendor/enterprise/modulesXXXXX
how did php-censor find them ?

i checked project didn't have

[2017-12-12 07:48] corpsee commented on #82
@vinpel  I will be able to look sources about your question (exclude list) tonight.

[2017-12-12 14:13] corpsee commented on #82
@vinpel Can you check branch again on your project? I rewrited plugin again including logical of excluding files.

[2017-12-14 08:33] vinpel commented on #82
i found the bug, will make a PR

[2017-12-14 08:34] corpsee commented on #82
@vinpel Excellent! :+1: Thank you!

[2017-12-14 09:29] vinpel commented on #82
the anomalie is caused by my ignored path "runtime"
the plugin wrongly manage relative, absolute path.

For ignore path it MUST be searched relative, but found a root of path.
Absolute path must be used when reading content of the file. (FIXME ...)

For  exemple if i add after the line "if (false !== strpos($filePath, $ignore)) {"
[code]
i wil get :
[code]

Full path is : /data/htdocs/phpc/runtime

[2017-12-14 10:00] vinpel commented on #82
working file : https://github.com/vinpel/php-censor/blob/932c51b48a75e3ac5aa2a37f254144c74523caf6/src/PHPCensor/Plugin/TechnicalDebt.php

(sorry messed indentation)

[2017-12-14 11:10] vinpel commented on #82
fixed the issue :
![image](https://user-images.githubusercontent.com/1699839/33989141-b58f6038-e0c6-11e7-8df5-114b2edb9069.png)

see pull request : https://github.com/php-censor/php-censor/pull/141

[2017-12-14 12:18] corpsee commented on #82
Thank you for the detailed explanation! I merged your request and my edits in the `master` branch, can I close the issue?

[2017-12-14 14:18] vinpel commented on #82
yes you can !

[2017-12-14 14:50] #82 closed

[2018-01-04 18:54] corpsee commented on #107
See [PHPCI issue](https://github.com/Block8/PHPCI/pull/93)

[2018-01-05 07:08] lakshmajim commented on #107
Hello @corpsee ,
Is there any workaround for this ?

[2018-01-05 08:17] corpsee commented on #107
@lakshmajim Now I guess you may make `/runtime/builds` directory public in nginx/apache configuration. But it isn't good idea.

[2018-01-17 10:00] SimonHeimberg commented on #107
I understand that Block8/PHPCI#93 mentions [the same problem](https://github.com/Block8/PHPCI/pull/93#issuecomment-355364986).
What they did is to display the images on the build page (in https://github.com/juanf/PHPCI/commit/39e9d948d2e7fc9974c9fe35a4046c81def6dd3c), but the printed url is still invalid.

[2018-01-17 11:52] corpsee commented on #107
@SimonHeimberg Thank you for the link ( https://github.com/Block8/PHPCI/commit/39e9d948d2e7fc9974c9fe35a4046c81def6dd3c)!

I think we can solve the problem by special rout (controller/action) which will return files for pdepend (like `BuildStatusController::image` returns status image).

[2018-01-18 16:38] #77 closed

[2018-01-18 16:38] #109 closed

[2018-01-18 16:38] #117 closed

[2018-01-19 07:36] vinpel commented on #107
Additionaly the documentation miss a yaml example of the plugin.

[2018-01-19 13:43] corpsee opened #143 "Improve documentation for Pdepend."
Improve documentation for Pdepend. Add yaml config example and explanation.

[2018-01-19 13:44] corpsee commented on #107
This is an important note, thank you @vinpel! #143

[2018-01-20 09:58] corpsee commented on #107
@SimonHeimberg @lakshmajim Fixed in branch `improve-pdepend`. Can you check it please?

[2018-01-20 10:00] corpsee commented on #86
@SimonHeimberg Fixed in branch `improve-pdepend`. It works like Pdepend plugin, link to coverage in the build log. Can you check it please?

[2018-01-24 13:20] corpsee commented on #143
Done.

[2018-01-24 13:21] #143 closed

[2018-01-24 13:22] corpsee commented on #107
Merged into `master`. Feel free to reopen and comment.

[2018-01-24 13:22] corpsee commented on #86
Merged into `master`. Feel free to reopen and comment.

[2018-01-24 13:22] #86 closed

[2018-01-30 07:20] SimonHeimberg commented on #86
The printed url works for showing the report. Confirm this issue as closed.

Showing the summary (with `phpunit ... --coverage-text reportFile.txt ...` and then `grep --max-count 3 '% ' reportFile.txt` [1])
or even including this 3 values [1] in the graph would still be great.

[1] The 1st 3 values (with %) are the total coverage of Classes, Methods and Lines.

[2018-01-30 08:41] SimonHeimberg commented on #107
Confirm that the url shown in the log works.

What we do not have is a link pointing always to the newest generated version. (This would have been the functionality of the original shown link. But it did not work.) In case somebody would like to include the link in the readme, as the log text tells.

Should we mention that files in the artifacts directory will not be deleted when the build (or pro

[2018-01-30 12:14] corpsee commented on #107
@SimonHeimberg You say reasonable things and questions. Now I know what to do next, thank you. 👍

1. Link to the latest build in each branch is needed.
2. Project artifacts directory deleting when deleted project is needed.
3. I think that it is OK because it is a static content, but may be we should make direct links more random (Some hash instead of project/build ids).

[2018-01-30 12:24] corpsee commented on #86
@SimonHeimberg Thank you for the testing and notes!

1. Yes, I guess it should be a new issue. Can you create issue for it please? Thanks.
2. About coverage without login I commented in #107.

[2018-02-01 12:43] SimonHeimberg opened #145 "the bytes `\xf0\x9c\x83\x96` stop the entire output"
When the four bytes `\xf0\x9c\x83\x96` are in the output of any step,
all output from there is truncated. Also the output of the following steps is nowhere.

This byte sequence in UTF-8 is for `\U0001c0d6`, a non-existing unicode character (see in [character reference](https://en.wikibooks.org/wiki/Unicode/Character_reference)).

## Expected behavior

The output should be shown normally (probably

[2018-02-01 13:00] corpsee commented on #145
@SimonHeimberg Thanks for the detailed explanation! Bug accepted.

[2018-02-03 04:46] corpsee commented on #145
Fixed in branch `non-utf-8-fix`. @SimonHeimberg Can you check fix please?

[2018-02-03 13:10] corpsee commented on #145
Finally fixed in #146.

[2018-02-03 13:10] #145 closed

[2018-02-05 14:52] corpsee opened #148 "Coverage summary for PHPUnit plugin"
Add coverage summary for PHPUnit plugin (See #86). Description by @SimonHeimberg:

[2018-02-05 20:04] SimonHeimberg commented on #107
Note to 3. (output files readable without login):
* This is expected for phpmd. Else it is not possible to include the generated images in an online REAMDE.
* This is maybe unexpected for code coverage of phpunit. The coverage results show the entire source code. This is no problem for FOSS projects, but for others. A warning sounds apropriate.

[2018-02-06 06:34] SimonHeimberg commented on #145
Additional info about UTF_8 in mysql (according to https://dev.mysql.com/doc/refman/5.7/en/charset-unicode-utf8.html):
* No support for supplementary characters (BMP characters only).
* A maximum of **three** bytes per multibyte character.

The problem with the character in this example is, that it is **four** bytes long.

[2018-02-14 16:01] AlexisFinn opened #150 "Add search field to error list"
## Expected behavior

It would be nice to filter specific errors via a text search field in the error list, so as to concentrate on correcting a specific type of error.
Ex1 - I want to search for 'unused' so as to quickly correct all the unused variable/function errors because its simple, highly unlikely to brake anything, and will greatly help to reduce the total number of errors.
Ex2 - I want to

[2018-02-14 16:12] corpsee commented on #150
@AlexisFinn Thank you for issue and detailed explanation! I will think about this problem and how it can be resolved.

[2018-02-21 10:36] KuGelFaaaNg opened #152 "Installation JavaScripts"
## Expected behavior

JavaScripts should be installed in ```/public/assets/vendor/```

## Actual behavior

JavaScripts are installed in ```/vendor```

## Steps to reproduce

Run
[code]

## Environment

* Ubuntu 16.04
* PHP 7.2
* Composer version 1.6.3

[2018-02-21 10:56] leewillis77 commented on #152
I'm just trying out PHP-Censor after a recommendation on the UK Laravel slack channel, but I've been unable to get everything up and running, and I suspect my issue is similar.

I've installed the app as per the instructions in the README - however all third-party JS *and* CSS are 404-ing. I replaced my standard NGINX config with the one recommended in the docs (which looks like it has PHP handle

[2018-02-21 11:05] KuGelFaaaNg commented on #152
I think PHP should not handle the missing files.
These files should be called directly.
The error I suspect in Composer.
So you should be in the right place here and not open a fresh issue.

[2018-02-21 11:05] corpsee commented on #152
@KuGelFaaaNg @leewillis77 Thank you for the reports! I will try to fix it soon.

P.S.: @leewillis77 You may try to install version `0.20.0` for now.

[2018-02-21 11:41] KuGelFaaaNg commented on #152
@leewillis77

Try the following commands as a workaround in your main direcory.

[code]

[2018-02-21 11:48] leewillis77 opened #153 "phpcs plugin ignores "path" setting"
## Expected behavior

phpcs only run on the path defined in the .php-censor.yml file, e.g.

[code]

phpcs should only check and report errors on files under the "app" folder. This config looks correct according to [the docs](https://github.com/php-censor/php-censor/blob/master/docs/en/plugins/php_code_sniffer.md), and works on PHPCI.

## Actual behavior

The path is ignored, and phpcs is run again

[2018-02-21 11:58] leewillis77 commented on #153
Also confirmed that this still exists with 0.21.0

[2018-02-21 11:59] corpsee commented on #153
@leewillis77 Thanks! Bug confirmed.

[2018-02-21 12:01] corpsee commented on #152
@KuGelFaaaNg @leewillis77 Can you test my fix of assets? (Already in `master` branch).

[2018-02-21 12:02] leewillis77 commented on #152
@corpsee Yep - worksforme :)

[2018-02-21 12:05] KuGelFaaaNg commented on #152
@corpsee

Works for mee, too but you have a misstake in yout paths.

```GET https://domain.tld/assets/vendor/ion-icons/css/ionicons.min.css net::ERR_ABORTED```

I solve this in my commands with `

[code]

[2018-02-21 12:06] leewillis77 commented on #152
ionicons.min.css loads fine for me on a fresh install from master...

[2018-02-21 12:07] corpsee commented on #152
@KuGelFaaaNg

[2018-02-21 12:08] KuGelFaaaNg commented on #152
Sry I dont think so. You need to rename the folder or to change the paths where you include ion-icons.

[code]

[2018-02-21 12:11] corpsee commented on #152
@KuGelFaaaNg :+1: Fixed.

[2018-02-21 12:12] KuGelFaaaNg commented on #152
Work's perfect now 👍

[2018-02-21 12:14] #152 closed

[2018-02-21 12:16] KuGelFaaaNg opened #154 "SSH-Key Strength"
## Expected behavior
It should be possible to setup a SSH-Key strength.
In Gitlab I use at least 4096 Bit Key's.

## Actual behavior

*A generated SSH-Key has a strength of 2048 B.*

## Steps to reproduce

*Add Project.*

*src/PHPCensor/Helper/SshKey.php*

[code]

[2018-02-21 12:19] corpsee commented on #154
@KuGelFaaaNg Thank you for the idea!

[2018-02-21 12:20] KuGelFaaaNg commented on #154
@corpsee With pleasure. I could implement it. But I think you are a little faster.

[2018-02-21 12:24] KuGelFaaaNg commented on #154
Please make it also possible to change the key description with used domain.
Something like *deploy.php-censor@domain.tld* 😄

[2018-02-21 12:28] corpsee commented on #154
@KuGelFaaaNg Ok :smile: I may add parameter to global application config `app/config.yml`. Is it normal solution for you?

About description - Ok.

I will try to fix it at this week.

[2018-02-21 12:33] KuGelFaaaNg commented on #154
Sure this is a good solution for me. Thank you!

[2018-02-22 14:49] AlexisFinn commented on #153
Hi, I saw this too and corrected it locally. It's real easy:
in src/PHPCensor/Plugin/PhpCodeSniffer.php
Anywhere in the  __construct function add the following
[code]
That's it, all the rest of the code is there just waiting to use the setting, it was just never set in the constructor.

[2018-02-22 15:00] corpsee commented on #153
@AlexisFinn Good research, thanks!

[2018-02-22 15:03] corpsee commented on #153
@AlexisFinn Can you make pull request with your local changes please?

[2018-02-22 16:03] AlexisFinn commented on #153
Ok, done.

Sorry for the somewhat messy process, this is the first time I do this.

[2018-02-22 16:09] corpsee commented on #153
@AlexisFinn Don't worry, it is Ok. Congratulations on your first request!

[2018-02-22 16:10] leewillis77 commented on #153
Thanks both 👍

[2018-02-22 16:12] #153 closed

[2018-02-23 04:36] corpsee commented on #154
@KuGelFaaaNg Done. Can you check issue in the branch `ssh-strength`?

[2018-02-23 06:24] prezire opened #156 "Use Web Notifications API in front-end to notify active users of build changes"
This request is taken from an old request in the original PHPCI issues thread: https://github.com/Block8/PHPCI/issues/255.

Please see quoted descriptions below from the original thread.

--------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------

[2018-02-23 07:05] corpsee commented on #156
Hi, @prezire. Thank you for the good idea! Pull requests are welcome :smiling_imp:

[2018-02-23 08:22] KuGelFaaaNg commented on #154
@corpsee I did. Works fine. Thank you 👍

[2018-02-23 08:45] KuGelFaaaNg opened #157 "Status remains waiting"
## Expected behavior

*I actually expect a build to succeed or fail.*

## Actual behavior

The webhook is triggered. I trigger them from GitLab with a push in the master branch.
Even after two days, the status of all builds is still waiting.
The duration of each Build is 0 seconds.
I suspect the mistake in a faulty configuration, but do not know where to start. I can not find an error message anyw

[2018-02-23 11:02] corpsee commented on #154
Thanks!

[2018-02-23 11:02] #154 closed

[2018-02-23 11:08] corpsee commented on #157
@KuGelFaaaNg I guess you don't start  a worker ([cron task](https://github.com/php-censor/php-censor/blob/master/docs/en/workers/cron.md) or [daemon](https://github.com/php-censor/php-censor/blob/master/docs/en/workers/worker.md)).

If worker started then you should see some errors in the log.

[2018-02-23 11:13] KuGelFaaaNg commented on #157
@corpsee Oh, nice. I will try it. Thanks 😄

[2018-02-23 12:04] KuGelFaaaNg commented on #157
@corpsee Yeah, that was the trick. Wors fine now. 👍

[2018-02-23 12:04] #157 closed

[2018-02-25 05:37] corpsee commented on #148
Done in branch `coverage`. Added PHPUnit code coverage output to build log and coverage chart to the information tab.
@SimonHeimberg Can you check feature please?

[2018-02-25 16:42] corpsee commented on #107
Done.

1. Added links for the last build of branch (for PHPUnit and PDepend artifacts).
2. Application remove artifacts when removed build or project.
3. Now names of the directories is more random.

@SimonHeimberg Can you check changes in the branch `artifacts`? Thanks!

[2018-03-05 12:21] niemiha opened #161 "phpcensor.project_group missing"
## Expected behavior

Getting the php-censor up :P

## Actual behavior

I tried to install the php-censor but in the end of the installing script (interactive) after giving the user data there was an database error. Sorry, somehow I managed to lose the actual error message (out of frustration). So I tried to add the user manually. Of course getting the hash was impossible but I just thought that p

[2018-03-05 12:53] corpsee commented on #161
@niemiha Looks like migrations failed on installation process for some reasons. I couldn't reproduce the problem on my MariaDB :(

1. Can you give version of PHP Censor what you install (fresh `master` branch or tag version)?
2. Can you try to do new clean installation of PHP Censor and give first error from installation process?

Thanks!

[2018-03-05 13:24] niemiha commented on #161
I tried now with gzipper tarball: php-censor-v0.21.0

After trying to generate admin and giving the password the following error message appears:

PHP Censor failed to create your admin account!
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'provider_key' in 'field list'
PHP Censor failed to create default project group!
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'phpcensor

[2018-03-05 13:36] corpsee commented on #161
@niemiha Can you give full installation console output please?

[2018-03-05 13:41] corpsee commented on #161
Are you install on empty DB without tables?

[2018-03-05 15:09] niemiha commented on #161
Sorry, I can give full installation console output only tomorrow, left already for today.

And yes, the database was just created empty database,

[2018-03-06 14:18] corpsee commented on #148
Now in `master` branch.

[2018-03-06 14:18] #148 closed

[2018-03-07 18:33] corpsee commented on #107
Added global application config (`config.yml`) option `php-censor.build.allow_public_artifacts` for allow/deny to generate public artifacts.

[2018-03-07 18:37] corpsee commented on #107
Now in `master` branch.

[2018-03-07 18:37] #107 closed

[2018-03-08 03:59] niemiha commented on #161
Sorry for delay.

Yes, the database was just newly created new database.

The full installation input-output is as follows:

***************************************
*  Welcome to PHP Censor installation *
***************************************

Checking requirements...

OK

Please answer the following questions:
--------------------------------------

Please enter your database type (mysql or pgs

[2018-03-08 04:07] corpsee commented on #161
Thank you, @niemiha for the details! You should to set `date.timezone` setting in your `php.ini` PHP config.

Can you set it and check again fresh installation?

[2018-03-08 04:59] niemiha commented on #161
Ok, that seems to have made it.

Sorry for the bother and not trying it myself, but as it is only warning I normally have got away with the missing timezone.

Thank you a lot for help

[2018-03-08 08:09] vinpel opened #162 "Build #XXX does not exist in the database"
## Expected behavior

When i commit & push i want the build to start, this has work

## Actual behavior
I use a worker & beanstalkd
console.log :
[code]

## Steps to reproduce

-> commit you'r work
-> push event
-> php-censor add the build
-> build icon stay "blue"

i can fix it with :
[code]
and maybe :
console rebuild queue

## Environment

* PHP Censor version master
* Operating System alpine
*

[2018-03-08 08:18] corpsee commented on #161
@niemiha It's all right. I'm glad that I could help you.

[2018-03-08 09:05] corpsee commented on #162
@vinpel What webhook and project type are you using? I guess Gogs... Can you test `master` again, please?

[2018-03-08 09:17] vinpel commented on #162
Yes i'm using gogs !
Restarting the container :
[code]
rebuild-queue job start immediatly

will close in 1-2 days if no new starting problem

[2018-03-08 11:52] vinpel commented on #162
still go the issue, how to check the fix ?

[2018-03-08 12:25] corpsee commented on #162
@vinpel I didn't understand, the problem is reproduced again?

[2018-03-08 14:51] vinpel commented on #162
yes the exact problem in the log,
what was the root of the problem ?

[2018-03-08 14:58] corpsee commented on #162
I'm not sure, but it looks like error when build saves to DB.

[2018-03-08 15:05] vinpel commented on #162
The build line in present in the db, a bad use of mariaDB transaction maybe ?

[2018-03-08 15:12] vinpel commented on #162
found the error :

at the end of the build :
[code]

[2018-03-08 16:35] corpsee commented on #162
@vinpel Thank you for the error message. Fixed. Can you test `master` branch again, please?

P.S.: I don't understand how `create_date` of `Build` may be `null`. It is strange...

[2018-03-13 07:29] ysakai3 opened #163 "Support GitHub Enterprise"
## Expected behavior

Support for GitHub Enterprise would be interesting as a new addition, as it isn't currently supported.

## Steps to reproduce

I was able to link it by changing the URL of GitHub.com to my GitHub Enterprise Instance's hostname at
/var/www/php-censor.local/src/PHPCensor/Model/Build/GithubBuild.php

## Environment

* PHP Censor version
* Operating System
* PHP version
* MySQL/P

[2018-03-13 11:52] corpsee commented on #163
@ysakai3 Thank you! Good suggestion. I wll try to do this later.

[2018-03-14 14:41] corpsee commented on #162
@vinpel Any news?

[2018-03-15 14:45] Caffe1neAdd1ct opened #164 "Column "project_id" must be an integer."
## Expected behavior

Clicking rebuild now starts a rebuild

## Actual behavior

Seeing error:

Sorry, there was a problem

`http://localhost.phpcensor/build/rebuild/3`
[code]
## Steps to reproduce

Click rebuild now

## Environment

* `master`
* Arch
* php 7.2
* MariaDB

[2018-03-15 14:48] Caffe1neAdd1ct opened #165 "Initial build folder not automatically created"
## Expected behavior

Build to start and private key file created inside initial build folder

## Actual behavior
[code]
## Steps to reproduce

Create a new build and run it.

## Environment

* master
* Arch Linux
* 7.2
* MariaDB

[2018-03-15 14:49] Caffe1neAdd1ct commented on #165
Manually creating the build number folder inside php-censor/runtime/builds e.g `php-censor/runtime/builds/1/` then runs the build successfully.

[2018-03-15 15:29] #164 closed

[2018-03-15 15:30] corpsee commented on #164
@Caffe1neAdd1ct Thank you! #166 Merged. +1

[2018-03-15 15:38] corpsee commented on #165
@Caffe1neAdd1ct I guess your worker/cron-user doesn't have rights to write to the web-user's directory.

[2018-03-15 17:10] Caffe1neAdd1ct commented on #165
I'm running both the webserver (php inbuilt webserver) and the worker both on my local user at the moment so there should be no permission issues. Cloning works fine after the directory is created so i don't think it's permissions related (i may be wrong will investigate if time permits).

[2018-03-15 23:38] corpsee commented on #165
Oh... I understand where problem: `php-censor/runtime/builds/1/1_bdb12f16.key` (from your log). But normal path should be: `php-censor/runtime/builds/1/1_bdb12f16/<key>.key`.

Thank you for the report!

[2018-03-15 23:50] corpsee commented on #165
@Caffe1neAdd1ct Fixed. Can you check it please?

[2018-03-16 05:20] vinpel commented on #162
All build start normally now.

it's fixed, so i closethe ticket

[2018-03-16 05:20] #162 closed

[2018-03-16 08:16] Caffe1neAdd1ct commented on #165
Did a quick pull:

[code]

Restarted the webserver and worker
Deleted and recreated the project

Still getting folder issues:

[code]

Doing a `watch -n 1 ls -l`  on the php-censor/runtime/builds/ directory i'm still not getting a folder created.

A quick `mkdir 3` (3 being the project) before solved it, however now i'm still getting:

[code]

[2018-03-16 10:25] Caffe1neAdd1ct commented on #165
Printing out the full file path from the `writeSshKey` method gives me:

[code]

i've made sure the `3` directory exists manually (still an issue) however this can't be put inside `33_d27647d2` as this doesn't appear to be created at this point either?

[2018-03-16 13:49] corpsee commented on #165
@Caffe1neAdd1ct Can you check `master` branch again please? I fixed problem by moving keys to system temp directory until build directory doesn't exist.

[2018-03-16 14:03] Caffe1neAdd1ct commented on #165
@corpsee Perfect! All working :+1:

[2018-03-16 14:05] corpsee commented on #165
Thanks @Caffe1neAdd1ct!

[2018-03-16 14:05] #165 closed

[2018-03-20 03:00] prezire commented on #156
I can create the UI and integrate the Push Notification part. Do you guys have suggestions where to put the push-notif-server.php? In needs to be executed as "php push-notif-server.php" but I'm having difficulty integrating it, even as a Command. Inputs would helpful.

[2018-03-20 11:47] corpsee commented on #156
I guess you should write (and use) daemon (command wich works permanent) for push server. For example see [how works](https://github.com/php-censor/php-censor/blob/master/src/Command/WorkerCommand.php) ([and setups](https://github.com/php-censor/php-censor/blob/master/docs/en/workers/worker.md)) worker command.

[2018-03-20 12:23] prezire commented on #156
Nice. I was thinking of something similar. I'll take a look. Thanks for pointing this out!

[2018-04-05 11:56] prezire commented on #156
I found out I might have taken this to a wrong direction with ZMQ, which isn't needed for now. The original request was mostly talking about the UI side. I'll do a Pull Request for it and then file another issue request relating to ZMQ.

[2018-04-05 13:02] corpsee commented on #156
@prezire First, thank you for your work! I suggest to keep the pull request opened and work on it. Without backend part this changes is useless.

[2018-04-05 13:27] prezire commented on #156
@corpsee No worries. A back-end was involved. But the feature is mostly related to front-end, which gives users a notification popup no matter what page they are viewing, or even when the browser window is not focused or minimized.

[2018-04-05 13:40] corpsee commented on #156
@prezire Ok.

[2018-04-05 15:09] prezire commented on #156
Thanks for the tips @corpsee . By the way, there's a codecove issue similar to the phpunit pull request. Is this a blocker to our pull requests not approved?

[2018-04-05 15:19] corpsee commented on #156
No, codecove mostly for information. It is not blocker in common case.

[2018-04-05 21:34] prezire commented on #156
Cool. Thanks for clearing it up.

[2018-04-10 13:27] corpsee commented on #163
I added support for GitHub Enterprise in `master` branch.

@ysakai3 Can you check the feature please? You should update your PHP Censor to fresh `master`, edit your project and set to `reference` form field full repository URI (Like `git@example.com:owner/repository.git`).

[2018-04-11 05:24] ysakai3 commented on #163
@corpsee Which repository type should I choose at `Where is your project hosted` ? (e.g. GitHub, Bitbucket..)
![1](https://user-images.githubusercontent.com/32917290/38597679-06ef7470-3d94-11e8-81ad-4cdc5500d385.PNG)

[2018-04-11 05:35] corpsee commented on #163
@ysakai3 GitHub.

[2018-04-11 06:27] ysakai3 commented on #163
@corpsee I can confirm that I am able to have it build via webhook coming from GitHub Enterprise. But since the project is configured as GitHub.com, when I click on the branch or commit reference in the project, it jumps to the url with github.com as the hostname.

[2018-04-11 11:34] corpsee commented on #163
@ysakai3 I guess you don't change field "Repository Name / URL (Remote) or Path (Local)" to full repository path: `root/clon` to `git@your-repository.com:root/clon.git`.

If domain isn't exist it use "github.com" by default.

[2018-04-14 05:16] corpsee commented on #163
@ysakai3 Any news?

[2018-04-14 15:37] ysakai3 commented on #163
@corpsee thanks for checking in. I haven't had the chance to go in detail yet, but I will let you know next week how it goes!

[2018-04-14 16:34] corpsee commented on #163
@ysakai3 OK, thank you!

[2018-04-15 09:56] corpsee commented on #87
I implemented ability to merge in-database project config over in-repository file config (`.php-censor.yml`). See [commit](https://github.com/php-censor/php-censor/commit/069026bc2d6f34bbf6b4853938a3f9d54f90eed9).

You may disable `overwrite_build_config` checkbox in the project editing/adding page and in-database project config will be merged over in-repository config without full replace.

It so

[2018-04-15 09:59] corpsee commented on #121
I close the issue for now because the most important things are implemented. See last comment in #87.

[2018-04-15 09:59] #121 closed

[2018-04-15 10:00] corpsee commented on #14
I close the issue for now because the most important things are implemented. See last comment in #87.

[2018-04-15 10:00] #14 closed

[2018-04-15 10:01] corpsee commented on #106
Fixed. See last comment in #87.

[2018-04-15 10:01] #106 closed

[2018-04-15 10:10] corpsee commented on #70
Fixed.

You should set `svn` section with additional CLI options in project config instead of global PHP Censor config (And you should use in-database project config instead of `.php-censor.yml`. See last comment in #87.).

I added comments to project config documentation [for SVN](https://github.com/php-censor/php-censor/commit/b0e71cb3ad4343996627d8899c8be949b177c62a#diff-16f9454e26e90eb44f4e023

[2018-04-15 10:10] #70 closed

[2018-04-19 20:04] ismaail opened #170 "[PHP 7.2] PHP Docblock Checker fails"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce
The cause is the change of [count()](http://php.net/manual/en/function.count.php#refsect1-function.count-changelog) function in PHP 7.2

### Environment

* PHP Censor version: cb735ccf
* OS: Docker container: fpm-alpine
* PHP version: 7.2
* MySQL: 7.5

[2018-04-20 00:42] corpsee commented on #170
@ismaail I fixed PhpDockblockChecker plugin in the `master` branch. Can you test this again please (on the fresh `master`)?

[2018-04-20 00:48] ismaail commented on #170
now PHP Docblock Checker successfully passes:

[code]

Thanks a lot

[2018-04-20 00:49] #170 closed

[2018-04-23 02:51] ysakai3 commented on #163
@corpsee
### I'm able to have the project build with push event webhook:
![build](https://user-images.githubusercontent.com/32917290/39104525-17a07db2-46ec-11e8-9d41-7170e7497e45.PNG)

### Project settings:
![project_settings](https://user-images.githubusercontent.com/32917290/39104498-f9495654-46eb-11e8-8222-a4e0babc9753.PNG)

### Clicking the master branch in the red box above should go to the r

[2018-04-23 11:32] corpsee commented on #163
@ysakai3 Thanks for the detailed explanation. Now problem confirmed by me (I guess problem in IP instead of domain name). I will fix it soon.

[2018-04-23 11:52] corpsee commented on #163
@ysakai3

1. Right format of SSH URI is: `git@172.25.186.4:root/clon.git` instead of `git@172.25.186.4/root/clon.git` as I know.

2. Could you give me output of `git rev-parse HEAD` command on your PHP Censor installation?

[2018-04-24 00:11] ysakai3 commented on #163
@corpsee

I used git@172.25.186.4:root/clon.git instead and can confirm it is working now!

$ git rev-parse HEAD
0a022390edc9f7f996a568d122df3167a276f720

[2018-04-24 00:19] corpsee commented on #163
You should checkout on fresh `master`. I pushed some fixes after commit 0a02239 for parsing GitHub URI. (I guess after update your HEAD `git@172.25.186.4/root/clon.git` will work fine too).

[2018-04-24 00:20] corpsee commented on #163
@ysakai3 Can I close issue?

[2018-04-24 00:47] ysakai3 commented on #163
@corpsee

I updated the repo and can confirm using `git@172.25.186.4/root/clon.git` works as well.

Yes, you can close this issue now, thanks!

[2018-04-24 00:47] #163 closed

[2018-04-29 03:28] #28 closed

[2018-04-29 03:29] #115 closed

[2018-04-29 03:34] corpsee commented on #88
I think there is a solution by @SimonHeimberg.

[2018-04-29 03:34] #88 closed

[2018-04-29 05:58] corpsee commented on #156
I added option `php-censor.notifications.enabled` (`true/false`) for enable/disable notifications. By default the option is `false`.

[2018-05-10 10:28] Mr-Chimp opened #176 "Webhook Automatic Building Not Working"
Hi, I use BitBucket and can trigger manual builds without any problems. I recently tried to set-up automatic builds using BitBucket's Webhooks (https://confluence.atlassian.com/bitbucket/manage-webhooks-735643732.html) and this appears to only half work.

The webhook got triggered and sent a message to PHP Censor, which responded with a:` {  "status": "ok" }`

However in PHP Censor nothing happens

[2018-05-10 12:12] corpsee commented on #176
@Mr-Chimp Can you give more details please. PHP Censor didn't create build or build created but in panding state?

[2018-05-10 12:26] corpsee commented on #176
Ок, thank you. Have you any errors in the logs (php error log and application log `/runtime/console.log`)?

[2018-05-10 12:35] corpsee commented on #176
@Mr-Chimp Are you have problem with push webhook trigger or pull request?

[2018-05-10 13:01] corpsee commented on #176
@Mr-Chimp Nowadays pull request trigger working only for events `pullrequest:created` and `pullrequest:updated`.

I guess it make sense because we want to know about problems before merge.

[2018-05-10 13:31] Mr-Chimp commented on #176
@corpsee That does make sense and will explain why nothing happened with no errors.

To give a brief overview of what I am trying to accomplish. In my workflow what I would like to happen is after someone finishes some code in a branch, they create a pull request to merge their code into a beta branch. Once the pull request gets accepted and merged into beta it triggers PHP Censor which will do so

[2018-05-10 13:37] corpsee commented on #176
@Mr-Chimp You may use event `repo:push` on your beta branch for this case if I right understand.

[2018-05-10 13:40] Mr-Chimp commented on #176
I will try that, thanks again

[2018-05-21 10:57] corpsee commented on #156
@prezire Any news about backend part?

[2018-05-21 22:40] prezire commented on #156
@corpsee I'm still super preoccupied as of the moment. I'll get back to speed once I'm free. For the meantime, please see the Apr 5 reply.

[2018-05-22 00:26] corpsee commented on #156
@prezire OK, thanks.

[2018-05-22 18:09] trisztan opened #179 "phpcensor not working"
![phpcensor](https://user-images.githubusercontent.com/2694621/40381409-e4f9c9b4-5dfb-11e8-9353-e9b410c9be3b.PNG)

[2018-05-22 18:11] trisztan commented on #179
just cloning the repo and not doing more

[2018-05-23 11:57] trisztan commented on #179
I setup everything. So project cloned. I can run composer in this build directory and working well. Ajax requests always return NULL. It's normal?

console.log

[code]

[code]

[2018-05-25 09:21] dfranco opened #180 "Blank page after new setup"
## Expected behavior

At least the login form or any web app error message

## Actual behavior

I get only a blank page
Apache error log shows nothing.
Any way to enable debug mode ?

## Steps to reproduce

Installed php-censor using Apache2 with MySQL db back-end.
I've followed instructions from Readme.md

## Environment
Ubuntu 16.04
Apache/2.4.18
MySQL server 5.7.22
PHP 7.0.30
PHP Censor 0.22.0

[2018-05-25 10:23] corpsee commented on #180
@dfranco

1. Is PHP error reporting enabled (`error_reporting(E_ALL)`)?
2. I guess It may be problem with session starting (Check rights of the PHP session directory, check then directory exists etc.).

[2018-05-25 10:34] dfranco commented on #180
Hi @corpsee

Thanks for your feedback.

1. Yes, this is already the case.
2. PHP setting session.save_path is set and the folder does exist

[2018-05-25 10:39] corpsee commented on #180
@dfranco Can you try to start PHP Censor on PHP build-in server without Apache2 (Something like: `php -S localhost:8000 -t ./public`)?

[2018-05-25 10:49] dfranco commented on #180
@corpsee

1. Here it is
``# php -S localhost:8000 -t ./public
``PHP 7.0.30-0ubuntu0.16.04.1 Development Server started at Fri May 25 12:46:16 2018
``Listening on http://localhost:8000
``Document root is /var/www/php-censor/public
``Press Ctrl-C to quit.

``[Fri May 25 12:46:20 2018] 127.0.0.1:33490 [302]: /

It look's like I get a 302 error code

2. Yes, mod_rewrite is enabled

[2018-05-25 11:14] corpsee commented on #180
@dfranco Thanks. About your first point (build-in server): You should change `php-censor.url` param in `app/config.yml` too (from your local address to `localhost:8000`).

[2018-05-25 12:44] dfranco commented on #180
Hi @corpsee
I've updated the config.yml file and now I'm able to get the login page using this command
`` $ wget http://localhost:8000
But it doesn't work if rollback to the fqdn using my web browser.
What could be wrong ?
Thanks for your help

[2018-05-25 12:58] corpsee commented on #180
I'm not clear, are you using FQDN with build-in server too or with Apache2?

May be problem with browser's redirects. Are you using Chrome or something else? Can you check in another browser?

[2018-05-25 13:05] dfranco commented on #180
Hi @corpsee
I'm using Apache2, no built-in server
I'm doing my tests with Firefox by the way

Thanks your help

[2018-05-25 13:11] corpsee commented on #180
I guess problem with how Apache2 (or system) configured. It is difficult to understand what is going wrong remotely(

[2018-05-25 13:14] Shar-2018 opened #181 "How to test Javascript and CSS errors in php-censor"
## Expected behavior

When I run 'Squiz' standards I expect JavaScript errors in my .js files to be detected.

## Actual behavior

*no errors detected in .js files*

## Steps to reproduce

*In the file .php-censor.yml
 Set the
php_code_sniffer:
standard= Squiz

Then commit  the .js files and php files  and build.
Result:
Errors in .js files are not detected.
Errors in .php files are detected

## E

[2018-05-25 13:38] corpsee commented on #181
@Shar-2018 According to [PHP_CodeSniffer documentation](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Configuration-Options#generic-coding-standard-configuration-options), you should set the paths to remote CSS/JS utilities (CSSLint, JSLint etc.).

But now PHP Censor PHPCodeSniffer plugin doesn't allow to set options like `--config-set jslint_path <path>`.

Pull request for improve PHPCodeSnif

[2018-05-25 13:54] vinpel opened #182 "Codeception : Exception: String could not be parsed as XML without test error => plugin failed"
## Expected behavior

codeception without fail sould not cause FAILED plugin because XML generated by Codeception

## Actual behavior

![image](https://user-images.githubusercontent.com/1699839/40547863-574c03d6-6033-11e8-9fcc-287e2e1dd58d.png)

## Steps to reproduce
During the codeception testphp print some formated lines.

The output is formatted with ascii color, the "esc" char render the XML i

[2018-05-25 14:02] corpsee commented on #182
@vinpel Thank you for the detailed report. I will try to fix the issue soon.

[2018-05-25 14:43] dfranco commented on #180
@corpsee

Fair enough
I'll try to fix my setup and get back to you if I find a fix

Thanks for your help anyway

[2018-05-25 15:15] corpsee commented on #180
Not at all) I am keeping issue opened until you fix your installation, may be it is a bug.

[2018-05-25 15:37] dfranco commented on #180
@corpsee
My mistake, I've found the issue (typo in Apache vhost configuration).

Thanks for your help

[2018-05-25 15:37] #180 closed

[2018-05-25 15:41] dfranco opened #183 "Composer plugin failed"
## Expected behavior

Install dependencies defined in composer.json

## Actual behavior

Error message in build log

RUNNING PLUGIN: Composer (Stage: Setup)
Plugin options: {"action":"install"}
Looking for binary: composer
Looking for binary: composer.phar
Exception: Could not find composer/composer.phar
PLUGIN: FAILED
Exception: Plugin failed: composer

BUILD FAILED

## Steps to reproduce

Run a

[2018-05-26 03:39] SamXiao opened #184 "Need Webhooks Notification like Travis"
Should we add a webhooks notification like Travis?

[2018-05-26 03:54] corpsee commented on #184
@SamXiao I am not clear what do you mean. Can you explan detailed?

[2018-05-26 04:10] SamXiao commented on #184
@corpsee  Like this [Travis](https://docs.travis-ci.com/user/notifications/#Configuring-webhook-notifications)
Should we have a standard webhook notifier after build completed. So we can use it in our IM or somewhere quickly.

[2018-05-26 07:12] corpsee commented on #184
@SamXiao Thanks for the explanation. I think it would be useful feature if somebody implement it. Pull requests are welcome :)

[2018-05-26 08:50] corpsee commented on #182
@vinpel Can you attach file with invalid Codeception XML without your secret data for tests?

[2018-05-27 06:39] corpsee commented on #182
@vinpel Can you check your case in branch `codeception-xml` please?

[2018-05-28 08:57] dfranco commented on #183
Hi @corpsee

Yes, Composer have been installed in php-censor folder.
``WWWROOT/composer/composer.phar

Please find below one part of the project config
setup:
  composer:
    action: "install"
    directory: "WWWROOT/composer"
...

[2018-05-28 10:57] corpsee commented on #183
@dfranco Thank you for details! It is normal behavior of PHP Censor.

1. Option `directory` set working directory where Composer runs (Not directory where Composer exists). [See](https://getcomposer.org/doc/03-cli.md#global-options) `--working-dir (-d)` Composer option.

2. Composer (Any plugin) search order of executable file by default:

    - **local**: in `vendor/bin` directory of your build (

[2018-05-28 11:36] corpsee commented on #182
@vinpel Thank you!

[2018-05-28 11:43] dfranco commented on #183
@corpsee
I've make some tests on my system and found out that even having composer in /usr/local/bin, the build fail.
I've then copied the composer binary in /usr/bin and it work now.
Shall I create another issue for this ?

Thanks for your help

[2018-05-28 11:48] corpsee commented on #183
@dfranco PHP Censor uses `which` system utility. What output has command `which composer` and `which composer.phar` on your server?

[2018-05-28 11:49] corpsee commented on #183
May be on your server directory `/usr/local/`  is not in `PATH` variable?

[2018-05-28 11:57] dfranco commented on #183
@corpsee
/usr/local/bin seem's to be in default PATH
``# grep PATH /etc/environment
``PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"

[2018-05-28 12:52] corpsee commented on #183
@dfranco What about `which composer` and `which composer.phar` output?

[2018-05-28 12:53] corpsee commented on #182
@vinpel Can you check branch `codeception-xml` again please?

[2018-05-28 13:19] dfranco commented on #183
@corpsee
# which -a composer
/usr/local/bin/composer
/usr/bin/composer
# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin

[2018-05-28 13:36] corpsee commented on #183
Thanks, I will try to fix it.

[2018-05-28 13:50] corpsee commented on #183
@dfranco What is mode of your directory `/usr/local/bin`? PHP Censor user has access `x` on directory?

[2018-05-28 14:59] corpsee commented on #182
@vinpel Can you check one more time?

[2018-05-29 08:26] vinpel commented on #182
[code]
all good !!!

[2018-05-29 11:13] corpsee commented on #182
@vinpel Thanks! Awesome)

[2018-05-29 11:13] #182 closed

[2018-05-29 11:16] corpsee commented on #183
@dfranco Ok, thanks. it will not be easy...

[2018-05-30 07:44] dfranco commented on #183
@corpsee Thanks for your efforts

[2018-06-04 09:57] vinpel opened #185 "weebhook : "error":"Content type not supported""
## Expected behavior

Accessing webHook in gogs :

https://myPhpCensor.loc/webhook/gogs/2

## Actual behavior
reponse :
[code]
Log :
[code]

## Steps to reproduce

accessing them in a navigateur

## Environment

* PHP Censor master
* Operating System Linux
* PHP version version PHP 7.1.16 (cli) (built: Apr  5 2018 17:26:10) ( NTS )
* MySQL/PostgreSQL version n/a

[2018-06-04 09:59] corpsee commented on #185
@vinpel Thanks. I will fix it.

[2018-06-04 10:07] corpsee commented on #185
Can you give me your request example without secret data please (`Content-Type` header and request body)?

[2018-06-04 11:53] corpsee commented on #185
@vinpel Can you check fix in the branch `gogs-content-type`?

[2018-06-04 12:33] vinpel commented on #185
seem good : {"status":"ignored","message":"Unusable payload."}

[2018-06-04 13:47] corpsee commented on #185
@vinpel :+1:

[2018-06-04 13:47] #185 closed

[2018-06-05 02:35] ptejada commented on #183
What is the next step in this task? Can I help?

[2018-06-05 04:50] corpsee commented on #183
@ptejada Thank you. It would be good to reproduce the bug and to understand the conditions when it happens. I cann't reproduce issue now.

[2018-06-05 04:53] corpsee commented on #183
Maybe @dfranco will find something else. I keep report opened for now.

[2018-06-05 07:15] dfranco commented on #183
@corpsee: The issue is simple
If composer or composer.phar is located in /usr/loca/bin or /usr/local/sbin, the Composer plugin fail.
Even if the global $PATH have paths above.
Once I've moved composer to /usr/bin, it worked.
This bug might be specific to Ubuntu 16.04, not sure
I'll try to reproduce this bug on a "clean" system, I'll let you know.

[2018-06-05 09:39] corpsee commented on #183
I have Ubuntu 16.04 (and  `/usr/loca/bin/composer`) too but I cann't reproduce issue. Let me know about installation on "clean" system.

[2018-06-05 12:27] ptejada commented on #183
@dfranco how are you running the build?

Are you able to share a VM where the issue can be reproduced?

Either way I will try to reproduce the issue later today.

On Tue, Jun 5, 2018, 5:39 AM Dmitry Khomutov <notifications@github.com>
wrote:

--

Sincerely,

Pablo Tejada

From Mobile

[2018-06-06 04:16] ptejada commented on #183
Hello Guys,

I went through the whole process from start to finished, from building the VM, installing all dependencies and installing the software.

I was only able to reproduce the original issue you were having which I think it was a miss understanding with this output and you guys already figure it out:
[code]
The binary is NOT been looked up in the root of the PHP-Censor installation or a com

[2018-06-06 07:39] corpsee commented on #183
@dfranco @ptejada OK. Thank you both!

[2018-06-06 07:39] #183 closed

[2018-06-06 07:40] #179 closed

[2018-06-07 03:14] ptejada commented on #184
A webhook plugin would work similar to how plugins like Slack work. In fact the Slack plugin functionality could be leveraged in this new `webhook` plugin. Do you guys have any specs for this implementation?

I was thinking something more along this lines for the config:
[code]

[2018-06-07 04:45] corpsee commented on #184
@ptejada Thank you! This concept looks good for me.

P.S.: @SamXiao By the way you may use `shell` plugin and `curl` call for the webhook now.

[2018-06-08 14:23] kiler129 opened #187 "Running Custom PhpUnit Binary"
For Symfony-based projects `phpunit-bridge` is often used, which requires running `bin/phpunit`. Is there a way to configure this in `php-censor`?
If not I think we should add such option.

## Environment

* PHP Censor version
`0.22.0`

* Operating System
`Debian 9.4`

* PHP version
`PHP 7.2.5-1+0~20180505045740.21+stretch~1.gbpca2fa6`

* MySQL/PostgreSQL version
`10.0.28-MariaDB-1~jessie`

[2018-06-08 14:34] corpsee commented on #187
@kiler129 Thank you. It makes sense.

[2018-06-08 14:46] kiler129 commented on #187
@corpsee If you don't mind I can look during the weekend and submit a PR.

[2018-06-08 14:54] kiler129 opened #188 "PHP Docblock Checker Crashes on PHP 7.2"
## Expected behavior
PHP Docblock Checker is ran and produces result.

## Actual behavior
[code]

## Steps to reproduce
1. Installed Php-Censor per docs
2. Configures checked as follow:
[code]
3. Ran the build

## Environment

* PHP Censor version
`0.22.0`

* Operating System
`Debian GNU/Linux 9.4`

* PHP version
[code]

<details>
 <summary>Installed modules</summary>
<pre>
[PHP Modules]
calendar

[2018-06-08 14:58] corpsee commented on #187
@kiler129 It would be great! PR are always welcome :)

[2018-06-08 15:00] corpsee commented on #188
@kiler129 Thank you for the report!

[2018-06-08 15:12] corpsee commented on #188
https://github.com/Block8/php-docblock-checker/issues/10
https://github.com/Block8/php-docblock-checker/pull/12

[2018-06-18 09:38] bochkovprivate commented on #176
Hi, @corpsee!
I have similar problems. My setup is php-censor + bitbucket/mercurial.
Bitbucket pushes the webhook, but php-censor does not trigger build.

This happens because in my setup bitbucket pushes webhooks only on certain events but not on  pullrequest:created / pullrequest:updated.

I’ll gather request’s bodies for different types of events and will send it to you via PM.

[2018-06-18 11:41] bochkovprivate opened #190 "Undocumented fail timeout"
I have a long set of phpunit tests in my setup.
One day I’ve faced a problem: after normally running about 30 minutes something happens and build corrupts: on each and every command it starts geting error message like
`shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory`.
Generally it looks like a project build directory has been dele

[2018-06-18 16:04] corpsee commented on #190
Thanks!

[2018-06-18 16:06] corpsee commented on #176
@bochkovprivate @Mr-Chimp I will try to add more triggers to webhook when I will have time.

[2018-06-19 11:20] corpsee commented on #190
I removed option `php-censor.build.failed_after` in the branch `worker`. I think if build is working for the long time we should solve this problem manually.

@bochkovprivate Can you test `worker` branch please?

[2018-06-22 06:53] jaltek commented on #176
@corpsee It would be nice to create a "generic webhook" in order to trigger a build with a simple ```curl``` call.

In my case I'm using a simple remote Mercurial repo (via ssh). So I could use the changegroup hook to trigger a curl call after each commit which triggers then the php-censor build.

e.g.
[code]

Here is an example for Jenkins: https://stackoverflow.com/a/13279113

[2018-06-22 10:20] corpsee opened #194 "Add general Mercurial/Hg webhook action"
Add general Mercurial/Hg webhook action (Like we have webhooks for Git and Svn).

[2018-06-22 10:22] corpsee commented on #176
@jaltek The one generic webhook will be useless for PHP Censor, because we won't have required parameters like `commit`, `branch` etc (And parameters are different for defferent VCSs).

I guess we should create general Mercurial (Hg) webhook with required parameters for your case (Like we have general webhooks for [Git](https://github.com/php-censor/php-censor/blob/master/src/Controller/WebhookCon

[2018-06-22 11:23] corpsee commented on #74
Implemented in #193.

[2018-06-22 11:23] #74 closed

[2018-06-22 12:14] caouecs opened #196 "Choose error types in Quality Trend"
## Expected behavior

In Quality Trend panel, we have a list of errors with the number of recurrences.

I would like to define this list directly in _.php-censor.yml_ or in _app/config.yml_

## Actual behavior

The list is defined in public/assets/js/build-plugins/warnings.js lines 5 and 30.

[2018-06-22 12:31] corpsee commented on #196
@caouecs Thanks. Good idea!

[2018-06-24 03:15] corpsee commented on #194
Done. In the `master` branch now.

@jaltek You can call webhook like:
[code]

[2018-06-24 03:15] #194 closed

[2018-06-24 07:41] corpsee commented on #176
@Mr-Chimp @bochkovprivate I added support of triggers: `pullrequest:approved` and `pullrequest:fulfilled` for BitBucket webhook. Can you test changes in `hg-webhook-more-triggers` branch?

[2018-06-25 06:56] jaltek commented on #194
Thanks a lot!

[2018-06-27 03:06] andres-montanez opened #199 "HowTo - Run against different PHP Versions"
Hi, I was reading the documentation but I couldn't find an answer.
Is it possible to run builds against different PHP versions?
I saw there are a couple of issues opened about the same topic, which suggest having different workers to take care of the different versions.

Is there any workaround or documentation for achieving this?

Much appreciated!

[2018-06-27 06:16] corpsee commented on #199
Hi, @andres-montanez.

It is imposible to build project with different PHP versions (Excluding radical variant with several full PHP Censor installations) now.

If we want to get this feature (I write about simple implementation with several PHP interpretators on host system without containers like do TravisCI) we need to do several changes:

1. All workers are equivalent and any build runs on any

[2018-06-27 12:01] andres-montanez commented on #199
Thanks man!

[2018-06-27 13:26] ht-bs opened #200 "Access current build-stage in plugin execution"
I would like to get the current build-stage (setup, test, ...) in my plugin.
I did not see a way to access it, did I miss something or is that not implemented? I do not care if this would be possible through a getter, or parameter via constructor or the execute method.

[2018-06-27 13:49] caouecs opened #201 "Add title and description by build"
For each build, we could have the possibility to define a title and/or a description. This would identify in the graph the different builds if its are important milestones.

[2018-06-27 14:32] corpsee commented on #200
@ht-bs You can only get full project config and parse it manualy (`$config = $this->builder->getConfig();`).

But I can add method `getCurrentStage()` to `Builder` class when I will have time. It is not a problem.

[2018-06-27 14:38] corpsee commented on #201
@caouecs It is the interested idea, thanks. Where would you want to set title (New UI with build editing or something another)?

[2018-06-28 13:31] corpsee commented on #200
Done in the `master` branch.

You can call in the plugin code `$this->builder->getCurrentStage()` for getting current build stage.

[2018-06-28 13:31] #200 closed

[2018-06-28 13:33] corpsee commented on #199
Duplicate. See #46.

[2018-06-28 13:33] #199 closed

[2018-06-29 11:53] caouecs commented on #201
I think like Github with the description of repository

https://screenshots.firefox.com/T5B0NCEHpvFWEHW5/172.16.129.103

[2018-06-29 16:29] corpsee commented on #201
Ок. But who and how will **set** description? Many builds creates by external services (GitHub, BitBucket etc.) and the services doesn't send description. I see one real way and It is setting description manually by user, but we don't have any page for editing build information now.

[2018-06-30 08:19] corpsee commented on #188
Fixed by forking PHP Docblock Checker.

@kiler129 Can you test fix in branch `phpdoc-checker` please?

[2018-07-14 01:47] corpsee commented on #190
Now in `master` branch.

[2018-07-14 01:47] #190 closed

[2018-07-14 01:51] corpsee commented on #188
Now in `master` branch.

[2018-07-14 01:51] #188 closed

[2018-07-25 20:03] jwmwalrus opened #205 "Build intermittently fails after 600 seconds with "Can`t build - status is not pending""
Hi.

When trying to run some functional tests, using headless chromium at port 9222 and Symfony's web server (with specific router) at port 8000, the test intermittently fails after 600 seconds with "Can`t build - status is not pending".

Moreover, the build log stops echoing output right after the headless chromium instance is started through supervisor.

Since the build fails intermittently, it

[2018-07-26 00:39] corpsee commented on #205
Hi @jwmwalrus. Thank you for detailed report!

The problem same like #190. This timeout removed in `master` branch. Can you try to use `master` branch instead of version `v0.22.0`?

[2018-07-26 01:13] jwmwalrus commented on #205
I should have used the git description instead of the tag.

[code]

So it seems my copy of master is only missing the two commits made today ---I only discovered php-censor a few days ago, so when I cloned the repo for the first time, the worker branch mentioned in #190 had already been merged into master.

[2018-07-26 16:57] jwmwalrus commented on #205
I changed the value of `php-censor.queue.lifetime` to `6000` (since the test stage can take upto 90 minutes for one of the projects), and will report back if the issue of intermittent failure persists.

There's still the issue of the build log not showing anything after the ` supervisorctl start headless` command is executed ---so after the first 300 seconds of the build, I will have to wait the w

[2018-07-26 17:09] corpsee commented on #205
As I know port 8000 isn't used anywhere.

[2018-07-26 18:03] jwmwalrus commented on #205
The build started after I set `php-censor.queue.lifetime` to `6000` failed (after 6000 seconds) with `Can't build - status is not pending`.

After setting the `php-censor.queue.lifetime` value back to `600`, changing the port to 8002 and , I've got the same `Can't build - status is not pending`.

I'm wondering if Symfony's `bin/console server:start` mode of execution (i.e., in background) is causi

[2018-07-28 21:38] mirdic opened #206 "How to tell php censor the name of git branch which should be used for build?"
## Expected behavior

When commited to different branch than default (master), php-censor should use this branch (for example branch called test) for build. Instead php-censor uses always default branch - master.

## Steps to reproduce

![project](https://user-images.githubusercontent.com/458238/43360809-1ca85dc4-92bf-11e8-97c7-0871e286b933.png)

## Environment

* PHP Censor version 0.22
* Ubuntu

[2018-07-28 22:00] mirdic commented on #206
Found it! You have to put branch name in web hook as parameter
`https://example.com/webhook/git/1?branch=test`

[2018-07-29 01:48] corpsee commented on #206
:+1:

[2018-07-29 01:48] #206 closed

[2018-07-30 15:48] jwmwalrus opened #207 "The "wipe" option from the Copy Build plugin doesn't work"
Hi.

When setting the `complete.copy_build.wipe` option to `true`, no wipe is performed before the build is copied.

It's certainly not a deal breaker, but storage can become an issue pretty quickly when using the Copy Build plugin.

## Environment

* PHP Censor version: 0.23.0-1-geef73d8e
* Operating System: Debian GNU/Linux 9.5 (stretch)
* PHP version: 7.2.7-1+0\~20180622080745.23+stretch~1.gbpf

[2018-07-30 16:52] corpsee commented on #205
@jwmwalrus ОК. Thank you for your investigation!

P.S.: If you know how to improve the Shell plugin, please create a pull request. That would help a lot :)

[2018-07-30 16:56] corpsee commented on #207
@jwmwalrus Thanks.

[2018-08-21 18:10] ismaail commented on #187
Hi,

I'm using **Symfony 4** project that uses **symfony/phpunit-bridge**,

the PHPUnit tests passes without a problem,

phpunit configuration:

[code]

#### Build log
[code]

#### Environment

- PHPCensor version:  0.23.0 (eef73d8)
- OS: Docker alpine-fpm
- PHP: 7.2.8
- DB: MySQL 7.5

[2018-08-22 13:03] ndom91 opened #208 "Some commits trigger git error "fatal: reference is not a tree: ##########""
## Expected behavior

Clones git repo, run setup bash command, run tests, and then run setup bash scripts. See .php-censor.yml below.

## Actual behavior

Normally, and on about 80% of commits / Webhook (push) and 100% of manual builds it works flawlessly. However, on some commits, and it doesnt seem to have anythign to do with the contents, sometimes it just a spelling correction in the README.md

[2018-08-22 13:49] corpsee commented on #208
@ndom91 Thank you for the detailed report.

[2018-08-23 15:51] corpsee commented on #208
@ndom91 At the moment I am not having free time to debug your problem, sorry. If you can debug problem and get more details It will help me in the future.

I will try to fix it when I have opportunity.

You can also try to test your problem on another versions (0.22 for example) and may be we can understand where bug in code.

Thank you.

[2018-08-29 15:35] mikebronner opened #209 "How To Remove Old Builds?"
Sorry if I missed it somewhere (I checked the documentation and searched the repo for issues): how do you keep only a certain number of builds? The problem is that it keeps filling up the server.

Thanks! :)

[2018-09-02 03:09] corpsee commented on #207
@jwmwalrus Can you test the problem on `local-build` branch please? But you can know that I change LocalBuild logic little bit.

[2018-09-03 17:53] jwmwalrus opened #210 "With incomplete tests, status is reported as "Failed" while the build is in progress"
Hi.

When a PHPUnit test suite contains incomplete tests, the status in the web view is reported as "Failed" while the build is in progress.

At the end of the build, the status is the right one (i.e., "Success", unless any of the non-incomplete tests fails), so the issue is a minor one.

* PHP Censor version: 0.23.0-2-gdd36471f
* Operating System: Debian GNU/Linux 9.5 (stretch)
* PHP version: PHP

[2018-09-03 19:17] jwmwalrus commented on #209
Hi.

At the moment, there's also the issue of the *copied build* and the *artifacts*:
* Once you delete the build from the web view, the log is not available anymore, and therefore the link to the *artifacts* is lost.
* In my case, the *copied build* is only useful for failed builds, so I tried the wipe option (see #207 )  to avoid filling up the server ---but with two consecutive failures and (fu

[2018-09-03 20:54] jwmwalrus commented on #207
Hi.

I can confirm that when in the `local-build` branch, the contents of the target directory are removed when `wipe: true` is used (and the copied build is no longer in a subdirectory of the target directory).

[2018-09-04 00:31] corpsee commented on #209
@jwmwalrus Can you create new issue for 'artifactory tab' please? It is good idea, thanks. :+1:

P.S.: By the way about your first point: when you delete build, artifacts for build are also deleted. And link become useless.

[2018-09-04 00:34] corpsee commented on #207
Thank you! I merged `local-build` to `master`.

[2018-09-04 00:34] #207 closed

[2018-09-04 00:36] corpsee commented on #210
@jwmwalrus Thanks!

[2018-09-04 20:31] jwmwalrus opened #211 "Featureoposed: artifacts tab"
Hi.

Currently, At the moment, there's also the issue of the copied build and the artifacts:

Once you delete the build from the web view, the log is not available anymore, and therefore the link to the artifacts is lost.
In my case, the copied build is only useful for failed builds, so I tried the wipe option (see #207 ) to avoid filling up the server ---but with two consecutive failures and (fun

[2018-09-04 23:51] corpsee commented on #211
Thank you @jwmwalrus!

[2018-09-08 18:01] corpsee commented on #208
@ndom91 Are you using `build_settings.clone_depth` option in your build config (`.php-censor.yml`)? It would be the problem if `clone_depth` is too small.

[2018-09-08 20:29] jwmwalrus opened #212 "When running Phinx during setup, it gets the -vvv option somehow"
Hi.

I have a `setup.php` script, which takes care of ensuring all the necessary conditions are set before running the tests.

One of the things the setup script does is running (Phinx) migrations.  The command executed is `passthru('./bin/phinx migrate -e test', $retval);`, but when run from a PHP Censor's build it gets way too verbose ---it's somehow getting the -vvv flag, which means the log is

[2018-09-09 02:02] corpsee commented on #212
@jwmwalrus Thank you for the report!

[2018-09-09 06:55] ndom91 commented on #208
@corpsee unfortunately no, I am not using the `clone_depth` setting. My whole .php-censor.yml is included above.

[2018-09-09 10:43] corpsee commented on #208
@ndom91 OK, thank you. I will look for another reason.

[2018-09-09 10:59] ndom91 opened #213 "cloning to gitlab instance on custom ssh port"
## Expected behavior

Clone successful, working dir created

## Actual behavior

Project Gitlab URL: `git@git.xyz.de:2424/abc/xyz.git`

[code]

According to my googling, many have suggested creating a `~/.ssh/config` file to create an ssh shortcut, I did this, however php-censor does not seem to recognize this when executing its ssh git pull. I thought it might have been because it is being execut

[2018-09-09 11:26] ndom91 commented on #213
So in case anyone was having a similar issue, I found a temporary workaround (not changing the port back! Haha).

So I grepped around a bit and found where the ssh statement is being executed. That is apparently in `./src/Model/Build.php`.

Here at line `557` you can replace this:

[code]

With this:
[code]

[2018-09-09 11:37] ndom91 commented on #208
I have noticed this only happened when it pulled and tried to build multiple commits at once. It probably errored then when trying to create the same build dir multiple times simutaenously.

I created a new project with the same details and it seems to work flawlessly now. Therefore I will close this.

Thanks for takign the time to look into it, however!

[2018-09-09 11:37] #208 closed

[2018-09-09 15:30] corpsee commented on #213
@ndom91 Thank you for the useful workaround! :+1: Can you test your case on branch `ssh-port`?

[2018-09-09 15:37] ndom91 commented on #213
@corpsee sure, you just want me to modify the Build.php file on that branch and test it again? Or have you built in another way to modify the ssh port on that branch?

[2018-09-09 15:40] corpsee commented on #213
@ndom91 In `ssh-port` branch port takes from repository URL. Just checkout branch and check your case without manual modifications.

[2018-09-09 15:44] ndom91 commented on #213
@corpsee okay, how does it expect the repo URL to be formatted though?

[2018-09-09 15:54] ndom91 commented on #213
Okay so I tried the URLs:

* git@git.xyz.de:2424/abc/xyz.git
* git@git.xyz.de:2424:abc/xyz.git

And they both did not work. They didn't complain about hanging up from port 22 however. The port part seemed to work. It now complained about not finding my project, so the URL after the Port somehow was misformatted im assuming..

[2018-09-09 16:08] garas commented on #213
`[user@]host.xz:path/to/repo.git/` doesn't support custom port.
Use `ssh://[user@]host.xz[:port]/path/to/repo.git/` syntax.

See https://git-scm.com/docs/git-push#_git_urls_a_id_urls_a

[2018-09-09 16:13] ndom91 commented on #213
Unfortunately `ssh://git@git.xyz.de:2424/abc/xyz.git` also resulted in:

[code]

I am on the `ssh-port` branch btw, just so we're clear haha

[2018-09-09 16:37] corpsee commented on #213
@ndom91 Can you select from DB table `project` your project and show me field `access_information`? You can replace your personal secret information by examples. Thanks.

[2018-09-09 16:46] ndom91 commented on #213
So the whole `access_information` field looks like this (with person info obviously replaced):

[code]

[2018-09-09 17:57] ndom91 commented on #213
@corpsee tried your newest commit changes.. still "project not found"

[2018-09-09 18:43] garas commented on #213
You connect to Gitlab successfully now, but receive `GitLab: The project you were looking for could not be found.`

Do you use `ssh://git@git.xyz.de:2424/abc/xyz.git/` with slash in the end? The `origin` in your `access_information` has it.

Github doesn't allow slash in the end with `ERROR: Repository not found.`

Probably same with Gitlab.

[2018-09-09 23:54] corpsee commented on #213
@ndom91 Did you restart worker after checkout?

[2018-09-10 13:34] corpsee commented on #213
@ndom91 No, cronjob doesn't need restart. It is strange... Can you get and post content of temp SSH script (from `/tmp/sh_ns2aso`)?

[2018-09-10 13:36] corpsee commented on #213
@garas May be you are have any ideas?

[2018-09-10 14:56] ndom91 commented on #213
@corpsee unfortunately the `/tmp/sh_ns2aso` dir and any other temp build dirs are not there. Either they never got  created or are deleted right away..

Did this commit allow you to pull from different SSH Ports? How exactly is your URL formatted in the Project Config?

Thanks for the help so far!

[2018-09-10 15:08] corpsee commented on #213
@ndom91 Yes, alternative port is existing. Any of your URLs (`ssh://...`, 'git@...') are parsing correctly and port is existing in DB and then I don't khow what went wrong...  (Personaly, I don't use GitLab and non-default port and I have problem with testing your case).

[2018-09-10 15:31] corpsee commented on #213
@ndom91 New idea for workaround: Can you put ssh key to `~/.ssh` with your domain in `~/.ssh/config` and delete ssh key from project settings (It should be empty textarea)? Than start new build.

[2018-09-10 15:39] ndom91 commented on #213
@corpsee Unfortunately then got `fatal: No path specified. See 'man git-pull' for valid url syntax` - it didnt even have the path in the debug output so I'm assuming it wasn't even able to connect

[2018-09-10 15:42] ndom91 commented on #213
@corpsee I think I will just stick with the manual workaround for now - its simply entering `-P 2424` everytime I git pull a new update. Not so bad.. haha

[2018-09-10 16:04] garas commented on #213
Last script has `git clone` with `git@git.xyz.de:2424/abc/xyz.git`:
 * path `2424/abc/xyz.git`, that's why project not found
* there is no port, so either git connected to port 22, or git used config from `.ssh/config`

What script is generated when you use `ssh://` and with `.ssh/config` removed? What is result of script?

[2018-09-10 16:17] ndom91 commented on #213
I had been using `ssh://` in front of the project URL the entire time, it always shows up in the debug output without `ssh://`. I had the `.ssh/config` in place the whole time, so maybe it grabbed the port from there and then wasn't able to find the project because it used the path, `2424/abc/xyz.git`, like you said.

I will try it again without the config file there whenever I get home in a littl

[2018-09-10 16:31] garas commented on #213
Now I see the reason:

https://github.com/php-censor/php-censor/blob/b9580adc5216739c19d8ddccdaf3e012f3cbdaf7/src/Model/Build/GitlabBuild.php#L61-L65

Url is always generated as `user@host.xz:path/to/repo.git`

@corpsee Can you always add `ssh://` for Gitlab?. Same other Build classes

[2018-09-10 16:40] corpsee commented on #213
I updated branch `ssh-port`.

@ndom91 Can you test branch `ssh-port` again?
@garas Great work! Thank you. :+1:

[2018-09-10 19:03] ndom91 commented on #213
@corpsee @garas great work guys, it worked! It kept `ssh://` in the URL in the debug output too. Thanks for the great work!

I used the following syntax for my Project URL: `ssh://git@git.xyz.de:2424/abc/xyz.git`

[2018-09-10 19:58] garas commented on #212
Symfony [verbosity](https://symfony.com/doc/current/console/verbosity.html) is controlled by `-vvv` or `SHELL_VERBOSITY` environment variable.

If you start PHP Censor with `-vvv`, Symfony will [put](https://github.com/symfony/console/blob/8c544db578c749f12e43fd22ca2486976d60d85f/Application.php#L872) `SHELL_VERBOSITY=3` environment variable and subprocesses will see this value.

Pass one of them

[2018-09-11 00:35] corpsee commented on #213
I merged fix into `master` branch.

[2018-09-11 00:35] #213 closed

[2018-09-14 15:09] corpsee commented on #156
@prezire I removed your code with web notification frontend part because it is useless without backend. If you want to to implement back-end part in the future, please create pull request with full feature (front-end + backend).

I will keep issue open, may be someone else want to implement feature.

[2018-09-14 15:12] corpsee commented on #212
Thank you @garas! Very detailed and useful answer :+1:
@jwmwalrus I think I may close the issue.

[2018-09-14 18:05] jwmwalrus commented on #212
I just checked that by prefixing the invocation of Phinx with `SHELL_VERBOSITY=0`, the verbose output goes away.  So, thanks a lot for the suggestion.

Although, I think It would be good for PHP Censor not to influence the output of commands run through the shell plugin ---i.e., PHP Censor should take care of setting that environment variable to zero when starting those subprocesses.

[2018-09-14 19:05] corpsee commented on #212
@jwmwalrus It would be good, but I don't have any idea how fix it without full isolation of build (containers for builds). If you have another way, PRs are welcome :)

[2018-09-14 22:11] prezire commented on #156
Hi @corpsee It's using a UI notification. See the title. The back-end feature is just an enhancement using sockets. Otherwise, it still works.

[2018-09-15 02:04] corpsee commented on #156
It is working bad without backend and send same notifications again and again after each page reload.

[2018-09-15 02:12] prezire commented on #156
It's currently, it's riding the existing methods. I just added a new notification UI. I think it needs a singleton or session manager of some sort. Thanks for the info.

[2018-09-15 02:49] corpsee commented on #156
You are welcome!

[2018-09-15 10:44] corpsee commented on #209
@mikebronner I added buttons 'Delete all builds' and 'Delete old builds' to the project page (Available for admins).

New option `php_censor.builds.keep_builds` from main application config (`app/config.yml`) define how many latest builds should kept (By default: latest 100).

Changes already in the `master` branch but before using this feature make DB backup (on the off-chance).

[2018-09-18 12:58] #209 closed

[2018-09-24 22:52] jwmwalrus opened #216 "Feature: Post-process PHPUnit's PHP format using phpcov"
Hi.

Right now, PHP Censor seems to report coverage and artifacts from the generated HTML report.

In some cases (e.g., when the test invokes a headless browser through a behat/mink driver), the reported coverage is not accurate ---generation of coverage on both ends is required.

In order to solve the issue, one can modify the application router (e.g., `web/app_test.php`) to generate the actual c

[2018-10-02 00:51] #201 closed

[2018-10-02 14:37] jwmwalrus opened #217 "Build never finishes when using codeception"
Hi.

In order to get a much more accurate value of coverage (as I mentioned in #216), I'm trying to test running the equivalent acceptance suite using codeception.

Even though running the current tests should not take more than 20 minutes (and codeception's log at `/var/www/php-censor/runtime/builds/1/116_36f93be7/tests/_output/acceptance-2018-10-02` shows that all the tests already passed), PHP

[2018-10-02 15:31] corpsee commented on #217
@jwmwalrus Thanks!

[2018-10-06 17:51] corpsee commented on #217
@jwmwalrus I see two probable causes:

1. Codeception process still working for some reasons.
2. PHP Censor worker died for some reasons and build freezed on running status.

Can you stop PHP Censor worker, run worker command manually from console and start same build? Worker died in the building process?

[2018-10-08 20:16] jwmwalrus commented on #217
Hi.

I did as you said (I guess):
* Stopped PHP Censor workers (though supervisor)
* Started the worker manually with
 `www-data@git:~/php-censor$ bin/console php-censor:worker -vvv`
* Started the build from the web view

Everything runs as expected until the last two lines:
[code]
At this point, `ps` shows an instance of `codecept` running, along with the parent process that launched it:
[code]

[2018-10-09 12:36] corpsee commented on #217
@jwmwalrus Thanks. I will try to reproduce and fix it.

[2018-10-12 16:33] SimonHeimberg commented on #135
currently http://php-censor.info redirects to https://github.com/php-censor/php-censor.
Redirecting to https://github.com/php-censor/php-censor#readme would be nicer

[2018-10-12 16:35] SimonHeimberg commented on #187
My work-around: create link ./vendor/bin/phpunit pointing to my desired binary (by a shell plugin in the config)

[2018-10-12 16:39] corpsee commented on #135
@SimonHeimberg It has sense. Thank you!

[2018-10-12 16:41] corpsee commented on #187
@SimonHeimberg Thank you! I guess this issue may be closed.

[2018-10-12 16:41] #187 closed

[2018-10-12 16:45] SimonHeimberg commented on #114
implementation mentioned above https://github.com/php-censor/php-censor/issues/114#issuecomment-324801286 handles the mirror repo automatically

* Maintaining a mirror is another possibility of course. This requires managing this mirror repo (create, pull into, delete when project deleted, ...).
* My original idea was to use a local repo which is around anyway, and to not pull into this one. This

[2018-10-12 18:02] corpsee commented on #114
@SimonHeimberg Thank you for the detailed explanation.

[2018-10-23 13:00] Musiksammler opened #223 "Local build doesn't copy files so build fails."
Hello!

I've setup phpcensor manually in a docker container. It runs and I've setup a project hosted in local path.

My docker-compose.yml looks like this:

    phpcensor:
      ...
      volumes:
        ...
        - ../web:/var/www/html/project

So in /var/www/html/project lies my webproject with the subfolders "src", "tests" and files like "phpunit.xml" and so on. The directory is mapped corre

[2018-10-23 13:30] Musiksammler commented on #223
Okay, found the issue. I just did the "composer create-project" step during installation, believing that this will install the most current version of the tool. But instead it just installed the latest release version where this bug wasn't fixed.

Can be closed.

[2018-10-23 13:30] #223 closed

[2018-10-23 13:37] corpsee commented on #223
@Musiksammler Thank you for the explanation! I will release version 0.24.0 soon for this case. :+1:

[2018-10-23 13:59] corpsee commented on #223
P. S.: For info: If you want to install by Composer exact version or latest `master` branch you should use `<version>` argument of `create-project` like: `composer create-project php-censor/php-censor php-censor.local dev-master`.

[2018-10-23 14:07] corpsee commented on #223
Is related to #207.

[2018-10-28 04:34] corpsee opened #224 "Move some plugins to optional Composer packages"
Move some plugins to optional Composer packages.

- [ ] Create Composer package for base plugin interface.
- [ ] Move some plugins to optional Composer packages (Firstly notifications and exsotical plugins).
- [ ] Edit and release new versions for [Deployer](https://github.com/php-censor/php-censor-deployer-plugin) and [Telegram](https://github.com/php-censor/php-censor-telegram-plugin) plugins.

[2018-11-01 10:02] klodoma opened #227 "Repository URL modified"
I am using a local gitlab setup. I setup the url like in the attached picture.
![screenshot_205](https://user-images.githubusercontent.com/944350/47845350-0eb77500-ddc5-11e8-95b3-c06e2b2c744e.png)

When running a build the URL gets modified (ssh) is cut off
![screenshot_206](https://user-images.githubusercontent.com/944350/47845376-2262db80-ddc5-11e8-985d-78b08bacb718.png)

The only way to get thi

[2018-11-01 10:18] garas commented on #227
Issue fixed in https://github.com/php-censor/php-censor/issues/213.

Upgrade to latest `master` until there is new release.

[2018-11-01 12:59] corpsee commented on #227
@garas Thanks!
@klodoma

[2018-11-01 13:02] corpsee commented on #227
@klodoma Yes, PHP Censor modify URI for clone (URI depend on SSH keys). May be I will change logic in the future, but now it should work fine on fresh `master`.

@garas Thanks!

[2018-11-03 19:42] #227 closed

[2018-11-04 13:59] corpsee commented on #227
Version [0.24.0](https://github.com/php-censor/php-censor/releases/tag/0.24.0) has been released.

[2018-11-04 13:59] corpsee commented on #223
Version [0.24.0](https://github.com/php-censor/php-censor/releases/tag/0.24.0) has been released.

[2018-11-04 14:11] klodoma commented on #227
Great! Thank you!

[2018-11-09 00:14] #217 closed

[2018-11-27 15:46] benr77 opened #231 "Authenticating composer dependencies with private repos"
## Expected behavior

Install dependencies from private repos when doing composer install

## Actual behavior

Build fails, presumably because it cannot connect to the private repo

I can configure the private repo as a PHPCensor project, save the public key against it, and it will build ok on its own.

## Steps to reproduce

Composer.json
[code]
When doing composer install this fails.

In the doc

[2018-11-27 16:10] benr77 commented on #231
Sorry I forgot to add the error that I get!

`Failed: [RuntimeException] Failed to execute git clone --no-checkout 'git@bitbucket.org:foo/somedependency.git' './vendor/foo/somedependency' && cd './vendor/foo/somedependency' && git remote add composer 'git@bitbucket.org:foo/somedependency.git' && git fetch composer`

[2018-11-27 16:16] corpsee commented on #231
@benr77 For use private git repository by SSH protocol you should have SSH keys in the user home directory (I guess `root` user for docker container).

` auth.json` is about basic HTTP auth for repositories with type `composer` (private Satis installation for example).

[2018-11-27 17:14] #231 closed

[2018-11-29 13:33] benr77 opened #232 "Dashboard message says build has never been successful"
## Expected behavior

Dashboard message should say

`1 out of the last 5 builds failed. The last successful build was 2018-11-27 14:52:40.`

## Actual behavior

Dashboard message actually says the project has never been built successfully, despite at the same time reporting at least some of the last n builds have succeeded etc

`1 out of the last 5 builds failed. This project has never built succe

[2018-11-29 13:50] corpsee commented on #232
@benr77 Thanks!

[2018-11-29 14:11] benr77 opened #233 "SlackNotify plugin kills worker process with error"
## Expected behavior

The worker process does not die when the build with `slack_notify` completes

## Actual behavior

I see the following error when the build completes, as it tries to notify slack as per the slack notify plugin.

`Error: Class 'Maknz\Slack\Client' not found (uncaught exception) at /var/www/app/src/Plugin/SlackNotify.php line 86`

I'm using Docker, and this kills off the worker

[2018-11-29 15:21] benr77 commented on #233
Confirmed - all is fixed when I execute `composer require maknz/slack`

[2018-11-29 16:56] corpsee commented on #233
@benr77 Yes, it is normal behavior if you don't install `maknz/slack` dependency. See [documentation for plugin](https://github.com/php-censor/php-censor/blob/master/docs/en/plugins/slack_notify.md).

[2018-11-29 17:14] garas commented on #233
@corpsee I'm using this Slack plugin. As I'm using PHP Censor as `git clone`, I often find problem with `git pull`, because `composer.json` and `composer.lock` is modified after `composer require maknz/slack`.

I suggest to move those 3 packages from `suggest` to `require` and always install. This won't be noticeable in size as PHP Censor already has many dependencies.

[code]

[2018-11-29 17:32] corpsee commented on #233
@garas May be it will be good solution. Thanks.

[2018-11-30 04:56] benr77 commented on #233
Yes, apologies for not reading the documentation properly. I've migrated from PHPCI where this is not an optional dependency, you can just add the configuration and go!

[2018-12-05 14:48] benr77 opened #234 "Docblock checker repeats class name in error message"
## Expected behavior

In the error message for docblock checker violations, I expect to see the class and method name - e.g.

`MessagingBundle\Util\EmailMessage::getSubject @return missing.`

## Actual behavior

I see the class/method name twice:

`MessagingBundle\Util\EmailMessage::getSubject::MessagingBundle\Util\EmailMessage::getSubject @return missing.`

## Steps to reproduce

Any error encoun

[2018-12-05 16:08] corpsee commented on #234
@benr77 Thank you for the report!

[2018-12-05 16:37] corpsee commented on #234
Fixed in `master` branch. @benr77 Can you check please?

[2018-12-06 03:21] benr77 commented on #234
Confirmed fixed

[2018-12-06 03:27] benr77 opened #235 "Docblock checker does not support nullable type-hints"
## Expected behavior

Nullable type-hints should not throw a dockblock error when the docblock does match the type-hint

## Actual behavior

With a method such as:

[code]
This results in the following docblock checker error

`App\Exception\SettingInvalidKeyException::__construct @param $previous(Exception|null) does not match method signature (Exception)`

In fact, the dockblock DOES match the me

[2018-12-06 10:21] corpsee commented on #234
Thanks! :+1:

[2018-12-06 10:21] #234 closed

[2018-12-06 10:24] corpsee commented on #235
@benr77 Thanks.

[2018-12-06 11:00] corpsee commented on #196
Now Quality Trend panel shows only plugins with errors count > 0. I close issue.

[2018-12-06 11:00] #196 closed

[2018-12-07 18:56] corpsee commented on #235
@benr77 Fixed in the `master` branch. Can you now check your case please (With `composer install` execution)?

[2018-12-08 06:04] corpsee commented on #210
@jwmwalrus I can not reproduce case from the issue. Could you check again on fresh `master` branch please? Is it still happening? Thanks.

[2018-12-08 08:04] corpsee commented on #235
@benr77 :+1:

[2018-12-08 08:04] #235 closed

[2018-12-11 01:07] jwmwalrus commented on #210
Due to submodule-related issues, I am unable to go beyond the setup step when trying  to rebuild a successful commit from September 3rd.

Nevertheless, the issue was that when the PHPUnit test suite contains a test like this one:
[code]

Then the web view shows the build as "failed" right after running the incomplete test, although the test step continues ---and at the end of the build, the status

[2018-12-11 01:21] corpsee commented on #210
@jwmwalrus Thank you for the explanation! I will try to fix incomplete tests anyway.

[2018-12-11 15:45] vinpel opened #236 "build with vendor/composer in a subdirectory"
for clarity i have moved my code source in /src, vendor is now in /src/vendor, while .php-censor.yml is in root.

How to help php-censor to find vendor/bin executable ?
the executable for codeception in my project is newer than the global phpcensor installed version.

## Expected behavior

calling the codecept executable present in ./src/vendor/bin/codecept and not in phpcensor directory

## Actua

[2018-12-12 10:50] vinpel opened #237 "path an directory in plugins"
Not all plugin use the same variable name for directory/path;

 PhpParallelLint :
	- not unified variable name : $directory name not $path

 PhpDocblockChecker.php
    - $this->path  correctly set, never used in the command and source code

 PhpCodeSniffer
  -  $directory and $path seem to coexist together

[2018-12-12 12:14] corpsee commented on #237
@vinpel I agree that it should be fixed. Thanks.

[2018-12-13 12:59] vinpel opened #239 "log size not filtered for insertion in database"
## Expected behavior

gracefully manage big log

## Actual behavior

[code]

## Steps to reproduce

lot of log

## Environment

* PHP Censor version master
* Operating System docker/php7-fpm
* PHP version 7.1
* MySQL/PostgreSQL version

[2018-12-13 14:16] vinpel commented on #237
i'm working on this problem atm

[2018-12-13 17:06] corpsee commented on #239
@vinpel Thanks. Are you use MySQL?

[2018-12-13 17:16] corpsee commented on #237
@vinpel It is excellent. :+1:

[2018-12-15 10:39] corpsee commented on #239
@vinpel What are you meaning: 'gracefully manage big log'? We should cut log before DB insert?

[2018-12-16 13:05] corpsee commented on #233
@benr77 @garas Done in `master` branch.

[2018-12-16 13:05] #233 closed

[2018-12-16 13:09] garas commented on #233
Remove them from `suggest` list.

[2018-12-17 10:41] benr77 commented on #233
Confirmed fixed - thanks!

[2018-12-19 00:42] panosru opened #241 "fatal: Could not read from remote repository."
## Expected behavior

After adding my private gitlab project and adding the ssh key to gitlab, I run "Build now" with the expectation that it will clone the project and run the tests.

## Actual behavior

![image](https://user-images.githubusercontent.com/400362/50191637-77d45700-0337-11e9-9537-947f52d05585.png)

## Environment

* Docker-container

[2018-12-19 01:02] corpsee commented on #241
@panosru Could you run build by 'Build by with debug' button and post build log with debug info? Thanks.

[2018-12-19 01:03] panosru commented on #241
@corpsee sure, I just did it, if you could guide me on where to find the logs I can post them

[2018-12-19 01:07] corpsee commented on #241
@panosru At the 'Build log' tab (GUI).

[2018-12-19 01:07] panosru commented on #241
it's the same as my previous screenshot...

[2018-12-19 01:10] panosru commented on #241
@corpsee I have updated my previous message, as you can see, when I manually run `git clone` I'm getting `Permission denied` but I have added the `ssh-rsa` key suggested by `php censor`

![image](https://user-images.githubusercontent.com/400362/50192588-92a8ca80-033b-11e9-9b45-8b02b08e25dd.png)

[2018-12-21 09:13] benr77 opened #242 "CopyBuild plugin does not copy hidden files"
## Expected behavior

The CopyBuild plugin should copy all project files.

## Actual behavior

The CopyBuild plugin does not copy hidden files.

For example, in my project root I have a `.mage.yml` config file for deployment, but if the CopyBuild plugin is used, it does not copy this file.

## Steps to reproduce

Set up the CopyBuild plugin and run it on a project with a hidden file in the project

[2018-12-21 14:49] corpsee commented on #242
@benr77 Thanks! Very useful information about reasons. I will fix it.

[2018-12-22 15:19] corpsee commented on #242
@benr77 Fixed in `master` branch.

[2018-12-22 15:19] #242 closed

[2018-12-23 23:09] panosru opened #244 "Codeception test failed [The "./tests/acceptance/" directory does not exist.]"
Codeception plugin fais for me, when I run it localy and with PhpStorm, it works fine:

[code]

This is my `codeception.yml` file:

[code]

And that is the ouput I'm getting from php censor (the rest of plugins worked fine):
[code]

Thanks!

[2018-12-24 01:03] corpsee commented on #244
@panosru Thanks! Can you check your case in `codeception-fix` branch please?

[2018-12-24 01:17] panosru commented on #244
@corpsee check the screenshots below:

I run `docker exec -ti phpcensor-worker sh` and run `git pull origin codeception-fix`
![image](https://user-images.githubusercontent.com/400362/50388865-5a81fd00-072a-11e9-8e07-12fca322ce93.png)

Then I re-run the test in the ci:
![image](https://user-images.githubusercontent.com/400362/50388870-77b6cb80-072a-11e9-86cd-f6bc79243206.png)

Unfortunately it didn

[2018-12-24 02:01] corpsee commented on #244
@panosru Do you restart worker after `git pull`? Could your also show your `.php-censor.yml` config?

[2018-12-24 02:04] panosru commented on #244
@corpsee no I did not restart the worker since I made the changes from inside the container, I will try to restart it now.

You mean the `.php-censor.yml` of my own project or of php-censor? In my own project I do not have `.php-censor.yml` file

[2018-12-24 02:09] panosru commented on #244
@corpsee I pulled again and restarted the worker container, now I got even more errors
![image](https://user-images.githubusercontent.com/400362/50389327-be5bf400-0731-11e9-94c8-250280c01672.png)

[2018-12-24 11:19] corpsee commented on #244
@panosru Can you check again branch `master` please? I cann't reproduce your case.

[2018-12-24 13:14] panosru commented on #244
@corpsee still the same...

To make things easier, I created this demo debug project [panosru/php-censor-debug](https://github.com/panosru/php-censor-debug).

It is a very basic project that performs unit test to an object.

The codeception structure is being generated using the `codecept` binary:

Step 1: Create the structure
![image](https://user-images.githubusercontent.com/400362/50400153-2d1a

[2018-12-24 15:41] corpsee commented on #244
@panosru If you will create directories: `tests/acceptance` and `tests/functional` your demo will work. See: https://github.com/corpsee/php-censor-debug ¯\_(ツ)_/¯. Problems with directories rights or with generation...

Don't close the issue before I will fix problem with `SecurityChecker` please.

[2018-12-24 16:04] corpsee commented on #244
@panosru You should run `composer install` to fix issue with `SecurityChecker`.

[2018-12-24 18:55] panosru commented on #244
@corpsee I forgot to add `.gitkeep` to those directories... I feel so dump now! :/

[2018-12-25 02:10] corpsee commented on #244
@panosru :smile: That happens.

[2018-12-25 18:27] panosru opened #245 "Experimenting with .php-censor.yml"
I have added `.php-censor.yml` into my demo debug project in order to familiarise myself with Php Censor configuration, but it seems that I'm doing something wrong (again) thus I'm receiving errors from Php Censor, could you please point me in the right direction?

**[.php-censor.yml](https://github.com/panosru/php-censor-debug/blob/master/.php-censor.yml):**
[code]

**Php Censor Output (with debu

[2018-12-26 10:35] benr77 commented on #242
Confirmed fixed. Thanks for your efforts!

[2018-12-26 16:18] corpsee commented on #245
@panosru Can you test your case on branch `fix-plugins` please?

[2018-12-27 16:48] benr77 opened #246 "[Bug] Docblock checker outputs many PHP warnings"
## Expected behavior

Docblock checker doesn't spew loads of PHP warnings

## Actual behavior

I see a load of PHP warnings when Docblock checker is running

[code]

Configuration is as follows:

[code]

## Environment

* PHP Censor version - MASTER
* Operating System - DOCKER
* PHP version 7.2
* MySQL

[2018-12-27 18:31] corpsee commented on #246
@benr77 Thanks. Already fixed in branch `fix-plugins`. I will merge the branch soon.

P.S.: You may fix it for your installation manualy by upgrade `php-censor/phpdoc-checker`: `composer require php-censor/phpdoc-checker`.

[2018-12-27 20:51] panosru commented on #245
@corpsee sorry for my late reply, I pulled `fix-plugins` and tested again:

[code]

[2018-12-28 16:28] jwmwalrus opened #247 "[Bug] Codeception gets the -v option somehow"
## Expected behavior

Codeception tests don't output detailed steps unless I pass the -vvv option as an argument.

## Actual behavior

Codeception tests output detailed steps.  It results in  a *huge* log ---and the log is always sent by email upon failure.

## Steps to reproduce

The problem is recent (i.e., related to the latest commits in PHP Censor's master branch).

The problem is similar to

[2018-12-28 18:42] corpsee commented on #212
Related to #247.

[2018-12-28 19:11] #247 closed

[2018-12-28 19:43] corpsee commented on #246
Fixed in `master` branch (`composer install` requered after pull).

[2018-12-28 19:43] #246 closed

[2018-12-29 15:06] benr77 commented on #246
Confirmed fixed. Thanks for your efforts!

[2018-12-29 18:15] corpsee commented on #245
Excellent! :champagne:

P. S.: Remove also `directory` option from `codeception` config because it about where codeception tests and `codeception.yml`. In your case it is `./`.

[2018-12-29 18:15] #245 closed

[2019-01-03 11:07] benr77 commented on #232
I can't reproduce this now. I think it was on an older project which has been deleted.

I'll close this for now and re-open it if I see the issue again. Thanks

[2019-01-03 11:07] #232 closed

[2019-01-08 16:00] bolechen opened #249 "[Bug] Can not install at ubuntu & php 7.2"
## Steps to reproduce
composer create-project php-censor/php-censor php-censor.local --keep-vcs
./bin/console php-censor:install -vvvcomposer create-project php-censor/php-censor php-censor.local --keep-vcs

## Errors

[code]

## Environment

* PHP version

Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.11-4+ubuntu16.0

[2019-01-08 16:01] bolechen commented on #249
come from phpci, thx for the new repo

[2019-01-08 17:49] corpsee commented on #249
@bolechen Thanks. Are you installing on empty database or using existing database?

[2019-01-08 18:44] corpsee commented on #249
Fixed in branch `migrations-fix`. @bolechen Can you check installation from the branch?

[2019-01-09 01:33] bolechen commented on #249
`migrations-fix` works for me, cool

[2019-01-09 03:39] corpsee commented on #249
@bolechen Thank you for testing! I have just released version `1.0.1` with fix.

[2019-01-09 03:39] #249 closed

[2019-01-11 18:03] corpsee opened #251 "Upgrade minimal PHP version to 7.1."
Upgrade minimal PHP version to 7.1.

[2019-01-11 18:07] corpsee opened #252 "Remove deprecated features for version 2.0"
Remove deprecated features for version 2.0:

- [ ] Cronjob worker (Use worker instead).
- [ ] `phpci.yml` and `.phpci.yml` configs (Use `.php-censor.yml` instead).
- [ ] `PHPCI_*` interpolation and env variables (Use `PHP_CENSOR_*` instead).
- [ ] Deprecated plugins options.

[2019-01-11 18:09] corpsee opened #253 "Move to Symfony4 framework"
Move to Symfony4 framework.

[2019-01-11 18:10] corpsee opened #254 "Move to Vue.js framework for javascript part"
Move to Vue.js framework for javascript part.

[2019-01-11 18:12] corpsee opened #255 "Use Npm (Yarn) and Webpack for css/js assets instead of composer"
Use Npm (Yarn) and Webpack for css/js assets instead of composer.

[2019-01-11 18:18] corpsee opened #256 "Make special plugin type for sources (Local, Git, Github, Hg etc.)"
Make special plugin type for sources (Local, Git, Github, Hg etc.). And rework current sources.

[2019-01-11 20:43] ketchoop commented on #252
What do you mean, to remove this configs? You want to make php-censor be configured by UI? If so, I think it's not good idea, IMO...

[2019-01-12 05:59] ptejada opened #257 "GitHub project cloning bug"
## Expected behavior

User the GitHub URL provided in the project

## Actual behavior

The GitHub project type will always attempt to use ssh protocol even an HTTP URL is provided

## Steps to reproduce

1. Add a new project
2. Select GitHub as the project type.
3. Enter URL https://github.com/php-censor/php-censor-test.git
4. Save and trigger a project build.

![image](https://user-images.githubu

[2019-01-12 08:10] benr77 opened #258 "[Bug] PhpParallelLint ignores ignored directories"
## Expected behavior

Parallel Lint plugin should respect the ignored directories

## Actual behavior

The plugin fails on errors inside ignored directories.

## Steps to reproduce

Global ignore for vendors directory is configured

[code]

Then PhpParallelLint plugin is configured with default settings

[code]
When running the build in debug mode, I see the command does include the required ignor

[2019-01-12 09:05] corpsee commented on #258
@benr77 Thanks!

[2019-01-12 09:06] corpsee commented on #257
@ptejada Thanks!

[2019-01-12 09:18] corpsee commented on #257
It isn't bug formaly it is a point of implementation. If you have SSH-keys then you cann't clone repository by `https` with keys.

I want to refactor this functionality but I should think about good implementation.

[2019-01-12 15:20] kromonos commented on #239
Had same problem here on MySQL 5.7. After altering column to LONGTEXT it works:
[code]

[2019-01-12 18:06] corpsee commented on #239
@vinpel @kromonos I released version `1.0.2` with fix for MySQL column types. Also fix included in branches `release-1.0` and `master`.

[2019-01-12 18:06] #239 closed

[2019-01-12 19:14] ptejada commented on #257
@corpsee I see. The key is present for projects by default. Using the Git project type works as expected but you don't get the GitHub specific features like commit and branch links.

[2019-01-12 19:31] corpsee commented on #257
@ptejada You are wrong. PHP Censor works correctly with commit/branch links and no matter what protocol is used for git clone. Just try.

[2019-01-12 20:03] ptejada commented on #257
@corpsee

Maybe I wasn't clear. I thought that the only way to run a build for a GitHub https URL like https://github.com/php-censor/php-censor-test.git without setting a public key was to use the "Git" project type. When you use the "Git" project type you don't get the URL links you get with GitHub project type.

![image](https://user-images.githubusercontent.com/253405/51077861-2ee39a00-167a-11e

[2019-01-12 20:03] #257 closed

[2019-01-12 21:50] ptejada commented on #253
My suggestion is to consider using [Laravel](https://laravel.com/) since it offers a more feature pack package with a rich ecosystem and a strong community. Based on the features that are already available in the PHP Censor project below is a list of features that can ease the migration process and/or improve the code organization:

1. Laravel is based on Symfony components so might be easy to mig

[2019-01-13 04:32] corpsee commented on #253
It's too early to talk about it. But If I will work on the issue, then I will choose the Symfony4 (In my opinion Symfony more stable and predictable). If we will have other **regular** developers in the future, framework can be discussed again.

[2019-01-14 19:39] kromonos opened #259 "Build only last commit for Gitlab"
Per default I work with 3 or more branches. master, stage, development and feature/*. Yesterday I merged my development with 13 commits into stage which filled the list of build request quiet fast 😆
And because it's not enough, it only added the first 6 of 13, so, that PHP-Censor didn't build the latest.
So, it would be really nice to have an option to say "only build latest commit".

[2019-01-15 02:40] corpsee commented on #259
@kromonos It is not clear. Could you gave more details please:

* What type of source you use (Git, Github, GItlab etc.)?
* How you start builds (manual, by webhook)?

P. S.: Webhook for Github for example already builds only last commit.

[2019-01-15 06:13] kromonos commented on #259
Oh, sorry, my fault. I'm running an own Gitlab install and invoke builds via webhooks.

[2019-01-15 07:34] corpsee commented on #259
@kromonos Thanks! Feature request accepted.

[2019-01-16 14:55] corpsee commented on #259
@kromonos Could you attach example of Gitlab webhook payload (webhook request body) for push (pull request, tag etc.) without your secure data? Like [here](https://github.com/php-censor/php-censor/issues/13#issuecomment-277923071) for Gogs.

[2019-01-17 12:32] kromonos commented on #259
Sure. The push event triggers following:
[code]
You can find examples for other events at https://docs.gitlab.com/ee/user/project/integrations/webhooks.html

[2019-01-17 12:52] corpsee commented on #259
@kromonos Thanks!

[2019-01-19 00:02] fejal opened #260 "[Feature] Feature request Add Bitbucket self hosted Server support"
The support for BitBucket doesn't work with BitBucket Server when self hosted.   Would like to add this option.

*note We are working on adding that now if you would like a PR when we have it working well for us.

[2019-01-19 03:46] corpsee commented on #260
@fejal PR would be great! Thank you.

[2019-01-21 16:11] vinpel opened #261 "[Bug] environnement variable from setup:env not avaible to setup:shell stage"
## Expected behavior

I set some var in the env: plugin and i want them to be avaible in the shell plugin and maybe later in codeception

## Actual behavior

[code]

## Steps to reproduce

in the list of env, i don't get my defined environnement variables

## Environment

* PHP Censor version master
* Operating System
* PHP version 7.1.16
* MySQL/PostgreSQL version

[2019-01-22 06:11] corpsee commented on #261
@vinpel Thanks! Issue accepted.

[2019-01-22 09:11] vinpel opened #262 "[Bug] Codeception plugin inversed test to find codeception.yml"
Inversed test :
https://github.com/php-censor/php-censor/blob/4c55c6e5853eac6071157ec182fcd0a23ad2b751/src/Plugin/Codeception.php#L56-L60

if $option['config'] is empty, this code use it, you need to remove the "!"

[2019-01-22 12:55] corpsee commented on #262
@vinpel Thank you! Fixed for branches `master`, `release-1.0` and will be released with version `1.0.3`.

[2019-01-22 12:55] #262 closed

[2019-01-22 18:55] speker2010 opened #263 "[Question] Can I use last errors in plugins?"
It useful for legacy code.
For exapmle:
[code]
or
[code]

[2019-01-23 00:48] corpsee commented on #263
@speker2010 For now, don't. But it is good idea for the new feature. Thank you!

[2019-01-24 14:12] corpsee commented on #258
@benr77 Could you check your case on fresh `release-1.0` or `master` branch? I fixed bug for paths with symlinks.

[2019-01-24 14:17] corpsee commented on #263
First we should solve implementation issue: What we should do if previous build in pending/running status yet (When we have several workers and parallel builds)?

[2019-01-25 11:41] corpsee commented on #258
@benr77 I don't know :disappointed: About #261: Has it ever worked before?

[2019-01-25 11:46] benr77 commented on #258
I'll add some details to #261 directly now - but in short, yes it was working until I tried `master` today

[2019-01-25 11:47] benr77 commented on #261
I can confirm this. My CI build for a Symfony project has been based on using env vars defined in the setup section for a long time. I have e.g.
[code]
This makes the `bin/console` run as thought it were `APP_ENV=test bin/console` etc.

This has only been broken since sometime after the 1.0.2 release - it has definitely been working as expected right back from PHPCI days

[2019-01-25 11:49] corpsee commented on #258
@benr77 Thanks!

[2019-01-25 11:50] corpsee commented on #261
@benr77 Thank you for the details!

[2019-01-25 16:31] corpsee commented on #258
@benr77 Could you also check `release-1.0` branch? I guess issue with Environment plugin only in the `master` branch.

[2019-01-27 11:04] benr77 commented on #258
Ok this appears to be fixed in `master` now. Thank you

[2019-01-27 11:14] benr77 commented on #253
Laravel has a much bigger following in North America, but Symfony is more popular in Europe and elsewhere I think. Plenty of pros to both options of course.

Personally I'm +1 for Symfony.

[2019-01-27 11:15] corpsee commented on #258
@benr77 Thanks!

[2019-01-27 11:15] #258 closed

[2019-01-27 11:16] corpsee commented on #261
@benr77 Excellent! Thanks!

[2019-01-27 11:16] #261 closed

[2019-01-27 11:19] benr77 opened #264 "[Bug] Exception: Warning: chdir(): No such file or directory (errno 2)"
## Expected behavior

Plugin succeeds

## Actual behavior

When plugin should succeed, I get error as follows:

`Exception: Warning: chdir(): No such file or directory (errno 2) in <PHP_CENSOR_PATH>/src/Plugin/TechnicalDebt.php line 165`

If I remove this plugin, then the same error crops up with a different plugin instead:

`Exception: Warning: chdir(): No such file or directory (errno 2) in <PHP

[2019-01-28 13:11] corpsee commented on #264
@benr77 Could you test your case on `issue-264` branch please?

[2019-01-28 13:54] corpsee opened #265 "Create integration test of installation"
Create integration test of installation for MySQL and PostgreSQL databases (for testing migrations).

[2019-01-28 13:57] corpsee opened #266 "Create integration test for build"
Create integration test for build (With checking build output for [typical test project](https://github.com/php-censor/php-censor-test)).

[2019-01-28 15:03] corpsee commented on #263
"Is new?" flag is searched by unique error hash and isn't binded with last builds directly.

[2019-01-28 15:12] corpsee commented on #263
And your 2 variants isn't similar. "New erorrs" counts for all time (not for only last build).

[2019-01-28 16:20] benr77 commented on #264
Confirmed fixed in `issue-264`

[2019-01-28 17:07] corpsee commented on #264
@benr77 Thanks!

[2019-01-28 17:07] #264 closed

[2019-02-01 14:17] Kishlin commented on #255
Based on the fact that the project already has many dependencies to Symfony and SensioLabs product, have you ever considered using [Webpack Encore](https://symfony.com/doc/current/frontend.html)?

[2019-02-01 14:39] corpsee commented on #255
@Kishlin Yes, it is one of variants.

[2019-02-02 04:01] ptejada commented on #224
@corpsee What are the benefits of this change? Unless there are other plans to consume the plugins, splitting the plugins into packages will make the project harder to maintain.

[2019-02-02 10:16] corpsee commented on #264
Released with [1.0.4](https://github.com/php-censor/php-censor/releases/tag/1.0.4).

[2019-02-04 21:03] speker2010 commented on #263
Plugin for jenkins
https://github.com/jenkinsci/coverage-ratcheting-plugin

[2019-02-05 10:34] corpsee commented on #263
@speker2010 Thank you for info!

[2019-02-05 10:49] corpsee commented on #212
Fixed in #269. Fix will be released with version `1.1.0`.

[2019-02-05 10:49] #212 closed

[2019-02-05 15:52] panosru opened #270 "Build failing"
I'm trying to build the following project: https://github.com/omegad-biz/fault-manager/tree/develop

but it fails:
![image](https://user-images.githubusercontent.com/400362/52284863-eca63380-296d-11e9-9015-da0e98102f8a.png)

My *.php-censor.yml* file is:
[code]

I'm not sure why it does not see `composer.json` since it is in place, also I'm getting `Exception: Address in mailbox given [] does not

[2019-02-05 16:58] corpsee commented on #270
@panosru I guess issue in the your OS/environment. My build log of your repo:
[code]

[2019-02-05 17:01] panosru commented on #270
The master branch works for me as well, but in master branch I have not phpcensor yml file, I have it on develop branch, and it fails :(

[2019-02-05 17:19] panosru commented on #270
It seems that I was missing `ssh` in my container after I recreated it to update phpcensor.

![image](https://user-images.githubusercontent.com/400362/52291281-b327f500-297a-11e9-8251-9cb837bf49f7.png)

But php-censor does not generate an ssh key for me as it did on previous version, thus I'm getting:
[code]

Also I don't know why mail plugin complains `Exception: Address in mailbox given [] does

[2019-02-05 17:57] corpsee commented on #270
You shouldn't use `build_settings.directory: ./src` for all plugins because Composer plugin look for `composer.json` in the global directory too.

[2019-02-05 18:18] panosru commented on #270
Ah I see, it does affect the `setup` also, I thought it affects the `test` only. That means that I have to set `directory` separately in each test plugin in order to have the desired result, that is kind of inconvenient, is it not?

[2019-02-05 18:23] corpsee commented on #270
Try to overload global `directory` option for Composer:

[code]

[2019-02-05 19:18] corpsee commented on #270
@panosru I fixed `directory` overloading in branches `release-1.0` and `master`. The fix will be released with version `1.0.5`.

[2019-02-06 10:39] garas commented on #270
What are your `php-censor.email_settings` in `app/config.yml`? Mailer receives empty (`[]`) email, so invalid. Maybe it is `From` address.

[2019-02-06 11:27] corpsee commented on #270
@panosru I updated Guzzle version for normal Slack's working in branch `slack-fix`. Could you check my changes for Slack plugin please?

[2019-02-06 14:10] benr77 opened #271 "Standardise allowable failures/warnings/errors"
The various different plugins all seem to have different ways of permitting errors/warnings/failures.

For example the `php_cpd` plugin's documentation does not mention any way of permitting errors or warnings. With the default configuration, any duplication found will fail the build.

In order to allow the build to succeed, it is possible to add `allow_failures` although this is not documented:
[

[2019-02-06 17:01] corpsee commented on #271
@benr77 Thanks! Very useful ideas.

* Plugin options should be standardised you are right. But some plugins have errors and warnings and both options (`allowed_warnings` and `allowed_errors`).

* All options including `allow_failures` need documentation. It is truth.

* Option `zero_config` is internal and added automaticaly for projects without any configuration. You **shouldn't use  `zero_config