[2019-02-06 17:53] benr77 commented on #271
Is `allow_failures` an option for ALL plugins?

I'll create a pull request with some documentation improvements - adding `allow_failures` and also removing any references to `zero_config`

[2019-02-06 18:16] corpsee commented on #271
@benr77 Yes, `allow_failures` is general option for all plugins. Thank you, PR will be very helpful!

[2019-02-07 08:13] benr77 commented on #271
Ok. Whilst I'm doing this, shall we standardise the order that the config options are listed in? Should they be alphabetical, or do we list common options first?

[2019-02-07 11:25] corpsee commented on #271
@benr77 I think the best way is adding common options in the separated first section. Order of options inside sections is not matter for me. If you want than use alphabetical order. Thanks.

[2019-02-07 11:30] corpsee opened #272 "[Feature] Create build source type for rebuild."
## Expected behavior

Created build source type for rebuild from web and from console command with pointer to parent build.

[2019-02-07 11:48] corpsee commented on #272
Merged to `master` branch. Feature will be released with next minor release `1.1.0`.

[2019-02-07 11:48] #272 closed

[2019-02-07 12:07] benr77 commented on #271
Ok. Can you provide a list of options that apply to all plugins?

[2019-02-07 12:31] corpsee commented on #271
Sure. Common options: `priority_path`, `binary_path`, `binary_name`, `directory`, `ignore`, `allow_failures`.

[2019-02-07 13:40] benr77 commented on #271
Done with #273

[2019-02-07 22:07] panosru commented on #270
I'm sorry for my late reply,

@garas

here are my email settings:
[code]

The settings are tested with https://www.smtper.net and they are working fine, I use the same settings in other web apps and they are working fine.

@corpsee
My slack settings for testing purposes:
[code]

Php censor result:
![image](https://user-images.githubusercontent.com/400362/52445938-38570980-2b35-11e9-93e2-c39875eaaa

[2019-02-08 02:07] corpsee commented on #270
@panosru Are you sure that you test branch `slack-fix`? Your error from `master` because you didn't run new migrations.

[2019-02-08 14:22] #271 closed

[2019-02-08 17:34] panosru commented on #270
@corpsee yup, guzzle 6.3 worked fine, slack now works without any issues.

Indeed I forgot the migrations, my apologies as well.

The emails though are not working.

[2019-02-08 18:18] corpsee commented on #270
@panosru Thanks!

[2019-02-09 10:13] panosru commented on #270
@corpsee  and @garas

Well, tbh I didn't pay attention to RFC 2822, which indicates that the correct format should be `John Doe <john.doe@gmail.com>` rather than just `john.doe@gmail.com`.

Now that I fixed that in my `email_settings.from_address` I got:
![image](https://user-images.githubusercontent.com/400362/52519421-cb8e5d00-2c63-11e9-9912-5f22023f15c2.png)

Thanks!

[2019-02-09 10:13] #270 closed

[2019-02-09 11:48] corpsee commented on #270
@panosru Thank you for details!

I fixed behavior of `from_address` and now addresses like 'john.doe@gmail.com' will be automatically transform to 'PHP Censor <john.doe@gmail.com>'.

All fixes from the issue (`parent_id`, Slack, Email) merged in the branches `release-1.0` and `master` and will be released with version `1.0.5`.

[2019-02-10 22:59] panosru opened #276 "[Feature] Psalm support"
Are there any plans for [Psalm](https://getpsalm.org) support?

Useful resource:
https://medium.com/vimeo-engineering-blog/uncovering-php-bugs-with-template-a4ca46eb9aeb

Examples:
---
### Simulation of Generics

The following code is wrong because it defines the property `$bar` to be a type of `array<int>` which means an array with integer values only:
[code]

[code]

The following code is correc

[2019-02-11 00:43] corpsee commented on #276
@panosru Yes, but it is not high priority feature.

[2019-02-11 12:11] panosru commented on #276
@corpsee I'm not saying that it is :) It's just a great tool to have, I personally use it in all my projects.

So far I have created a Psalm plugin in my local php-censor testing environment and I'm playing around with the code.

I had trouble installing psalm as a local dependency because of compatibility issues with other plugins, so I'm using the global version for now.

From what I understood

[2019-02-11 13:26] corpsee commented on #276
@panosru If you create plugin it wil be awesome!

* About dependencies. I think you are about minimal version of PHP (`^7.0`). You can write to plugin documentation that plugin works only on PHP `7.0` installation and that user should have `system` or `local` Psalm and that option `global` (PHP Censor dependencies) are not supported.

    By the way PHP Censor version `2.0` will have minimal PHP v

[2019-02-11 22:03] panosru commented on #276
@corpsee could you please tell me how to invoke a build without having to run workers and etc, in order to make my dev easier?

[2019-02-12 00:59] corpsee commented on #276
@panosru No way. Only by worker or cronjob.

[2019-02-12 19:48] garas commented on #276
But I didn't find any `phpDocumentor\Reflection` within code. PhpDocblockChecker plugin uses `php-censor/phpdoc-checker` for its job.

@corpsee It probably left after switch to own until. Remove this dependency. Less dependencies, less problems.

[2019-02-12 20:01] panosru commented on #276
So far my plugin looks like this:
[code]

I'm still working on it, I have some questions though.

In my build log tab I would like to hide the json output and only send custom output to the user, instead I'm getting this:
![image](https://user-images.githubusercontent.com/400362/52664150-f5b87700-2f10-11e9-83bf-b7d4bca84b14.png)

While in my code I'm using `$this->builder->logFailure` and `$this->

[2019-02-12 20:17] garas commented on #276
For output control, look how `PhpCodeSniffer` plugin handles this

[2019-02-12 20:19] panosru commented on #276
@garas Ah! `$this->builder->logExecOutput` nice!

I will play with it! If I have any more questions I'll post here!

Thanks!

[2019-02-12 20:37] panosru commented on #276
@garas It seems that I have also to restart my worker every time I make any change to my plugin :/ :/

Nevertheless, I have some progress:
![image](https://user-images.githubusercontent.com/400362/52666297-93fb0b80-2f16-11e9-9654-7fb4a22aa752.png)

![image](https://user-images.githubusercontent.com/400362/52666327-ab39f900-2f16-11e9-86a0-cbbfa479e7ac.png)

I'm trying to figure out how to add data

[2019-02-12 22:59] panosru commented on #276
Ok, I pretty much got it working, I have a few questions:

1. In case the user set `allowed_errors` to `1000` and accordingly `allowed_warnings`, should I record the errors and warnings in the error tab or should I skip them and record only those that exceed the number that the user difined?

2. Psalm has `errors` and `infos`, I'm using `allowed_warnings` settings for `infos` to keep the consisten

[2019-02-13 00:51] corpsee commented on #276
@panosru

1. You should record errors anyway.
2. I don't know. I guess it is question for PR review :)
3. It is meta information for js charts and etc. (Quality Trend).
4. You should use PHP version 5.6 if you want to add plugin to main repository. If you create plugin as separate repository you may use any PHP version.
5. Sure.

[2019-02-13 00:53] corpsee commented on #276
@garas I will check dependencies soon. Thanks.

[2019-02-13 01:02] panosru commented on #276
@corpsee Thanks for the answers!

For the php code, I'll do some refactoring and it will support 5.6, not a big deal.

For the quality trend, could you point me to a plugin(s) where I could get more info?

Or on any information where I could read a bit more about it so I could make use of it...

Thanks!

PS: Now that I got the main point on how to make plugins, I will re-check [that list](https://

[2019-02-13 13:45] corpsee commented on #276
@panosru About quality trend [see "warnings.js"](https://github.com/php-censor/php-censor/blob/master/public/assets/js/build-plugins/warnings.js). Also you can create personal plugin's widget like [PHPLoc](https://github.com/php-censor/php-censor/blob/master/public/assets/js/build-plugins/loc.js), [PHPUnit](https://github.com/php-censor/php-censor/blob/master/public/assets/js/build-plugins/phpunit

[2019-02-14 11:13] garas commented on #276
@corpsee I've checked again about dependencies.

`vimeo/psalm` install is blocked by `phpdocumentor/reflection-docblock`, but as I've said, I didn't found any usage.

Another blocker is `php-censor/phpdoc-checker 1.0.3 (requires nikic/php-parser 3.*)` while `vimeo/psalm 3.0.0 requires nikic/php-parser ^4.0.2 || ^4.1`. Again, it is own package, might be possibly upgraded.

After these, `composer re

[2019-02-14 11:26] corpsee commented on #276
@garas Thank you! Could you create PR for this problem please (If you have possibility)?

[2019-02-14 14:55] panosru commented on #276
@corpsee I will try to solve the composer issue today, once I got it right I will push the commit to my PR.

I also plan to create plugins for the following tools:

- [Phlint](https://gitlab.com/phlint/phlint) - A tool with an aim to help maintain the quality of PHP code by analyzing code and pointing out potential code issues.
- [PHPStan](https://github.com/phpstan/phpstan) - Focuses on finding e

[2019-02-14 15:32] corpsee commented on #276
@panosru I think the best way is create isolated new branches/PR. Thanks.

[2019-02-14 20:04] garas commented on #276
I forgot Psalm requires PHP 7, so `composer require vimeo/psalm` will not work on PHP 5.6. Same for `nikic/php-parser ^4.0`.

1.x needs `composer global require vimeo/psalm`, and local will need to go 2.x branch anyway. I have not enough time now to upgrade `php-censor/phpdoc-checker` to support `nikic/php-parser ^4.0`, maybe later, 2.x just started, so no hurry yet anyway.

[2019-02-17 11:43] #276 closed

[2019-02-17 12:05] corpsee commented on #276
The PR (#277) merged to `master` branch and will be released with next minor version `1.1.0`.

[2019-02-21 03:22] mikebronner opened #282 "[Feature] Allow Postgres SSL Connections"
## Expected behavior
Would like to be able to use `sslmode=require` on Postgres connections to connect to cloud database providers.

However, I'm unable to get it to work with the current connection settings. I'll be happy to submit a pull request, I just haven't been able to get anything to work yet by modifying `/src/Plugin/Pgsql.php` yet.

**Clarification**
I am looking how to connect the main

[2019-02-21 12:36] corpsee commented on #282
@mikebronner Could you create draft pull request? And I will try to help when I will have free time.

[2019-02-21 13:16] mikebronner commented on #282
@corpsee sure thing... I'll get started on it today. Thanks!

[2019-02-22 13:06] EduardMalik opened #284 "[Feature] Add support for private Bitbucket repos cloned by ssh key"
Now if using repository type bitbucket, php-censor automatically adds https://bitbucket for writed path in project. If i write git@bitbucket.org:USER_NAME/USER_REPO.git  this auto transform to https://bitbucket.org/git@bitbucket.USER_NAME/USER_REPO.git.git

If i use type git, git cloned successful, but bitbucket hook not work, because expected type for Bitbucket hook is Project::TYPE_BITBUCKET and

[2019-02-22 13:26] EduardMalik commented on #217
for get status process you use shell command:  `ps auxww | grep 'codeception' | grep -v grep`
If i send commit - first test codeception runned.
I send second commit - for this commit codeception runned two.
But for first process, not finished before second process not killed. Because `ps auxww | grep 'codeception' | grep -v grep` show codeception as runned.
And i long waiting time for first commit

[2019-02-22 15:45] jwmwalrus commented on #217
The code is indeed a hack, but it's much better than the previous hack ;-)

Codeception doesn't exit properly ---i.e., the `stdout` stream remains open even after the `codecept` process---. While reimplementing the `executeCommand` interface in the CommandExecutor class, I tried the `$process->isRunning` method, and it always returned `false` (but if you manage to make it work, that'll be great).

[2019-02-23 14:34] corpsee commented on #284
You have empty ssh key and application forced `https://` protocol. Code for choosing protocol for clone looks like:

[code]

As I know @bochkovprivate (may be anyone else) use private Bitbucket and it works fine. You should solve problem with your ssh keys.

[2019-02-24 03:09] #282 closed

[2019-02-25 09:08] EduardMalik commented on #217
what version codeception are you using?
what operating system?
I check on codeception 2.4.x with my desktop ubuntu 16.04, and two server with debian and centos 7. All work fine.

[2019-02-25 11:48] corpsee opened #285 "Improve installation command"
Improve installation command by separating interactive installation from non-interactive:

* By new non-interactive flag:

[code]

* Or by separated commands:

[code]

P. S.: Also we should add interactive mode for flag `db-pgsql-sslmode` from #282 and #283.

[2019-02-25 12:12] corpsee commented on #252
Done in `2-remove-deprecated` branch and will be released with version `2.0.0`.

[2019-02-25 12:12] #252 closed

[2019-03-02 02:22] #284 closed

[2019-03-05 22:46] fejal commented on #260
@corpsee   PR submitted, cleaned up the reported errors, etc.

[2019-03-06 16:54] corpsee commented on #260
#286

[2019-03-07 16:52] leewillis77 opened #287 "[Bug] PHPCS fails with phpcs.xml from repository."
## Expected behavior

PHPCS run using phpcs.xml from repository.

## Actual behavior

PHPCS fails with the following error:
[code]

## Steps to reproduce

I'm running my project with the following in the `.php-censor.yml` for PHPCS. This worked (with 'path' instead of 'directory') on 0.23 consistently. Under 1.0.5 however it fails with the above error.

[code]

## Environment

* PHP Censor version

[2019-03-07 17:18] corpsee commented on #287
@leewillis77 Thank you for the bug report!

[2019-03-08 16:36] ndom91 opened #288 "[Bug] Part of Worker Documentation (config.yml keys) Completely Missing"
Trying to migrate from cron "worker" to legitimate beanstalkd and supervisor workers. However, the docs seem to be completely missing a crucial piece of info. What needs to be added to our config.yml.

## Actual behavior

In the docs, where it begins to tell you how to define the worker keys in your config.yml, host and queue, it says to refer to a screenshot, but then there is not image file. I c

[2019-03-08 17:31] corpsee commented on #288
@ndom91 You should add to the `config.yml` file new section `queue` like:

[code]

Don't close issue please I will add details to documentation soon. Thank you for the report!

[2019-03-08 18:41] corpsee opened #289 "Deprecate config section `b8.database`"
* Deprecate config section `b8.database`.
* Create new config section `php-censor.database` with higher priority.

[2019-03-08 18:42] corpsee opened #290 "Remove deprecated config section `b8.database`"
Remove deprecated config section `b8.database`. #289.

[2019-03-09 09:28] corpsee commented on #287
@leewillis77 You are right, PHPCS plugin working now strange and inconsister with other types of paths and plugins. I will fix behavior and documentation soon.

For now I have workaround for the issue: you may use relative path like: `standard: "../phpcs.xml"` (relative from `BUILD_PATH`).

[2019-03-09 15:24] ndom91 commented on #288
Thanks a lot!

[2019-03-10 06:27] #288 closed

[2019-03-10 06:27] corpsee commented on #288
Done.

[2019-03-10 08:11] corpsee commented on #287
@leewillis77 Fixed in `release-1.0` branch. Fix will be released with version `1.0.7` soon.

Now you should use relative from `BUILD_PATH` path or absolute path (As other paths like `directory` etc.):
[code]

[2019-03-10 08:11] #287 closed

[2019-03-10 09:39] leewillis77 commented on #287
Awesome - thanks!

[2019-03-10 09:43] corpsee opened #291 "Fix paths for plugin configuration files for more consistency."
Fix paths for plugin configuration files for more consistency. We should use `Plugin::normalizePath` method for paths normalization with var interpolation, support of relative and absolute paths etc.. See #287 for example.

[2019-03-10 10:12] corpsee opened #292 "Add "remote" field for PR builds"
Add "remote" field for PR builds and filter branches with remote.

[2019-03-12 04:15] fejal commented on #260
@corpsee   Changes requested have been pushed.

[2019-03-12 14:04] #260 closed

[2019-03-14 22:24] mirdic opened #293 "[Feature] Allow run only one build at a time"
It would be nice, to have settings for project to run only one build at a time. We are using for each build the same database, and if two or more builds run synchronously, errors appear.

[2019-03-15 01:01] corpsee commented on #293
@mirdic I don't clearly understand your case, but:

1. If you start **only one** worker/cronjob than builds will be process one after another.
2. Database works fine with many parallel queries. May be problem in database configuration?

[2019-03-15 08:51] mirdic commented on #293
@corpsee thanks for the quick reply!

The issue was with my settings of cron that was running `php-censor:run-builds` every minute and sometimes (if there was more than one build in queue) overlapping since my build run take approx. 70s. So i used flock to lock the cron run. https://ma.ttias.be/prevent-cronjobs-from-overlapping-in-linux/

Thanks for help and the good work on php-censor 👍

[2019-03-15 12:24] #293 closed

[2019-04-13 02:56] #292 closed

[2019-04-13 06:47] corpsee commented on #289
Done.

[2019-04-13 06:47] #289 closed

[2019-04-13 06:53] corpsee commented on #290
Done.

[2019-04-13 06:53] #290 closed

[2019-04-17 18:38] fejal opened #296 "Bit Bucket Server Project URL add."
For our implementation for Bit Bucket Server the Repository URL for the project to access the repository is a ssh path.  This ssh path doesn't work for the links in the UI to the branches due to the url for the repo and the webbased access are different.

Would adding a field for the web url for project that is in addition to the repo url be an ok addition?

Should this appear only for the Bit Buc

[2019-04-18 01:44] corpsee commented on #296
@fejal I think we should use one common implementation for all build types. Are you see how links works in Gitlab type build? Maybe you can use `access_information` instead of raw reference like in Gitlab?

[2019-04-27 03:21] corpsee opened #298 "Add "branch" param to public status page ("build-status/view")"
## Expected behavior

Project public status page should show result with filtration by "branch" if parameter "branch" exists.

[2019-04-27 03:47] corpsee opened #299 "Add PHPUnit plugin options "allowed_[classes|methods|lines]_coverage""
## Expected behavior

PHPunit plugin should fail when coverage is lower that `allowed_[classes|methods|lines]_coverage` option value. Config example:

[code]

Also, according to #263 we should have ability to compare coverage with previous build. Config example:

[code]

[2019-04-27 12:22] corpsee commented on #298
Done.

[2019-04-27 12:22] #298 closed

[2019-04-27 12:35] corpsee opened #300 "Rename column "branch" in "project" table into "default_branch""
## Expected behavior

Column `branch` should name `default_branch`.

[2019-04-27 16:14] corpsee commented on #300
Done.

[2019-04-27 16:14] #300 closed

[2019-04-28 02:03] corpsee opened #301 "Make build interpolated variables names more consistent."
## Expected behavior

Build interpolated variables should have more consistent names:
* `%COMMIT%` -> `%COMMIT_ID%`
* `%SHORT_COMMIT%` -> `%SHORT_COMMIT_ID%`
* `%PROJECT%` -> `%PROJECT_ID%`
* `%BUILD%` -> `%BUILD_ID%`
* `%COMMIT_EMAIL%` -> `%COMMITTER_EMAIL%`
* `%COMMIT_URI%` -> `%COMMIT_LINK%`
* `%PROJECT_URI%` -> `%PROJECT_LINK%`
* `%BUILD_URI%` -> `%BUILD_LINK%`
* `%BRANCH_URI%` -> `%BRANCH_LIN

[2019-04-28 02:17] corpsee commented on #301
Done.

[2019-04-28 02:17] #301 closed

[2019-04-28 06:00] corpsee commented on #259
@kromonos Done. Gitlab now builds only last commit like Github (In the branch: `1.1-gitlab-build-only-last-commit`). Could you test the branch `1.1-gitlab-build-only-last-commit` on your Gitlab installation please?

[2019-04-28 06:17] kromonos commented on #259
Do I need to setup something or is it active per default?

[2019-04-28 07:18] corpsee commented on #259
@kromonos It works by default.

[2019-04-28 07:21] kromonos commented on #259
Works perfectly :)

[2019-04-28 07:39] corpsee commented on #259
@kromonos Thank you for the testing! Changes merged into `master` branch and will be released with version `1.1.0`.

[2019-04-28 07:39] #259 closed

[2019-05-07 13:09] corpsee opened #303 "Improve default value of installation URL for support both http protocols (http and https)"
## Expected behavior

Default value of installation URL should support both http protocols (`http` and `https`) out of the box.

[2019-05-07 17:01] corpsee commented on #303
Done.

[2019-05-07 17:01] #303 closed

[2019-05-13 05:13] williameggers-catch-e opened #304 "Phing plugin not working"
## Expected behavior

Phing plugin to operate without error.

## Actual behavior

RUNNING PLUGIN: Phing (Stage: Success)
**Error: Call to undefined method PHPCensor\Plugin\Phing::getDirectory() (uncaught exception) at <PHP_CENSOR_PATH>/src/Plugin/Phing.php line 161**

Phing plugin appears to be calling a non-existent getDirectory() method that is missing/removed.

Commenting out the following line

[2019-05-13 14:10] corpsee commented on #304
@williameggers-catch-e Thank you for the report! I fixed plugin. Could you test your case on git branch `phing-directory-fix` please?

[2019-05-13 23:48] williameggers-catch-e commented on #304
@corpsee Thanks for the fix. Switched branches and triggered a build. Works well.

I have another request for the Phing plugin, but it's an enhancement. I'll raise it separately.

[2019-05-14 00:42] corpsee commented on #304
Changes merged into branch `release-1.0` and will be released with version `1.0.10` soon.

[2019-05-14 00:42] #304 closed

[2019-05-14 18:43] TrxadeIT commented on #296
Working on this.

Trying to get the build hook (on pull request) to run the build with debug flag on.

This is what I put in the .php-censor.yml   file:
![image](https://user-images.githubusercontent.com/49990699/57723272-46e21f00-7656-11e9-9439-705fc68caeab.png)

But the PR generated builds never run in debug and always delete the build.
Any thing I'm doing wrong.

[2019-05-15 01:43] corpsee commented on #296
@TrxadeIT Section `build_settings` from `.php-censor.yml` doesn't have the options `remove-builds` and `debug`. See [documentation](https://github.com/php-censor/php-censor/blob/master/docs/en/configuring_project.md#common-build-settings).

Option `remove_builds` exists in global [application congiration](https://github.com/php-censor/php-censor/blob/master/docs/en/configuring_application.md).

Op

[2019-05-18 03:45] corpsee opened #305 "Remove useless ".htaccess.dist" file from public directory."
Remove useless ".htaccess.dist" file from public directory. For configure Apache [see documentation](https://github.com/php-censor/php-censor/blob/master/docs/en/virtual_host.md) instead.

[2019-05-18 05:47] corpsee commented on #305
Done.

[2019-05-18 05:47] #305 closed

[2019-06-08 04:42] corpsee commented on #251
Done.

[2019-06-08 04:42] #251 closed

[2019-07-10 14:54] corpsee opened #306 "Add public route with PHPUnit coverage badge (image from https://shields.io)"
Add public route with PHPUnit coverage badge (image from https://shields.io).

[2019-07-12 15:37] corpsee opened #307 "Fix default branch for build."
Fix default branch for build (`master` -> `master|default|trunk`).

[2019-07-12 17:13] corpsee commented on #307
Done.

[2019-07-12 17:13] #307 closed

[2019-07-12 17:13] corpsee commented on #306
Done.

[2019-07-12 17:13] #306 closed

[2019-08-15 21:41] kromonos opened #310 "Field 'branch' doesn't have a default value"
After moving my PHP Censor installation to a new server I get the SQL error "Field 'branch' doesn't have a default value" when I try to manually build a project.

I tried bin/console php-censor-migrations:migrate but doesn't help. bin/console php-censor-migrations:status shows me an interesting line:
` up  20190712152800  2019-08-15 21:43:38  2019-08-15 21:43:38  FixedBuildBranch

[2019-08-16 02:22] corpsee commented on #310
@kromonos Thanks. I will try to fix soon.

[2019-08-19 13:38] corpsee commented on #310
@kromonos Are you sure on latest `master` commit? Could you show your git commit hash?

[2019-08-19 18:07] kromonos commented on #310
Yes, I'm on the latest master commit.

But it's really funny. After a push into one of my repositorys, PHP Censor runs an automated build. After this, I'm able to run builds manually again 🤔

[2019-08-20 00:56] mikebronner opened #311 "[Bug] Unable To Get PHPSTAN Plugin To Run"
## Expected behavior

PHPStan should run using the config shown in the setup.

## Actual behavior

1. PHPStan is not actually installed as a global PHP-CENSOR dependency, and thus requires to be installed with the project.
2. Even when configuring things according to the wiki, PHPSTAN still errors out. It appears to be missing an argument in the plugin code to point to the directories to be analyz

[2019-08-20 02:50] corpsee commented on #311
@mikebronner Thanks!

[2019-08-20 02:51] mikebronner commented on #311
@corpsee No problem, please let me know if you need any more information. :)

[2019-08-20 02:52] corpsee commented on #310
@kromonos Ok. I will try to search the bug. Tell me if you will have the bug again.

[2019-08-23 05:01] RobLoach commented on #255
[Asset Packagist](https://asset-packagist.org/) could be a solution to avoid introducing another package manager. You add the Composer repository, and then have access to the npm repos...

[code]

[2019-08-23 15:33] corpsee commented on #255
@RobLoach It is already works like you describe. See [composer.json](https://github.com/php-censor/php-censor/blob/master/composer.json)

[2019-09-02 03:47] corpsee opened #315 "[Bug] Ugly migrations output in installation command"
## Expected behavior

Correct migrations output with EOLs.

## Actual behavior

[code]

## Steps to reproduce

Run new installation.

## Environment

* PHP Censor version: 1.1.1
* Operating System: Linux Mint 19.2
* PHP version: 7.3.8
* PostgreSQL version: 11

[2019-09-02 04:00] corpsee commented on #315
Fixed.

[2019-09-02 04:00] #315 closed

[2019-09-02 09:35] corpsee opened #316 "Add special value 'default' for param 'db-port' during installation"
Add special value 'default' (5432 for PostgreSQL and 3306 for MySQL) for param 'db-port' during installation.

[2019-09-02 09:43] corpsee commented on #316
Done.

[2019-09-02 09:43] #316 closed

[2019-09-04 17:48] corpsee commented on #311
@mikebronner Could you please check branch `1.1-fixed-phpstan-directory` with fix?

[2019-09-04 17:50] corpsee opened #318 "[Bug] Binary path option works correct only for the first binary in the list."
Binary path option works correct only for the first binary in the list.

[2019-09-04 18:06] corpsee commented on #318
Fixed.

[2019-09-04 18:06] #318 closed

[2019-09-04 18:08] mikebronner commented on #311
@corpsee Roger, will try to get to it in the next day or so.

[2019-09-07 21:50] mikebronner commented on #311
Trying to get it to work now, will report back soon.

[2019-09-14 14:40] corpsee commented on #311
@mikebronner Thanks. Looks like #310 from fresh `master` again 😢I will create new branch with fix on branch `release-1.1` for you.

[2019-09-15 04:53] corpsee commented on #310
@kromonos Thanks!

[2019-09-19 15:48] #310 closed

[2019-09-19 15:55] corpsee commented on #311
Fix in `release-1.1` and `master` branches now.

[2019-09-19 16:40] mikebronner commented on #311
Awesome! Sorry I haven't been able to get to testing it.

[2019-09-30 21:30] JuniorXcoder opened #319 "[Feature] Hopefully it can be compatible with Windows"
Hopefully it can be compatible with Windows
considering we can not ignore the increasing number of Windows users

[2019-10-01 13:34] corpsee commented on #319
@JuniorXcoder Thanks. It is a good feature, but with low priority so far.

[2019-10-04 12:10] corpsee commented on #311
@mikebronner Thanks!

[2019-10-04 12:10] #311 closed

[2019-10-28 07:37] lugark opened #324 "Use ShallowClones for Git"
We have a legacy application and a repository that is quite big (containing a long commit history & branches / about 350Mb). To just run the builds we don't need all this.
The builds should checkout the code as "Shallow Clones" using the --depth argument.

For those that would like to keep it as it is right now a config parameter could be used:
[code]

[2019-10-28 10:12] lugark commented on #324
**Sorry** - i can answer this by myself:
https://github.com/php-censor/php-censor/blob/master/docs/en/configuring_project.md

You can configure it by project. Either in a config stored on the repository of directly in the WebUI

[2019-10-28 10:12] #324 closed

[2019-11-05 12:47] xl32 opened #334 "[Bug] php codesniffer 3.2.0 does not support php 7.3"
## Expected behavior

php code sniffer runs without warnings displayed

## Actual behavior

php code sniffer runs with warnings displayed:

[code]

## Steps to reproduce

Run ./vendor/squizlabs/php_codesniffer/bin/phpcs

## Environment

* PHP Censor version 1.1.2
* Operating System: Fedora Linux 30
* PHP version: 7.3.11

Fixed by:
`composer require "squizlabs/php_codesniffer":"~3.5.0"`

[2019-11-05 14:27] corpsee commented on #334
@xl32 Thanks. This is a known issue. If you want to use PHP Censor with PHP 7.3, then you need to use a custom version of PHP Codesniffer.

You may create PR with this information in README file.

[2019-11-05 14:27] #334 closed

[2019-11-06 16:05] #95 closed

[2019-11-06 20:23] lugark commented on #319
Can i ask a stupid question? What does is meant exaclty being compatible with Windows? Using a Wamp-Stack? Never tested that because i use a docker-container for Windows.

[2019-11-06 21:14] garas commented on #319
For example, make sure shell commands can run on Windows.

https://github.com/php-censor/php-censor/blob/4e0c52594e46f1700af760a35812b3e59d448732/src/Plugin/CopyBuild.php#L64

There is no `cp` on Windows.

[2019-11-07 02:35] corpsee commented on #319
Now the best way to use PHP Censor on Windows is use VM or Docker. Previously, there was a compatibility layer for Windows, but it was difficult to maintain.

[2019-11-09 13:34] garas opened #337 "[Bug] Bitbucket build created when deleted branch"
## Expected behavior

PHP Censor should ignore webhook after deleting branch if `"new": null`

## Actual behavior

PHP Censor creates build for default branch

## Steps to reproduce

1. Delete branch from Bitbucket
2. Webhook received:
[code]
Note `"new": null`

PHP Censor response:
[code]

## Environment

* PHP Censor version 1.1.1
* Operating System CentOS 6.10
* PHP version 7.2.24
* MySQL versi

[2019-11-09 13:42] corpsee commented on #337
@garas Thanks!

[2019-11-09 13:54] corpsee commented on #337
@garas Could you test your case in `bitbucket-fix` branch please?

[2019-11-09 19:52] garas commented on #337
No build created ✔ Thanks for fix.

PHP Censor response was now HTTP status: 200
[code]

[2019-11-09 19:52] #337 closed

[2019-11-10 03:01] corpsee commented on #337
@garas Thank you for testing! Changes merged into branches `release-1.0`, `release-1.1` and `master` and will be released with versions `1.0.13`, `1.1.3` and `1.2.0` (In the future).

[2019-11-14 11:14] vinpel opened #339 "[Bug] plugin "email" Address in mailbox given [] does not comply with RFC 2822, 3.6.2."
## Expected behavior
WIth a successfull build i get the current log :
[code]
## Actual behavior

The status email is not send

## Steps to reproduce
the project have this php-censor.yml part :
[code]
## Environment

* PHP Censor version **1.1.13**
* Operating System debian (docker)
* PHP version 7.2
* MySQL/PostgreSQL version

[2019-11-14 12:19] corpsee commented on #339
@vinpel Thanks!

[2019-12-09 15:29] vinpel commented on #339
i have fixed this with the folloging :
-> added the folowing package : ssmtp libpcre2-8-0
-> 2 parameters where empty (typo in env variable
[code]

The message is gone and email are correctly send.

The initial problem seem to be around php version without libPRCE installed  and swiftmailer who use an incompatible with certain version regular expression.

[2019-12-09 15:30] #339 closed

[2019-12-18 15:20] corpsee opened #340 "[Localization] Improve Danish localization (lang.da.php)"
See [lang.da.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.da.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'svn', 'default_branch_only', 'overwrite_buil

[2019-12-18 15:25] corpsee opened #341 "[Localization] Improve German localization (lang.de.php)"
See [lang.de.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.de.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_build_confi

[2019-12-18 15:29] corpsee opened #342 "[Localization] Improve French localization (lang.fr.php)"
See [lang.fr.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.fr.php):

**Not present strings:** 'delete_old_builds', 'delete_all_builds', 'source_webhook_pull_request_updated', 'source_webhook_pull_request_approved', 'source_webhook_pull_request_merged', 'rebuild_now_debug', 'total_errors', 'php_tal_lint_warnings', 'php_tal_lint_errors', 'behat_warnings', 'sensiolabs_i

[2019-12-21 06:39] corpsee opened #343 "[Localization] Improve Greek localization (lang.el.php)"
See [lang.el.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.el.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_build_confi

[2019-12-21 07:20] corpsee opened #344 "[Localization] Improve Spanish localization (lang.es.php)"
See [lang.es.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.es.php):

**Not present strings:** 'per_page', 'default', 'login', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_bu

[2019-12-21 07:21] corpsee opened #345 "[Localization] Improve Italian localization (lang.it.php)"
See [lang.it.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.it.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'svn', 'default_branch_only', 'overwrite_buil

[2019-12-21 07:23] corpsee opened #346 "[Localization] Improve Dutch localization (lang.nl.php)"
See [lang.nl.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.nl.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'svn', 'default_branch_only', 'overwrite_buil

[2019-12-21 07:24] corpsee opened #347 "[Localization] Improve Polish localization (lang.pl.php)"
See [lang.pl.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.pl.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_build_confi

[2019-12-21 07:25] corpsee opened #348 "[Localization] Improve Portuguese (Brazil) localization (lang.pt-br.php)"
See [lang.pt-br.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.pt-br.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_build

[2019-12-21 07:26] corpsee opened #349 "[Localization] Improve Ukrainian localization (lang.uk.php)"
See [lang.uk.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.uk.php):

**Not present strings:** 'per_page', 'default', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'svn', 'default_branch_only', 'overwrite_buil

[2019-12-21 07:27] corpsee opened #350 "[Localization] Improve Chinese localization (lang.zh.php)"
See [lang.zh.php](https://github.com/php-censor/php-censor/blob/master/src/Languages/lang.zh.php):

**Not present strings:** 'per_page', 'default', 'login', 'remember_me', 'environment_x', 'project_groups', 'build_now_debug', 'delete_old_builds', 'delete_all_builds', 'projects_with_build_errors', 'no_build_errors', 'failed_allowed', 'error', 'skipped', 'trace', 'default_branch_only', 'overwrite_bu

[2020-02-28 11:08] ankit0183 opened #353 "[Bug] Bug report"
## Expected behavior

*Please describe what you're expecting to see happen.*

## Actual behavior

*Please describe what you're actually seeing happen.*

## Steps to reproduce

*If your issue requires any specific steps to reproduce, please outline them here.*

## Environment

* PHP Censor version
* Operating System
* PHP version
* MySQL/PostgreSQL version

[2020-02-28 17:20] #353 closed

[2020-03-07 16:19] #299 closed

[2020-05-04 07:17] corpsee opened #362 "Move config for periodical builds (periodical.yml) to DB"
Move config for periodical builds (`periodical.yml`) to DB:

* Add alternative periodical build config in DB with higher priority that yml.
* Deprecate yml periodical config (Release `1.2`).
* Delete yml periodical config (Release `2.0`).

[2020-05-04 07:35] corpsee opened #363 "Upgrade Phinx version from 1.10 to 1.11 (1.10 raise deprecation on PHP 7.4)."
Upgrade Phinx version from `1.10` to `1.11` (`1.10` raise deprecation on PHP `7.4`).

[2020-05-04 07:55] corpsee commented on #363
Merged. Would be released with versions `1.0.16`, `1.1.6` and `1.2` (`master`).

[2020-05-04 07:55] #363 closed

[2020-05-26 16:42] corpsee opened #365 "Fix database scheme"
Fix database scheme:
* Add foreign keys
* Improve naming and types

[2020-05-27 09:21] sebastian87 opened #366 "[Bug] PHPUnit "No code coverage driver is available""
## Expected behavior

When creating a build for a project with the "coverage: true"-flag, a coverage report should be created and be available at the given url in the build log.

## Actual behavior

1. PHPUnit says, its is not being run with xdebug enabled:
    - "Error: No code coverage driver is available" (see build log below)
    - "If you see a warning while running tests that no code coverag

[2020-05-28 15:12] corpsee commented on #366
@sebastian87 Thank you for the useful detailed report! :+1: As I see all problems with docker images and compose files.

I created issues https://github.com/php-censor/docker-php-censor/issues/45 and https://github.com/php-censor/docker-php-censor/issues/46 for this.

[2020-05-28 15:12] #366 closed

[2020-05-28 15:12] #365 closed

[2020-05-28 15:20] sebastian87 commented on #366
@corpsee thanks for creating the docker-issues; I was not sure if the issue was docker related or not.

[2020-06-06 16:37] leewillis77 commented on #184
I needed this for a project of my own. PR opened here #367

[2020-06-07 15:56] #184 closed

[2020-06-12 10:21] corpsee commented on #366
@sebastian87 https://github.com/php-censor/docker-php-censor/issues/46 and https://github.com/php-censor/docker-php-censor/issues/45 fixed.

[2020-07-03 13:54] kromonos opened #368 "Migrations path missing from config file"
After Upgrading from commit 29f9dbd0 to 3b5a76fa I get the error `Migrations path missing from config file` when I execute migration:
![20200703-0351 - Screenshot](https://user-images.githubusercontent.com/1553902/86475468-431acb80-bd34-11ea-8918-ea56d409bb40.png)

I tried to search for some hints, in config.yml what I'm missing, but I couldn't find anything. Any advices?

[2020-07-03 14:41] corpsee commented on #368
Hello @kromonos. Thank you for the report.

1. Now `master` branch contains feature major release v2.0 (Work in progress). For upgrade to latest stable v1 release use branch `release-1.2` (or `release-1.1`, `release-1.0`) or tags (Latest release tag `1.2.0`). Upgrade to latest master is a bad idea.

2. Could you run migrate command with flag `-vvv` for more details?

[2020-07-03 14:43] kromonos commented on #368
[code]

[2020-07-03 14:58] corpsee commented on #368
@kromonos :+1: Great! I recommend you to stay on version `1.2` for now.

I will try to fix problem in `master` but with low priority (Version `2.0` will not have full backward compatibility with version `1.2`).

[2020-07-04 15:17] corpsee commented on #368
Configuration section `b8` was deprecated in version `1.2` and finally removed in `master` (`2.0` WIP). Instead you should use section `php-censor` for version `2.0`. This is the cause of the error.

I added more clear exception for this case to `master` branch.

[2020-07-04 15:17] #368 closed

[2020-07-20 08:14] kromonos opened #369 "[Feature] Add Webhook for Gitea"
## Gitea Webhook

I tried several methods to activate hooks from Gitea. With a gogs type I get
[code]
Other webhook types run into `unusable payload` or just `{"status":"failed","commits":[]}`

More about Gitea webhooks can be found at https://docs.gitea.io/en-us/webhooks/

[2020-07-20 17:12] corpsee commented on #369
@kromonos Could you additionally give more details like your payload for PHP Censor from Gitea (Without secrets)?

[2020-07-20 17:17] kromonos commented on #369
Gitea sends following payload:
[code]

[2020-07-22 16:17] corpsee commented on #369
@kromonos Thanks!

[2020-07-23 12:36] kromonos opened #370 "[Question] build_settings: Opposite of ignore?"
I'm playing around a bit with the build_settings and couldn't find in the documents, what I need.
In my current case, I would like to exclude a "/plugins" directory with `ignore`, but I would also like to include various plugins that come from me personally like "/plugins/my_own_plugin", so that they're getting catched by the tests although the parent folder has been excluded.
Is there a include p

[2020-07-24 02:51] kromonos opened #371 "[Bug] PHPStan ignores ignore"
## Expected behavior

phpstan should not check files/folders defined as ignore

## Actual behavior

ignore wasn't used

## Steps to reproduce

See screenshots:
![20200724-0446 - Screenshot](https://user-images.githubusercontent.com/1553902/88356734-5845b180-cd58-11ea-8b0e-957bd1a6f5e3.png)
![20200724-0447 - Screenshot](https://user-images.githubusercontent.com/1553902/88356736-5aa80b80-cd58-11ea-9

[2020-07-24 03:02] kromonos opened #372 "[Bug] Rebuild from build view runs into an error"
## Expected behavior

Should start a new build

## Actual behavior

Runs into a `Message: Column "user_id" must be an int.` error

## Steps to reproduce

Click onto `Build #123` and start a new rebuild with the rebuild buttons top right
![Screenshot at 2020-07-24 04-52-34](https://user-images.githubusercontent.com/1553902/88357140-c3dc4e80-cd59-11ea-8b5b-a8a050ce517e.png)
![Screenshot at 2020-07-2

[2020-07-24 14:23] corpsee commented on #370
@kromonos For now we don't have excluding items for "ignore" section. But it is a good idea for the future feature.

[2020-07-24 14:26] corpsee commented on #371
@kromonos For now PHPStan plugin don't support any "ignore" global or plugin options.@kromonos For now PHPStan plugin don't support any "ignore" options (Global and plugin specific).

[2020-07-24 14:28] corpsee commented on #372
@kromonos Thanks!

[2020-07-24 14:30] kromonos commented on #371
Ah, ok. I was just wondering, because PHPStan itself seems to support this feature https://phpstan.org/user-guide/ignoring-errors#excluding-whole-files

[2020-07-24 14:40] garas commented on #370
It depends on capabilities of external executables. Ignore list is passed as command line argument in most plugins, but none of them has way to invert ignore.

[2020-07-24 14:45] garas commented on #371
It is best to specify it in `phpstan.neon` config file, so it is ignored both when run `phpstan` manually or through PHPCensor.

[2020-07-24 14:55] kromonos commented on #371
Thanks for the tip. I'll try it out

[2020-08-05 06:35] corpsee commented on #372
@kromonos Fixed in branch `release-1.2` and will be released with patch `1.2.1`. Could you check the fix please?

[2020-08-05 08:27] kromonos commented on #372
Seems to work now. Thank you 🙂

[2020-08-05 10:13] #372 closed

[2020-09-04 20:05] ptejada commented on #344
@corpsee Spanish is my first language. I can help 😄

[2020-09-04 20:10] ptejada commented on #319
With WSL becoming more popular in windows now adding support for windows or the NTFS filesystem doesn't sound like good time investment. This requests should not even be considered as a new feature.

[2020-09-05 04:46] corpsee commented on #344
It would be great if you can help with Spanish localization. :fire:

[2020-09-05 04:48] corpsee commented on #319
@ptejada I agree.

[2020-09-07 16:01] corpsee commented on #344
Done. Thank you @ptejada, great work!

[2020-09-07 16:01] #344 closed

[2020-09-12 17:29] #135 closed

[2020-09-29 15:47] corpsee opened #374 "[Feature] Add variable for interpolation APP_VERSION"
## Expected behavior

Need to add variable for interpolation _APP_VERSION_ (_%APP_VERSION%_).

[2020-10-01 02:12] flavioheleno commented on #348
Hi, I'm taking a shot at this.

[2020-10-01 02:24] corpsee commented on #348
@flavioheleno Excellent! Thanks.

[2020-10-01 17:42] #348 closed

[2020-10-07 09:21] corpsee opened #376 "Rename all notification plugins to form with suffix "_notify" and deprecate old names"
Rename all notification plugins to form with suffix "_notify" with backward compatibility and deprecate old names without the suffix. Plugins for rename: **"campfire", "telegram", "xmpp", "email"** and **"irc".**

[2020-10-07 16:31] corpsee opened #377 "[Bug] Broken SQLite plugin"
SQLite plugin broken (PDO class constructor evoke with wrong params order).

[2020-10-10 15:48] #377 closed

[2020-10-10 16:17] #374 closed

[2020-10-18 07:49] corpsee opened #382 "[Bug] When working directory creation failed interpolation variables don't initialize"
## Expected behavior

Interpolation variables are always initialized.

## Actual behavior

When working directory creation failed interpolation variables don't initialize.

[2020-10-18 07:52] corpsee opened #383 "[Bug] When comments on Github/Bitbucket failed all plugin fail too."
## Expected behavior

The plugin result should not depend on external calls.

## Actual behavior

When comments on Github/Bitbucket failed all plugin fail too.

[2020-10-18 07:58] corpsee opened #384 "[Feature] Add ability to save and store webhook payloads in application database."
## Expected behavior

Add ability to save and store webhook payloads in application database (For example: This details needs for debug sometimes).

[2020-10-18 08:03] corpsee opened #385 "[Enhancement] Improve table 'build_metas'"
## Expected behavior

Improve table `build_metas`: add new column `plugin` with meta plugin name (Instead of `key` like '<plugin>-<key>'). Also needs to fix keys in column `key` ('<plugin>-<key>' -> '<key>').

[2020-10-18 08:37] corpsee commented on #376
Done.

[2020-10-18 08:37] #376 closed

[2020-10-20 16:24] corpsee opened #386 "[Enhancement] Add missing option 'verbose' for plugin CampfireNotify"
Add missing option 'verbose' for plugin CampfireNotify.

[2020-10-20 16:29] corpsee opened #387 "[Enhancement] Deprecate variable "%buildurl%" from CampfireNotify"
Deprecate variable "%buildurl%" from CampfireNotify (Use instead "%BUILD_LINK%"). Variable should be deleted in version 2.0.

[2020-10-24 07:02] corpsee opened #388 "[Enhancement] Deprecate option "executable" for plugin SensiolabsInsight"
Deprecate option "executable" for plugin SensiolabsInsight. Should use instead "binary_path" and "binary_name" options.

[2020-10-24 07:09] corpsee opened #389 "[Enhancement] Deprecate inconsistent options for auth tokens for several plugins"
Deprecate inconsistent options for auth tokens for several plugins and create one option name (For example: `auth_token`) for this. Now we have:
* `authToken` (`CampfireNotify`, `HipchatNotify`)
* `api_key` (`FlowdockNotify`, `TelegramNotify`)
* `api_token` (`SensiolabInsight`)
* `token` (`BitbucketNotify`)

[2020-10-27 16:49] corpsee opened #390 "[Enhancement] Rename "phpstan" (phpStan) to "php_stan" for more consistency"
Rename "phpstan" (phpStan) to "php_stan" for more consistency.

[2020-10-27 16:51] corpsee opened #391 "[Bug] Installation fail with Composer v2"
## Expected behavior

Installation succesfull with Composer v2.

## Actual behavior

Installation fail with Composer v2.

[2020-10-31 18:12] corpsee commented on #391
Done.

[2020-10-31 18:12] #391 closed

[2020-10-31 18:18] corpsee commented on #382
Done.

[2020-10-31 18:18] #382 closed

[2020-10-31 18:19] corpsee commented on #383
Done.

[2020-10-31 18:19] #383 closed

[2020-11-01 07:25] corpsee commented on #386
Done.

[2020-11-01 07:25] #386 closed

[2020-11-01 15:03] corpsee commented on #387
Done.

[2020-11-01 15:03] #387 closed

[2020-11-01 15:16] corpsee opened #394 "[Enhancement] Deprecate option "executable" for plugin Codeception"
Deprecate option "executable" for plugin Codeception

[2020-11-01 15:17] corpsee commented on #394
Done.

[2020-11-01 15:17] #394 closed

[2020-11-01 15:17] corpsee commented on #388
Done.

[2020-11-01 15:17] #388 closed

[2020-11-03 15:51] corpsee opened #395 "[Bug] Wrong name of parameter 'repository_slug' ('repository_lug') in BitbucketNotify"
## Expected behavior

Parameter has name 'repository_slug'.

## Actual behavior

Parameter has name 'repository_lug'.

[2020-11-03 15:57] corpsee commented on #395
Done.

[2020-11-03 15:57] #395 closed

[2020-11-10 16:33] corpsee opened #396 "[Bug] Webhook don't create build"
## Expected behavior

Webhook create build.

## Actual behavior

Webhook don't create build.

[2020-11-11 15:52] corpsee commented on #396
Fixed.

[2020-11-11 15:52] #396 closed

[2020-11-16 15:25] corpsee commented on #390
Done.

[2020-11-16 15:25] #390 closed

[2020-11-21 16:53] corpsee commented on #389
Done.

[2020-11-21 16:53] #389 closed

[2020-11-21 16:56] corpsee opened #397 "[Enhancement] Improve branches dropdown on project page"
Improve branches dropdown on project page:

* Sort branches by the count of builds per branch
* Limit dropdown height and add scroll for long lists.

[2020-11-21 17:01] corpsee commented on #397
Done.

[2020-11-21 17:01] #397 closed

[2020-11-24 15:54] corpsee commented on #385
Done.

[2020-11-24 15:54] #385 closed

[2020-12-01 11:41] fbenas opened #398 "Allow github to use SSH protocol for clones even when project key not present"
I wish to always use the SSH protocol for every project. I am using an SSH key that is set in the user's home directory at `~/.ssh/` that allows git to clone from GitHub; authentication like this seems reasonable and works correctly.

However, because of the check in the `GithubBuild.php` class https://github.com/php-censor/php-censor/blob/master/src/Model/Build/GithubBuild.php#L173, HTTP will be

[2020-12-01 15:06] corpsee commented on #398
@fbenas I totally agree with your vision. And I have plans to refactor the build sources. But I don't know how soon.

[2020-12-13 07:53] corpsee opened #399 "[Bug] Wrong PhpUnit status (successful) when command execution finished with not 0 code and used code coverage."
## Expected behavior

PhpUnit have status failed when command execution finished with not 0 code.

## Actual behavior

PhpUnit have status successful when command execution finished with not 0 code  and used code coverage.

[2020-12-18 15:12] corpsee commented on #399
Done.

[2020-12-18 15:12] #399 closed

[2020-12-18 15:16] corpsee opened #400 "[Bug] Error in PhpLoc plugin with XDebug 3+"
## Expected behavior

PhpLoc version 4.0.1 works fine on any PHP/XDebug versions.

## Actual behavior

PhpLoc version 4.0.1 has error on XDebug version 3+. Message: `Fatal error: Uncaught Error: Call to undefined function xdebug_disable()`. (https://github.com/sebastianbergmann/phploc/pull/224)

[2020-12-29 16:51] corpsee commented on #400
Done.

[2020-12-29 16:51] #400 closed

[2021-01-10 05:42] kromonos opened #401 "[Bug] PHP Copy/Paste Detector Unknown option "--names-exclude""
## Expected behavior

A lot of output

## Actual behavior

[code]

## Steps to reproduce

Add following to your .php-censor.yml
[code]

## Environment

* PHP Censor version: 2.0.0
* Operating System: Debian 10
* PHP version: 7.4
* MySQL/PostgreSQL version: 5.7.22

[code]

[2021-01-10 05:56] corpsee commented on #401
@kromonos Thanks! I try to fix it soon. For now you may use workaround: change `--names-exclude` to `--exclude` [in the plugin source code](https://github.com/php-censor/php-censor/blob/master/src/Plugin/PhpCpd.php#L68).

[2021-01-12 16:22] corpsee commented on #401
Fixed in branches: `release-1.3`, `release-2.0` and `master` and will be released with versions `1.3.1` and `2.0.1`. @kromonos Could you test fix on your installation please?

[2021-01-12 21:15] kromonos commented on #401
Works as expected 👍 Thank you :)

[2021-01-13 15:33] #401 closed

[2021-01-26 12:22] ismaail commented on #253
@corpsee Any news about this (moving to Symfony) and can we contribute yet ?

[2021-01-26 16:30] corpsee commented on #253
@ismaail Of course, any contribution will be a great help!
So far, I don't have enough free time for so big changes. Perhaps something will change in the future.

[2021-01-29 14:05] IndrekHaav opened #402 "[Bug] PostgreSQL plug-in fails"
## Expected behavior

Queries specified in the build config being successfully executed.

## Actual behavior

Plug-in fails with the following error:

"The auto-commit mode cannot be changed for this driver"

## Environment

* PHP Censor version: 2.0.1
* Operating System: Ubuntu 20.04.2
* PHP version: 7.4.3
* PostgreSQL version: 11.10

[2021-01-30 06:49] corpsee commented on #402
@IndrekHaav Could you also show your build config?

[2021-01-30 10:08] IndrekHaav commented on #402
[code]

It's the test and complete stages that fail with the above error. Using the shell plug-in and passing the commands to `psql` (as in the setup stage) works fine.

I also set up PHP Censor on Debian, and the exact same build config works there. Versions are as follows:

 - PHP Censor version: 2.0.1
 - Operating System: Debian 10.7
 - PHP version: 7.4.14 (from https://deb.sury.org)
 - Postgre

[2021-02-02 15:31] corpsee commented on #402
@IndrekHaav I can not reproduce issue, plugin works fine. I guess problem in your queries (`create_db.sql` or `generate_data()`).

[2021-02-02 15:31] #402 closed

[2021-02-02 18:07] IndrekHaav commented on #402
I tried with the following minimal build config:

[code]

Same problem. Full build output:

[code]

[2021-02-07 15:31] corpsee commented on #402
@IndrekHaav I still can not reproduce your problem. I use Mint 20 (Ubuntu 20.04), PHP 7.4.14, PostgreSQL 13.1 and PHP Censor 2.0.1. All works fine.

[2021-02-07 16:02] garas commented on #402
@IndrekHaav
Could you update to latest PHP 7.4?

https://github.com/php/php-src/commit/68dcaa29d8a2d51f0fed5fde9f3543a1338bfe44 fixed some auto-commit issues, and removed error message you've got.

[2021-02-07 16:54] IndrekHaav commented on #402
7.4.3 *is* the latest on Ubuntu 20.04.

I'll try using 7.4.15 from `ppa:ondrej/php` when I get a moment. But if a specific minor version from a third-party repo is required to get PHP Censor to work on the most recent LTS release of the most popular Linux distro, I feel like that should be mentioned in the install docs somewhere.

[2021-02-08 16:17] corpsee commented on #402
@IndrekHaav There is [page of documentation](https://github.com/php-censor/php-censor/blob/master/docs/en/workarounds.md) with some workarounds, you can add description and workaround for your case there by PR.

[2021-02-16 11:24] leewillis77 opened #403 "[Bug] Invalid format : Can't connect to new Bitbucket projects after upgrade to 2.x"
## Expected behavior

When a new project is setup and SSH keys configured, build clones repository successfully.

## Actual behavior

When a new project is setup, and SSH keys configured, the build fails with the following error:
[code]

Note: Existing projects are unaffected.

The only difference I can see between a working, and non-working project is for the old (working) projects, the private k

[2021-02-16 13:32] leewillis77 commented on #403
After a bit of investigation, I *think* the issue is that the private key is generated and stored with \r\n style newlines.

The following SQL update resolved the issue for me:
`update projects set ssh_private_key = REPLACE(ssh_private_key, '\r', '') where id = 15;`

[2021-02-16 16:06] corpsee commented on #403
@leewillis77 Thank you for the detailed report with investigation and workaround! I will try to fix it soon.

[2021-02-21 15:55] corpsee commented on #403
Fixed in branch `2.0-ssh-key-fix`. @leewillis77 Could you test fix with your case please?

[2021-02-22 09:09] leewillis77 commented on #403
I'm afraid that, the keys generated there don't work either (although they no longer appear to have \r characters in). They give the same "invalid format" error as the original report.

Here's the steps I'm following:

- Go to Admin Options » Add Project
- Choose "Bitbucket (Git)"
- Enter repository name, title and default branch
- Click "Save Project"
- Copy "public key"
- Got to Bitbucket, and c

[2021-03-01 17:10] corpsee commented on #403
@leewillis77 Could you test your case on branch `2.0-ssh-key-fix` again please? I guess I fix problem and now I can't reproduce it. For testing you should create new project with new key or edit/save any old project before use key. Thanks!

[2021-03-01 17:34] leewillis77 commented on #403
Confirmed working here. Thanks!

[2021-03-09 16:11] corpsee commented on #403
Merged into branches `release-1.3`, `release-2.0` and `master`. It will be released in versions `1.3.2` and `2.0.2`.

[2021-03-09 16:11] #403 closed

[2021-03-17 15:40] subnauez opened #405 "Environments & Branches setup"
Hello,

We are experiencing some trouble with environments & branches setup.
Until now, we used an old PHP CI version (0.24.0) without issue.
We are currently moving to PHP CI version 2.1.0 and things do not behave like the old version with the same parameters.

The main problem happen when we try to build an app for our Development environment.
As we have declared our master branch as the default

[2021-03-18 15:08] corpsee commented on #405
@subnauez Thank you for the detailed explanation. Could you also attach your build configuration example?

[2021-03-18 15:34] subnauez commented on #405
Sure !

FYI :
- We only use 2 environments : Development & Production
- We especially use 2 Git branches : develop & master
- The same environments are set for several applications that we want to build and deploy on several web servers

Here is our .php-censor.yml file content :

[code]

Here is the project edit page :

![Capture d’écran 2021-03-18 à 16 27 40](https://user-images.githubusercont

[2021-03-18 15:36] corpsee commented on #405
@subnauez Thanks! Could you please test your case in branch `1.3-environments-fix`? I guess I fixed it.

[2021-03-19 09:32] subnauez commented on #405
Wa have tested your fix and we confirm that the right environment object is retrieved by adding the project ID to the SQL query ! Thank you for this update !
Can you confirm that this fix will be included in 2.0.x branch please ?

Best regards.

[2021-03-19 15:43] corpsee commented on #405
I merged fix into branches: `release-1.3`, `release-2.0` and `master` and you can use any of this branches. Tagged releases `1.3.2` and `2.0.2` will be later.

[2021-03-19 15:43] #405 closed

[2021-03-19 16:17] subnauez commented on #405
Thank you very much for your prompt reaction and the quick fix ! Best regards !

[2021-03-26 06:39] gnomii commented on #369
Hello,

I success to configure gitea to execute a build.
My Gitea version is v1.13.0 and I configure a "gitea" type of hook, I set the url of my PHP CENSOR with "?branch=XXX", HTTP method "GET" and with the branch filter.

I have not dynamically other variable. I use the environment settings in my case.

Is it possible to add the environment settings in the webhook ?

[2021-03-26 14:52] gnomii commented on #369
I send a POST instead GET, because I have an error "414 Request-URI Too Large"

[2021-03-26 14:57] kromonos commented on #369
I just set it up too. Using on Gitea a Gitea Webhook with POST request to the URL <php-censor.url>/webhook/gogs/<project id> and configured my Project for a gog hook. Works perfectly.

Gitea Version: 1.13.6
PHP Censor: v2.0.2

[2021-03-26 16:31] corpsee commented on #369
@gnomii Could you create new issue for the environment settings in a webhook with detailed description of the feature?
@kromonos Can I close the issue?

[2021-03-26 16:33] kromonos commented on #369
As it works, the issue is done 😊

[2021-03-26 16:34] #369 closed

[2021-03-29 07:06] gnomii opened #407 "[Feature] Add environment settings for webhook build"
## Add environment settings for webhook build

When you configure a webhook parameters, there is no environment parameters. At the moment, the branch parameter will fetch the attached environments to run all build environments.

It would be great to integrate the environment parameters to run only build of the environment concerned.

[2021-03-30 02:58] corpsee commented on #407
@gnomii Thanks.

I don't clear understand what exactly you want. GET parameter with environment variable in the webhook URL will solve your issue?

[2021-03-30 14:25] gnomii commented on #407
Yes.

Actually I send a POST like "https://PHPCENSOR/webhook/git/PROJECT?branch=dev" and I would like to replace "branch" by "environment" and of course to build the environment.

[2021-04-03 16:01] corpsee commented on #407
@gnomii Could you test branch `2.1-webhook-environment` for your case with environment param? GET parameter named "environment" (For example: *https://PHPCENSOR/webhook/git/PROJECT?environment=dev*).

[2021-04-06 05:45] gnomii commented on #407
@corpsee I tested and it's work. Great !!! thank's you

[2021-04-06 15:43] corpsee commented on #407
@gnomii Thanks! I merged the branch into `master`. The feature will be released with version `2.1.0`.

[2021-04-06 15:43] #407 closed

[2021-05-04 16:52] StudioMaX opened #408 "[Bug] Incorrect directories provided for PHPStan analyse"
According to the documentation of PHPStan we can provide directories with two ways:
- via command line arguments like `vendor/bin/phpstan analyse src tests` ([Link](https://phpstan.org/user-guide/getting-started#first-run))
- inside `phpstan.neon` at `parameters.paths` ([Link](https://phpstan.org/config-reference#neon-format))

Also you may notice a big warning here:

So an issue is that we should

[2021-05-04 16:56] corpsee commented on #408
@StudioMaX Thank you for the detailed report!

[2021-05-05 15:06] #408 closed

[2021-06-20 10:07] Ooypunk opened #410 "Socket error 0: 111"
When I run "bin/console php-censor:worker" on the command line, I get this error message:
"
In StreamSocket.php line 27:

  Socket error 0: 111
"

What does that mean?

[2021-06-20 14:58] corpsee commented on #410
You should install and start Beanstalkd queue.

[2021-06-24 07:19] Ooypunk commented on #410
First, might I suggest then that the error messages says so?

Second, Beanstalkd is installed; when I type `beanstalkd -v` I get "beanstalkd 1.10".
You say "start the queue", but how do I do that? According to the manual this isn't necessary.

[2021-06-24 07:28] Ooypunk opened #411 "In FileSocket.php line 49: Unknown error"
When I run "bin/console php-censor:worker" on the command line, I get this error message:
"
In FileSocket.php line 49:

  Unknown error
"

What does that mean?

[2021-06-24 16:09] corpsee commented on #411
I guess this is same that #410.

[2021-06-24 16:09] #411 closed

[2021-06-24 16:18] corpsee commented on #410
The error says that you cann't connect to your Beanstalkd from application. You should check your queue configuration, installation etc.

Try to connect to your Beanstalkd from PHP-script (Not from PHP Censor). It is working fine?

Additionally, Could you give more details about your installation (PHP Censor version, PHP version, PHP Censor configuration etc.)?

[2021-07-11 06:05] #410 closed

[2021-07-13 07:01] Ooypunk commented on #410
Sorry I didn't respond earlier. It was, as you said, that Beanstalkd wasn't running. I started it with "/etc/init.d/beanstalkd start", then this error was gone.

IMHO, this should be added to the manual.

[2021-07-13 07:20] Ooypunk commented on #410
Sorry I didn't respond earlier. It was, as you said, that Beanstalkd wasn't running. I started it with "/etc/init.d/beanstalkd start", then this error was gone.

IMHO, this should be added to the manual.

[2021-07-14 09:22] corpsee commented on #410
@Ooypunk Excellent! Could you create a PR for the manual with additions?

[2021-07-14 10:09] Ooypunk commented on #410
I'll try!

[2021-07-24 18:46] ismaail opened #413 "[Bug] TypeError: $key must be of type int"
using branch **master** with commit `c363b6a`, i get this type error:

[code]

### Environment

* PHP Censor version: branch **master**, commit `c363b6a`
* Operating System: Docker
* PHP version: 8.0.8
* MySQL version: 5.7

[2021-07-25 07:20] corpsee commented on #413
@ismaail Thank you for the report! I guess error appears only on MySQL installations. Could you check your case on branch `2.1-types-fix-413` please?

[2021-07-25 15:10] ismaail commented on #413
@corpsee tested the branch `2.1-types-fix-413`,

build success :heavy_check_mark: thank you

Tested on both php 8.0 & 7.4

[2021-07-25 15:17] ismaail commented on #413
similar error shows up in the home page (screenshot) and in project page `http://www.phpci.localhost/project/view/4`

![image](https://user-images.githubusercontent.com/4411670/126904169-c8e27fa5-27b3-4585-89db-3e514ae7099e.png)

[code]

[2021-07-25 15:24] corpsee commented on #413
@ismaail Could you check again please?

[2021-07-25 16:21] ismaail commented on #413
The commit `1eeddfd8` solves the issue, thanks :+1:

[2021-07-25 16:25] #413 closed

[2021-08-05 15:57] #156 closed

[2021-08-05 15:58] #181 closed

[2021-09-16 20:05] Ooypunk opened #418 "Project too large or settings I have missed?"
There's this project I try to get tested, but two plugins give errors:
- "PHP Code Sniffer": "Allowed memory size [...] exhausted"
- "PHP Mess Detector": "The process [...] exceeded the timeout of 600 seconds."

Are there settings to get these to work? Like, for example, double the time-out time for a specific plugin?

[2021-09-18 08:37] corpsee commented on #418
I guess your project is too big and wand more build time and memory.

1. You can increase allowed memory size in PHP settings.
2. You can increase queue timeout in application settings option `php-censor.queue.lifetime`.

[2021-09-18 08:38] #418 closed

[2021-11-05 08:08] qah3set commented on #266
Good afternoon. I have a question, now I can write autotests for projects using php, can I do the same using JS? If so, is there an instruction?

[2021-11-07 14:37] corpsee commented on #266
@qah3set You can write tests for JS with any testing tool what you want. And you have two ways to integrate tests into CI:

1. Execute your tests by [Shell](https://github.com/php-censor/php-censor/blob/master/docs/en/plugins/shell.md) plugin (or [Gulp](https://github.com/php-censor/php-censor/blob/master/docs/en/plugins/gulp.md)) and have simple log output (text).

2. Write new your own plugin fo

[2022-03-01 16:35] corpsee commented on #384
Done.

[2022-04-30 09:25] #124 closed

[2022-04-30 09:28] #210 closed

[2022-04-30 09:29] #291 closed

[2022-04-30 09:30] #296 closed

[2022-04-30 09:31] #319 closed

[2022-06-05 08:24] corpsee commented on #14
Implemented in `master` branch. Will be released with version `2.1.0`.

[2022-06-21 14:43] corpsee commented on #72
Not relevant now.

[2022-06-21 14:43] #72 closed

[2022-06-21 14:45] corpsee commented on #205
Not relevant now.

[2022-06-21 14:45] #205 closed

[2022-06-21 14:45] corpsee commented on #340
Not relevant now.

[2022-06-21 14:45] #340 closed

[2022-06-21 14:45] corpsee commented on #341
Not relevant now.

[2022-06-21 14:45] #341 closed

[2022-06-21 14:45] corpsee commented on #342
Not relevant now.

[2022-06-21 14:45] #342 closed

[2022-06-21 14:46] corpsee commented on #343
Not relevant now.

[2022-06-21 14:46] #343 closed

[2022-06-21 14:46] corpsee commented on #345
Not relevant now.

[2022-06-21 14:46] #345 closed

[2022-06-21 14:46] corpsee commented on #346
Not relevant now.

[2022-06-21 14:46] #346 closed

[2022-06-21 14:46] corpsee commented on #347
Not relevant now.

[2022-06-21 14:46] #347 closed

[2022-06-21 14:46] corpsee commented on #349
Not relevant now.

[2022-06-21 14:46] #349 closed

[2022-06-21 14:46] corpsee commented on #350
Not relevant now.

[2022-06-21 14:46] #350 closed

[2022-06-21 14:49] #370 closed

[2022-07-25 02:56] Almaani41 opened #430 "https://www.Almaani0n.net"
Get

_Originally posted by @Almaani41 in https://github.com/php-censor/php-censor/issues/429#issuecomment-1193498566_

[2022-07-25 03:14] #430 closed

[2022-09-01 08:27] gnomii opened #432 "[Bug] Can not use webhook with "environment""
Hello,

I have two environments "development" and "production" to deploy my projects. I use a webhook with gitea server and I receive a 500 status code when it called the webhook.

I have this error since tag 2.1.0. Before this, I used a master with this feature https://github.com/php-censor/php-censor/issues/407

You can try with curl command in terminal:

`curl 'PHPCENSOR/webhook/git/PROJECTID?e

[2022-09-01 10:58] corpsee commented on #432
@gnomii Could you check fix in the branch `2.1-secrets-security`, please? Thanks!

[2022-09-01 11:41] gnomii commented on #432
@corpsee I have this error now:

`
{"status":"failed","error":"Symfony\\Component\\HttpFoundation\\Response::setContent(): Argument #1 ($content) must be of type ?string, array given, called in \/usr\/local\/www\/php-censor\/src\/Controller\/WebhookController.php on line 91"}
`

[2022-09-01 11:49] gnomii commented on #432
And I see I can use the identifier of project but the ID in the url of webhook, is it normal ?

[2022-09-01 12:03] corpsee commented on #432
@gnomii
1. I fixed error with `setContent()`. Could you check again, please?
2. About `projectId`: I guess it is normal because ID is not a secret information. Also integrations with Github etc. have it own payload without project ID.

[2022-09-01 13:29] gnomii commented on #432
@corpsee

Ok, thanks you very much for your reactivity.

I try with curl command to execute the webhooks but for one case I have status OK, and other case a status ignored with this message `"message":"For this commit already created builds (140)"`.

In the two case, I don't commit anything before execute curl command.

[2022-09-01 13:40] corpsee commented on #432
@gnomii As far as I understand, you don't have parameter `commit_id` in webhook and you build `HEAD`. And you built 2 builds on the same commit.

[2022-09-01 14:14] gnomii commented on #432
@corpsee yes, I don't have `commit_id`.

In the case of project X, I can execute the webhook many times, but for the project Y case, the webhook returns the error.
If I directly execute the build on the interface, I have not error.

I test with a new commit on project Y, and the webhook give me the same errors. Perhaps I have a problem with my repo ?

I will try with other projects.

[2022-09-01 14:36] gnomii commented on #432
I delete old builds and it works. I think it's in my side, I migrate the database from an other server, it's not a clean installation.

Thanks you for your help !

[2022-09-01 16:34] #432 closed

[2022-09-01 16:53] corpsee commented on #432
@gnomii Now you can use branch `release-2.1` or tag `2.1.2`.